$module: 'blog-menu';

.#{$module} {
	@include grid-column-row();
	float: none !important; // https://github.com/zurb/foundation-sites/issues/8108
	padding-top: rem-calc(15);
	padding-bottom: rem-calc(15);

	@include breakpoint(xmedium) {
		padding-top: 0;
	}

	@include breakpoint(xxmedium) {
		padding-bottom: rem-calc(27);
	}

	&__box {
		background-color: $white;
	}

	&__list {
		margin: 0;
		list-style-type: none;
		text-align: center;
		padding: rem-calc(10 0);

		@include breakpoint(xmedium) {
			padding: rem-calc(0);
		}
	}

	&__item {
		display: block;
		padding: rem-calc(0 20);

		@include breakpoint(xmedium) {
			display: inline-block;
			padding: rem-calc(0 28);
		}
	}

	&__link {
		position: relative;
		font-size: rem-calc(16);
		text-transform: uppercase;
		display: block;
		padding: rem-calc(10 0);

		@include breakpoint(xmedium) {
			padding: rem-calc(12 0);
		}

		@include breakpoint(xxmedium) {
			padding: rem-calc(18 0);
		}

		&::after {
			transition: all 300ms;
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			content: '';
			height: rem-calc(2);
			background: transparent;
		}

		&:hover {
			color: $body-font-color;

			&::after {
				background: #ffce00;
			}
		}

		&--active {
			&::after {
				background: #ffce00;
			}
		}
	}
}
