$module: 'blog-list';

.#{$module} {
	@include grid-column-row(0);
	float: none !important; // https://github.com/zurb/foundation-sites/issues/8108

	&__row {
		@include grid-row();
		// @include grid-row-nest(10);
		// @include grid-column-row(10);
	}
}
