$module: 'blog-post';
$hover-box-shadow: $modal-shadow;
$link-color: $anchor-color;
$link-hover-color: $brand-orange;

.#{$module} {
	@include grid-column-row();
	float: none !important; // https://github.com/zurb/foundation-sites/issues/8108
	margin-bottom: rem-calc(15);

	@include breakpoint(medium) {
		margin-bottom: rem-calc(30);
	}

	@include breakpoint(xxmedium) {
		margin-bottom: rem-calc(75);
	}

	&__box {
		@include clearfix;
		background: $white;
	}

	&__top {
		@include grid-row();
	}

	&__image-box {
		@include grid-column(12, 0);

		@include breakpoint(xmedium) {
			@include grid-column(6, 0);
		}

		@include breakpoint(xxmedium) {
			@include grid-column(6.7, 0);
		}
	}

	&__image {
		@include breakpoint(medium) {
			// padding-right: rem-calc(30);
		}
	}

	&__header {
		@include grid-column(12);

		@include breakpoint(xmedium) {
			@include grid-column(6, 0);
			@include grid-column-end;
			padding-right: rem-calc(20);
			padding-left: rem-calc(20);
		}

		@include breakpoint(xxmedium) {
			@include grid-column(5.3, 0);
			@include grid-column-end;
			padding-right: rem-calc(45);
			padding-left: rem-calc(45);
		}
	}

	&__navigation {
		@include clearfix;
		margin-top: rem-calc(25);
		text-align: center;

		@include breakpoint(xmedium) {
			margin-top: rem-calc(35);
		}
	}

	&__back {
		@include show-for(medium);
		float: left;
	}

	&__breadcrumbs {
		display: inline-block;

		@include breakpoint(medium) {
			display: block;
			float: right;
		}
	}

	&__title {
		font-size: rem-calc(26);
		margin-top: rem-calc(15);

		@include breakpoint(medium) {
			font-size: rem-calc(28);
			margin-top: rem-calc(18);
		}

		@include breakpoint(xxmedium) {
			font-size: rem-calc(40);
			margin-top: rem-calc(25);
		}
	}

	&__meta {
		margin-top: rem-calc(25);
		text-align: center;
	}

	&__views {
		position: relative;
		display: inline-block;
		color: #999999;
		padding-left: rem-calc(35);

		@include breakpoint(medium) {
			display: block;
			float: left;
		}

		&::before {
			@include vertical-center;
			@include icon($icon-see);
			left: 0;
			font-size: rem-calc(20);
			color: $body-font-color;
		}

		span {
			@include show-for(xxsmall);
		}
	}

	&__comments-count {
		position: relative;
		display: inline-block;
		color: #999999;
		margin-left: rem-calc(25);
		padding-left: rem-calc(35);

		@include breakpoint(medium) {
			display: block;
			float: left;
		}

		&::before {
			@include vertical-center;
			@include icon($icon-comments);
			left: 0;
			font-size: rem-calc(20);
			color: $body-font-color;
		}

		span {
			@include show-for(xxsmall);
		}
	}

	&__content-box {
		@include grid-column(12);
		padding-top: rem-calc(20);

		@include breakpoint(xmedium) {
			@include grid-column(8.5, 0);
			@include grid-column-offset(1.75);
			padding-top: rem-calc(50);
		}
	}

	&__content {
		font-size: rem-calc(18);
		line-height: rem-calc(28);
	}

	&__add-comment {
		@include grid-column(12);
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(40);

		@include breakpoint(xmedium) {
			@include grid-column(8.5, 0);
			@include grid-column-offset(1.75);
			@include grid-column-end;
			padding-top: rem-calc(36);
			padding-bottom: rem-calc(70);
		}
	}

	&__add-comment-button {
		position: relative;
		font-size: rem-calc(14);
		text-transform: uppercase;
		padding-left: rem-calc(50);
		cursor: pointer;

		@include breakpoint(xmedium) {
			font-size: rem-calc(18);
			padding-left: rem-calc(56);
		}

		@include link-hfa {
			color: $anchor-color-hover;

			&::before {
				color: $anchor-color-hover;
			}

			span {
				border-bottom-color: $anchor-color-hover;
			}
		}

		&::before {
			@include vertical-center;
			@include icon($icon-plus);
			left: 0;
			font-size: rem-calc(28);
			color: $body-font-color;

			@include breakpoint(xmedium) {
				font-size: rem-calc(33);
			}
		}

		span {
			border-bottom: 1px dotted #b3b3b3;
		}
	}
}
