$module: 'blog-intro';
$hover-box-shadow: $modal-shadow;
$link-color: $anchor-color;
$link-hover-color: $brand-orange;

.#{$module} {
	@include grid-column(12);
	@include grid-column-end;
	@include grid-column-margin(15);

	@include breakpoint(xmedium) {
		@include grid-column(4);
		@include grid-column-end;
		@include grid-column-margin(30);
	}

	&__box {
		background: $white;
		transition: box-shadow 300ms;

		&:hover {
			box-shadow: $hover-box-shadow;

			.#{$module}__link {
				color: $link-hover-color;
				border-bottom-color: $link-hover-color;
			}
		}
	}

	&__image-link {
		display: block;
	}

	&__content {
		padding: rem-calc(20);
	}

	&__title {
		font-size: rem-calc(20);
		margin-bottom: rem-calc(15);
	}

	&__link {
		transition: all 300ms ease-in-out;
		color: $link-color;
		border-bottom: 1px solid transparent;
	}

	&__desc {
		font-size: rem-calc(16);

		p {
			margin-bottom: 0;
		}

		p + p {
			margin-top: rem-calc(10);
		}
	}
}
