$module: 'breadcrumbs';
$current-color: #bebebe;
$link-color: #999;

.#{$module} {
	&--inline {
		display: inline-block;
		@include breakpoint(xmedium down) {
		}
	}

	&__list {
		@include clearfix;
		margin: 0;
		list-style: none;
	}

	&__item {
		position: relative;
		float: left;
		line-height: 1;

		& + .#{$module}__item {
			margin-left: rem-calc(20);
			&::before {
				@include icon($icon-arrow);
				@include vertical-center;
				left: rem-calc(-15);
				font-size: rem-calc(8);
				color: $link-color;
			}

		}
	}

	&__link {
		font-size: rem-calc(14);
		color: $link-color;

		&--current {
			color: $current-color;
		}
	}
}
