$module: 'catalog';

.#{$module} {
	&__box {
		@include grid-column-row();
		float: none !important; // https://github.com/zurb/foundation-sites/issues/8108
		padding-top: rem-calc(30);
	}

	&__title {
		font-size: rem-calc(36);
		text-align: center;
		margin-bottom: rem-calc(5);

		@include breakpoint(medium) {
			font-size: rem-calc(40);
		}

		@include breakpoint(xmedium) {
			font-size: rem-calc(50);
		}
	}

	&__breadcrumbs {
		text-align: center;
		margin-bottom: rem-calc(30);

		.breadcrumbs {
			display: inline-block;
		}
	}

	&__filters {
		padding-bottom: rem-calc(60);
	}

	&__filters-row {
		@include grid-row();
	}

	&__filters-reset-box {
		@include grid-column(12);
		text-align: center;
		padding-top: rem-calc(10);

		@include breakpoint(xmedium) {
			@include grid-column(4);
			text-align: left;
		}
	}

	&__filters-reset {
		color: #999999;
		border-bottom: 1px dashed #999999;
		cursor: pointer;
	}

	&__filters-total-box {
		@include grid-column(12);
		text-align: center;
		padding-top: rem-calc(10);

		@include breakpoint(xmedium) {
			@include grid-column(4);
			@include grid-column-end;
		}
	}

	&__filter-column {
		@include grid-column(12);
		padding-bottom: rem-calc(10);

		@include breakpoint(xmedium) {
			@include grid-column(4);
			padding-bottom: 0;
		}

		&--sort {
			@include breakpoint(xmedium) {
				text-align: center;
			}
		}

		&--slider {
			height: rem-calc(41);
			margin-bottom: rem-calc(10);

			@include breakpoint(xmedium) {
				margin-bottom: rem-calc(0);
			}
		}
	}

	&__filter-label {
		text-align: right;
		padding-right: rem-calc(10);
		vertical-align: middle;

		&--slider {
			height: rem-calc(41);
			padding-right: rem-calc(30);
		}
	}

	&__filter-box {
		display: inline-block;
		vertical-align: middle;

		&--slider {
			width: calc(100% - 100px);
			height: rem-calc(41);
			// width: 80%;
			// height: rem-calc(41);
		}

		&--brands {
			width: calc(100% - 60px);
		}

		&--sort {
			width: calc(100% - 120px);
		}
	}

	&__filter-sort-input {
		width: 100%;
		height: rem-calc(36);
		margin-bottom: 0;
	}

	&__filter-slider {
		display: block;
		margin-top: rem-calc(17);
		margin-bottom: 0;
	}

	&__filter-brands-input {
		width: 100%;
		height: rem-calc(36);
		margin: 0;

		@include breakpoint(xmedium) {
			width: auto;
			margin-right: rem-calc(10);
		}
	}

	&__filter-brand-selected {
		position: relative;
		display: inline-block;
		border: 1px solid $brand-satin-linen;
		padding: rem-calc(5 30 5 10);
		vertical-align: top;
		border-radius: $global-radius;

		&::before {
			@include vertical-center;
			@include icon($icon-x);
			font-size: rem-calc(11);
			right: rem-calc(10);
		}
	}

	&__list {
		@include clearfix;
		@include grid-layout(1, '.product-intro');

		@include breakpoint(medium) {
			@include grid-layout(2, '.product-intro', 0);
		}

		@include breakpoint(xmedium) {
			@include grid-layout(3, '.product-intro', 0);
		}

		@include breakpoint(xxmedium) {
			@include grid-layout(4, '.product-intro', 0);
		}

		& > .product-intro {
			margin-bottom: rem-calc(15);
		}
	}

	&__navigation {
		@include grid-row();
		margin-top: rem-calc(20);

		@include breakpoint(xxmedium) {
			margin-top: rem-calc(50);
		}
	}

	&__pagination {
		@include grid-column(12);
		margin-bottom: rem-calc(20);

		@include breakpoint(xxmedium) {
			@include grid-column(4);
			margin-bottom: 0;
		}

		& > .pagination {
			@include breakpoint(xxmedium) {
				text-align: left;
			}
		}
	}

	&__show-more {
		@include grid-column(12);
		text-align: center;

		@include breakpoint(xxmedium) {
			@include grid-column(4);
			@include grid-column-end;
		}
	}

	&__show-more-button {
		position: relative;
		width: rem-calc(196);
		height: rem-calc(57);
		cursor: pointer;

		@include link-hfa {
			&::before {
				color: $anchor-color-hover;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-solid-medium);
			font-size: rem-calc(57);
			color: $black;
		}

		span {
			position: relative;
			z-index: 1;
			font-size: rem-calc(16);
			color: $white;
			text-transform: uppercase;
		}
	}
}
