<nav class="breadcrumbs breadcrumbs--inline">
	<ul class="breadcrumbs__list">
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link">
				Главная
			</a>
		</li>
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link">
				Корзина
			</a>
		</li>
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link breadcrumbs__link--current">
				Оформление
			</a>
		</li>
	</ul>
</nav>
