<div class="header-checkout">
	<div class="header-checkout__box">
		<div class="header-checkout__back">
			<a href="#" class="header-checkout__back-link">
				<span>
					Вернуться к покупкам
				</span>
			</a>
		</div>
		<div class="header-checkout__center">
			<div class="logo-small">
				<a href="" class="logo-small__link">
					<img src="{{root}}assets/img/logos/logo.png" alt="Vje shop" class="logo-small__image">
				</a>
			</div>
		</div>
		<div class="header-checkout__right">
			<div class="header-checkout__contacts">
				{{> header-contacts-checkout}}
			</div>
			<div class="header-checkout__phone-toggle">
				{{> phone-toggler}}
			</div>
		</div>
	</div>
</div>
