<div class="header-cart-product" data-header-cart-product>
	<div class="header-cart-product__box">
		<div class="header-cart-product__image-box">
			<img src="http://placehold.it/135x135?text=Image+1" alt="Набор канцелярских скрепок «Сардина»" class="header-cart-product__image">
		</div>
		<div class="header-cart-product__data">
			<div class="header-cart-product__title">
				Набор канцелярских скрепок «Сардина»
			</div>
			<div class="header-cart-product__desc">
				Модная копилка!
			</div>
			<div class="header-cart-product__price">
				1 х 250 грн.
			</div>
		</div>
	</div>
</div>
