<header class="header">
	<div class="header__box">
		<div class="header__menu-toggle">
			<div class="menu-toggle">
				<button class="menu-toggle__icon" data-toggle="mainOffcanvas"></button>
			</div>
		</div>
		<div class="header__left">
			<div class="lang-switcher">
				<a href="" class="lang-switcher__link">
					Українською, будь-ласка
				</a>
			</div>
			<div class="header__contacts">
				{{> header-contacts}}
			</div>
		</div>
		<div class="header__center">
			<div class="logo">
				<a href="" class="logo__link">
					<img src="{{root}}assets/img/logos/logo.png" alt="Vje shop" class="logo__image">
				</a>
			</div>
		</div>
		<div class="header__right">
			{{#ifpage 'dashboard'}}
				{{> account-links}}
			{{/ifpage}}
			{{#unlesspage 'dashboard'}}
				{{> user-links}}
			{{/unlesspage}}

			{{> header-commerce}}
		</div>
	</div>
</header>
