<div class="header-cart">
	<div class="header-cart__box">
		<a href="cart.html" class="header-cart__icon-link"></a>
		<span class="header-cart__title float-right" data-toggle="header-cart-dropdown">
			<span class="header-cart__icon" >
			</span>
			<span class="header-cart__title-text">
				Корзина
			</span>
		</span>
		<span class="header-cart__counter">
			<span class="header-cart__count">
				122
			</span>
		</span>
	</div>
	<div id="header-cart-dropdown" class="header-cart-dropdown bottom">
		<div class="header-cart-dropdown__box">
			<div class="header-cart-dropdown__title">
				Ваша корзина
			</div>
			<div class="header-cart-dropdown__products" data-header-cart-product-container>
				{{> header-cart-product}}
				{{> header-cart-product}}
				{{> header-cart-product}}
			</div>
			<div class="header-cart-dropdown__total-box">
				<span class="header-cart-dropdown__total-products">
					2
				</span>
				<span>
					товара на сумму
				</span>
				<span class="header-cart-dropdown__total-price">
					580
					<span class="header-cart-dropdown__price-currency">
						грн.
					</span>
				</span>
			</div>
			<div class="header-cart-dropdown__actions">
				<a href="cart.html" class="header-cart-dropdown__cart-link">
					<span>
						Перейти в корзину
					</span>
				</a>
				<a href="order.html" class="header-cart-dropdown__checkout-link">
					<span>
						Офозрить заказ
					</span>
				</a>
			</div>
			<div class="header-cart-dropdown__info-box">
				<div class="header-cart-dropdown__info-title">
					Бесплатная доставка
				</div>
				<div class="header-cart-dropdown__info-content">
					При покупке на сумму от 400 грн. вы получаете бесплатную доставку по Украине
				</div>
			</div>
		</div>
	</div>
</div>
