<div class="header-wishlist">
	<a href="wishlist.html" class="header-wishlist__box">
		<span class="header-wishlist__icon">
			<span class="header-wishlist__counter">
				<span class="header-wishlist__count">
					122
				</span>
			</span>
		</span>
		<span class="header-wishlist__title">
			Желания
		</span>
	</a>
</div>
