
$icon-down: "\e940";
$icon-calendar-holder: "\e93f";
$icon-right: "\e93d";
$icon-arrow-left: "\e93e";
$icon-add-card: "\e900";
$icon-add-gift: "\e901";
$icon-arrow: "\e902";
$icon-arrow-2: "\e903";
$icon-artisan: "\e904";
$icon-bank: "\e905";
$icon-blank-large: "\e906";
$icon-blank-medium: "\e907";
$icon-blank-small: "\e908";
$icon-check: "\e909";
$icon-check-2: "\e90a";
$icon-circle: "\e90b";
$icon-clip: "\e90c";
$icon-clip-2: "\e90d";
$icon-clock: "\e90e";
$icon-close: "\e90f";
$icon-comments: "\e910";
$icon-delivery: "\e911";
$icon-download: "\e912";
$icon-facebook: "\e913";
$icon-fashion: "\e914";
$icon-fill-1: "\e915";
$icon-fill-3: "\e916";
$icon-fill-5: "\e917";
$icon-fill-7: "\e918";
$icon-fill-9: "\e919";
$icon-fill-11: "\e91a";
$icon-gifts: "\e91b";
$icon-heart: "\e91c";
$icon-heart-2: "\e91d";
$icon-heart-black: "\e91e";
$icon-home: "\e91f";
$icon-instagram: "\e920";
$icon-kitchen: "\e921";
$icon-left: "\e922";
$icon-menu: "\e923";
$icon-minus: "\e924";
$icon-minus-2: "\e925";
$icon-office: "\e926";
$icon-ok: "\e927";
$icon-package: "\e928";
$icon-package-2: "\e929";
$icon-package-gift: "\e92a";
$icon-phone: "\e92b";
$icon-phone-2: "\e92c";
$icon-pig: "\e92d";
$icon-play: "\e92e";
$icon-plus: "\e92f";
$icon-print: "\e930";
$icon-protection: "\e931";
$icon-search: "\e932";
$icon-see: "\e933";
$icon-solid-large: "\e934";
$icon-solid-medium: "\e935";
$icon-solid-small: "\e936";
$icon-techno: "\e937";
$icon-user: "\e938";
$icon-user-2: "\e939";
$icon-vk: "\e93a";
$icon-wallet: "\e93b";
$icon-x: "\e93c";
$icon-pencil: "\e942";
$icon-pencil2: "\e941";
$icon-eye: "\e9ce";
