@font-face {
	font-family: 'Hattori Hanzo';
	src: url('../fonts/HattoriHanzo-Light.eot');
	src: url('../fonts/HattoriHanzo-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HattoriHanzo-Light.woff') format('woff'),
		url('../fonts/HattoriHanzo-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Hattori Hanzo';
	src: url('../fonts/HattoriHanzo-LightItalic.eot');
	src: url('../fonts/HattoriHanzo-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HattoriHanzo-LightItalic.woff') format('woff'),
		url('../fonts/HattoriHanzo-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.ttf?z6ym2m') format('truetype'),
    url('../fonts/icomoon.woff?z6ym2m') format('woff'),
    url('../fonts/icomoon.svg?z6ym2m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
