.js-off-canvas-overlay {
	z-index: 1;
}

@mixin icon($icon) {
	display: inline-block;
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon' !important;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
	content: $icon;
}

@mixin icon-before($icon, $padding: 0) {
	&::before {
		@include icon($icon);
		padding-right: $padding;
	}
}

@mixin icon-after($icon, $padding: 0) {
	&::after {
		@include icon($icon);
		padding-left: $padding;
	}
}

@mixin icon-bullet($icon, $top: 0, $left: 0) {
	position: relative;

	&::before {
		@include icon($icon);
		position: absolute;
		top: $top;
		left: $left;
	}
}

%icon {
	display: inline-block;
	font-weight: normal;
	font-style: normal;
	font-family: FontAwesome;
	line-height: 1;
	text-decoration: inherit;
}

@mixin link-hfa() {
	&:hover, &:focus, &:active {
		@content;
	}
}
