// Pagination icons

%icon {
	background-repeat: no-repeat;
	width: 50px;
	height: 54px;
}
.icon-pagination-blank,
.icon-pagination-blank\:regular {
	@extend %icon;
	background-image: url('/assets/img/svg/pagination/pagination.svg');
	background-position: 0 0;
}
.icon-pagination-blank-dims {
	width: 50px;
	height: 54px;
}
.icon-pagination-left,
.icon-pagination-left\:regular {
	@extend %icon;
	background-image: url('/assets/img/svg/pagination/pagination.svg');
	background-position: 0 -54px;
	// background-size: 25px 25px;
}
.icon-pagination-left-dims {
	width: 50px;
	height: 54px;
}
.icon-pagination-right,
.icon-pagination-right\:regular {
	@extend %icon;
	background-image: url('/assets/img/svg/pagination/pagination.svg');
	background-position: 0 -108px;
}
.icon-pagination-right-dims {
	width: 50px;
	height: 54px;
}
.icon-pagination-solid,
.icon-pagination-solid\:regular {
	@extend %icon;
	background-image: url('/assets/img/svg/pagination/pagination.svg');
	background-position: 0 -162px;
}
.icon-pagination-solid-dims {
	width: 50px;
	height: 54px;
}
