<div class="press">
	<div class="press__list">
		<div class="press-item">
			<h3 class="press-item__title">
				<a href="#" class="press-item__title-link">
					Блог
				</a>
			</h3>
			<a href="#" class="press-item__image-link">
				<img src="http://placehold.it/300x300?text=300x300" alt="" class="press-item__image">
			</a>
			<h5 class="press-item__subtitle">
				<a href="" class="press-item__subtitle-link">
					Как настроить убегающий будильник? Тестируем
				</a>
			</h5>
		</div>
		<div class="press-item">
			<h3 class="press-item__title">
				<a href="#" class="press-item__title-link">
					Видео обзоры
				</a>
			</h3>
			<a href="#" class="press-item__image-link">
				<img src="http://placehold.it/300x300?text=300x300" alt="" class="press-item__image">
			</a>
			<h5 class="press-item__subtitle">
				<a href="" class="press-item__subtitle-link">
					Как настроить убегающий будильник? Тестируем
				</a>
			</h5>
		</div>
		<div class="press-item">
			<h3 class="press-item__title">
				<a href="#" class="press-item__title-link">
					Новости
				</a>
			</h3>
			<a href="#" class="press-item__image-link">
				<img src="http://placehold.it/300x300?text=300x300" alt="" class="press-item__image">
			</a>
			<h5 class="press-item__subtitle">
				<a href="" class="press-item__subtitle-link">
					Как настроить убегающий будильник? Тестируем
				</a>
			</h5>
		</div>
		<div class="press-item">
			<h3 class="press-item__title">
				<a href="#" class="press-item__title-link">
					Акции
				</a>
			</h3>
			<a href="#" class="press-item__image-link">
				<img src="http://placehold.it/300x300?text=300x300" alt="" class="press-item__image">
			</a>
			<h5 class="press-item__subtitle">
				<a href="" class="press-item__subtitle-link">
					Как настроить убегающий будильник? Тестируем
				</a>
			</h5>
		</div>
	</div>
</div>
