<div class="categories-nav">
	<div class="categories-nav__box">
		<ul class="categories-nav__list dropdown">
			<li class="categories-nav__item">
				<a class="categories-nav__link" data-toggle="menuid1" href="#">
					<span class="categories-nav__icon categories-nav__icon--gifts">
						Оригинальные подарки
					</span>
				</a>
				<div class="js-categories-nav__dropdown categories-nav__dropdown categories-nav__dropdown--wide" id="menuid1">
					<div class="categories-nav__submenu-box">
						<div class="categories-nav__submenu-column categories-nav__submenu-column--5">
							<div class="categories-nav__submenu-header">
								К празднику
							</div>
							<ul class="categories-nav__submenu">
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">One</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Two</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Three</a>
								</li>
							</ul>
						</div>
						<div class="categories-nav__submenu-column categories-nav__submenu-column--5">
							<div class="categories-nav__submenu-header">
								К празднику
							</div>
							<ul class="categories-nav__submenu">
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">One</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Two</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Three</a>
								</li>
							</ul>
						</div>
						<div class="categories-nav__submenu-column categories-nav__submenu-column--5">
							<div class="categories-nav__submenu-header">
								К празднику
							</div>
							<ul class="categories-nav__submenu">
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">One</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Two</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Three</a>
								</li>
							</ul>
						</div>
						<div class="categories-nav__submenu-column categories-nav__submenu-column--5">
							<div class="categories-nav__submenu-header">
								К празднику
							</div>
							<ul class="categories-nav__submenu">
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">One</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Two</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Three</a>
								</li>
							</ul>
						</div>
						<div class="categories-nav__submenu-column categories-nav__submenu-column--5">
							<div class="categories-nav__submenu-header">
								К празднику
							</div>
							<ul class="categories-nav__submenu">
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">One</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Two</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Three</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="categories-nav__item">
				<a class="categories-nav__link" data-toggle="menuid2" href="#">
					<span class="categories-nav__icon categories-nav__icon--home">
						Уютный дом
					</span>
				</a>
				<div class="js-categories-nav__dropdown categories-nav__dropdown" id="menuid2">
					<div class="categories-nav__submenu-box">
						<div class="categories-nav__submenu-column">
							<div class="categories-nav__submenu-header">
								К празднику
							</div>
							<ul class="categories-nav__submenu">
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">One</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Two</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Three</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="categories-nav__item">
				<a href="" class="categories-nav__link" data-toggle="menuid3">
					<span class="categories-nav__icon categories-nav__icon--kitchen">
						Стильная кухня
					</span>
				</a>
				<div class="js-categories-nav__dropdown categories-nav__dropdown categories-nav__dropdown--wide" id="menuid3">
					<div class="categories-nav__submenu-box">
						<div class="categories-nav__submenu-column categories-nav__submenu-column--3">
							<div class="categories-nav__submenu-header">
								К празднику
							</div>
							<ul class="categories-nav__submenu">
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">One</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Two</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Three</a>
								</li>
							</ul>
						</div>
						<div class="categories-nav__submenu-column categories-nav__submenu-column--3">
							<div class="categories-nav__submenu-header">
								К празднику
							</div>
							<ul class="categories-nav__submenu">
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">One</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Two</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Three</a>
								</li>
							</ul>
						</div>
						<div class="categories-nav__submenu-column categories-nav__submenu-column--3">
							<div class="categories-nav__submenu-header">
								К празднику
							</div>
							<ul class="categories-nav__submenu">
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">One</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Two</a>
								</li>
								<li class="categories-nav__submenu-item">
									<a class="categories-nav__submenu-link" href="#">Three</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="categories-nav__item">
				<a href="" class="categories-nav__link categories-nav__link--active">
					<span class="categories-nav__icon categories-nav__icon--fashion">
						Мода и стиль
					</span>
				</a>
			</li>
			<li class="categories-nav__item">
				<a href="" class="categories-nav__link">
					<span class="categories-nav__icon categories-nav__icon--office">
						Яркий офис
					</span>
				</a>
			</li>
			<li class="categories-nav__item">
				<a href="" class="categories-nav__link">
					<span class="categories-nav__icon categories-nav__icon--artisan">
						Вкусности
					</span>
				</a>
			</li>
			<li class="categories-nav__item">
				<a href="" class="categories-nav__link ">
					<span class="categories-nav__icon categories-nav__icon--techno">
						Техно
					</span>
				</a>
			</li>
			<li class="categories-nav__item">
				<div class="categories-nav__link categories-nav__link--search" data-toggle="searchOffcanvas">
				</div>
			</li>
		</ul>
	</div>
</div>
