$module: 'social-block';
$border-color: $brand-satin-linen;
$text-color: $brand-blue;

.#{$module} {
	@include clearfix;

	&__title {
		@include grid-column-row;
		float: none !important;  // https://github.com/zurb/foundation-sites/issues/8108
		font-size: rem-calc(24);
		text-align: center;
		margin-bottom: rem-calc(30);

		@include breakpoint(xmedium) {
			font-size: rem-calc(30);
			margin-bottom: rem-calc(60);
		}
	}
	&__box {
		@include grid-row;
		// margin-bottom: rem-calc(30);

		@include breakpoint(xmedium) {
			@include grid-row-size(rem-calc(1060));
			margin-bottom: rem-calc(60);
		}
	}

	&__item {
		@include grid-column(4);

		@include breakpoint(large) {
			@include grid-column(4, 60);
		}

		& + & {
			// margin-top: rem-calc(15);
		}
	}

	&__item-inner {
		@include clearfix;
		display: block;
		border-radius: $global-radius;
		border: 1px solid $border-color;
		padding: rem-calc(13 0);

		@include link-hfa {
			background: $brand-orange;
			border-color: $brand-orange;

			.#{$module}__item-icon {
				border-color: $white;

				&::before {
					color: $white;
				}
			}

			.#{$module}__item-title {
				color: $white;
			}

			.#{$module}__item-desc {
				color: $white;
			}
		}
	}

	&__item-icon {
		position: relative;
		float: left;
		width: 100%;
		height: rem-calc(48);
		margin-right: rem-calc(23);
		// padding-right: rem-calc(23);

		@include breakpoint(xmedium) {
			width: rem-calc(60);
			border-right: 1px solid $border-color;
		}

		@include breakpoint(xxmedium) {
			width: rem-calc(80);
		}

		&::before {
			@include absolute-center;
			font-size: rem-calc(34);
			color: $text-color;
		}

		&--fb {
			&::before {
				@include icon($icon-facebook);
			}
		}

		&--vk {
			&::before {
				@include icon($icon-vk);
				font-size: rem-calc(28);
			}
		}

		&--inst {
			&::before {
				@include icon($icon-instagram);
				font-size: rem-calc(32);
			}
		}
	}

	&__item-title {
		@include show-for(xmedium);
		font-size: rem-calc(15);
		color: $text-color;

		@include breakpoint(large) {
			font-size: rem-calc(17);
		}
	}

	&__item-desc {
		@include show-for(xmedium);
		font-size: rem-calc(18);
		line-height: rem-calc(20);
		color: $text-color;

		@include breakpoint(large) {
			font-size: rem-calc(22);
		}
	}
}
