<div class="waitlist">
	<div class="waitlist__box">
		<h1 class="waitlist__title">
			Лист ожидания
		</h1>
		<div class="waitlist__product-list">
			{{#repeat 6}}
				{{> product-intro-waitlist}}
				{{> product-intro-waitlist-3}}
				{{> product-intro-waitlist-2}}
			{{/repeat}}
		</div>
	</div>
</div>
