$module: 'pagination';

.#{$module} {
	text-align: center;
	margin: 0;
	list-style-type: none;

	&__item {
		display: inline-block;
		vertical-align: top;

		& + .#{$module}__item {
			margin-left: rem-calc(5);

			@include breakpoint(medium) {
				margin-left: rem-calc(16);

			}
		}
	}

	&__link {
		position: relative;
		display: block;
		width: rem-calc(33);
		height: rem-calc(33);
		font-size: rem-calc(20);

		@include breakpoint(medium) {
			width: rem-calc(53);
			height: rem-calc(50);
		}

		@include link-hfa {
			&::before,
			&::after {
				color: $anchor-color-hover;
			}
		}

		&::before {
			@include absolute-center;
			font-size: rem-calc(14);
			color: $black;

			@include breakpoint(medium) {
				font-size: rem-calc(21);
			}
		}

		&::after {
			@include absolute-center;
			@include icon($icon-circle);
			font-size: rem-calc(32);
			color: $black;

			@include breakpoint(medium) {
				font-size: rem-calc(50);
			}
		}

		&--prev {
			&::before {
				@include icon($icon-left);
			}

			&::after {
				@include icon($icon-circle);
			}
		}

		&--next {
			&::before {
				@include icon($icon-right);
			}

			&::after {
				@include icon($icon-circle);
			}
		}

		&--current {
			color: $white;

			&:hover {
				span {
					color: $white;
				}
			}

			&::before {
				content: none;
			}

			&::after {
				@include icon($icon-clip-2);
				color: $black;
			}
		}

		span {
			@include absolute-center;
			z-index: 1;
			line-height: 1;
			padding-top: rem-calc(2);
		}
	}
}
