$module: 'register';

.#{$module} {
	@include reveal-modal-base;
	@include grid-column-row(0);
	@include grid-row-size(rem-calc(555));
	@include disable-mouse-outline;
	float: none !important;
	background-color: transparent;

	@include breakpoint(xmedium) {
		margin-top: rem-calc(50);
	}

	@include breakpoint(xxmedium) {
		margin-top: rem-calc(70);
	}

	&__inner {
		position: relative;
		background: $white;
		margin: rem-calc(10);
		padding: rem-calc(50 15 15);

		@include breakpoint(medium) {
			padding: rem-calc(40 60);
		}
	}

	&__close {
		@include horizontal-center;
		top: rem-calc(15);
		width: rem-calc(30);
		height: rem-calc(30);
		cursor: pointer;

		@include breakpoint(medium) {
			right: 0;
			left: auto;
		}

		&::before {
			@include icon($icon-close);
			font-size: rem-calc(30);
		}
	}

	&__reset-pass {
		border-bottom: 1px dashed #0a0a0a;
		cursor: pointer;

		@include link-hfa {
			color: $anchor-color-hover;
			border-bottom-color: $anchor-color-hover;
		}
	}

	&__box {
	}

	&__title {
		font-size: rem-calc(26);
		text-align: center;
		margin-bottom: rem-calc(25);

		@include breakpoint(xmedium) {
			font-size: rem-calc(30);
			margin-bottom: rem-calc(35);
		}
	}

	&__social {
		border-top: 1px dotted #b3b3b3;
		margin-top: rem-calc(30);
		padding: rem-calc(30 0 0 0);
	}

	&__social-title {
		font-size: rem-calc(18);
		text-align: center;
		padding-bottom: rem-calc(30);
	}

	&__input {
		// margin-bottom: 0;
	}

	&__button {
		position: relative;
		display: block;
		width: rem-calc(196);
		height: rem-calc(57);
		font-size: rem-calc(16);
		line-height: rem-calc(57);
		color: $white;
		text-align: center;
		margin: rem-calc(30) auto 0;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include link-hfa {
			color: $white;

			&::before {
				color: $anchor-color-hover;
			}

			span {
				color: $white;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-solid-large);
			font-size: rem-calc(57);
			color: $black;
		}

		span {
			position: relative;
			z-index: 1;
			color: $white;
		}
	}

	&__providers {
		@include grid-row();
		text-align: center;
	}

	&__providers-col {
		@include grid-column(12);

		@include breakpoint(medium) {
			@include grid-column(6);
		}

		& + & {
			margin-top: rem-calc(10);

			@include breakpoint(medium) {
				margin-top: 0;
			}
		}
	}

	&__provider {
		display: block;
		border: 1px solid $brand-satin-linen;
		border-radius: $global-radius;

		& + & {
		}
	}

	&__provider-title {
		position: relative;
		font-size: rem-calc(18);
		color: #4c75a3;
		border-left: 1px solid $brand-satin-linen;
		margin-left: rem-calc(65);
		padding: rem-calc(7 5);

		&::before {
			@include vertical-center;
		}

		&--fb{
			&::before {
				@include icon($icon-facebook);
				left: rem-calc(-40);
				font-size: rem-calc(25);
			}
		}

		&--vk {
			&::before {
				@include icon($icon-vk);
				left: rem-calc(-45);
				font-size: rem-calc(18);
			}
		}
	}
}
