$module: 'reset-pass';

.#{$module} {
	@include reveal-modal-base;
	@include grid-column-row(0);
	@include grid-row-size(rem-calc(555));
	@include disable-mouse-outline;
	float: none !important;
	background-color: transparent;

	@include breakpoint(xmedium) {
		margin-top: rem-calc(50);
	}

	@include breakpoint(xxmedium) {
		margin-top: rem-calc(70);
	}

	&__inner {
		padding: rem-calc(15);
		background: $white;
		margin: rem-calc(10);

		@include breakpoint(medium) {
			padding: rem-calc(40 60);
		}
	}

	&__title {
		font-size: rem-calc(26);
		text-align: center;
		margin-bottom: rem-calc(25);

		@include breakpoint(xmedium) {
			font-size: rem-calc(30);
			margin-bottom: rem-calc(35);
		}
	}

	&__subtitle {
		font-size: rem-calc(20);
		text-align: center;
		margin-bottom: rem-calc(25);
	}

	&__input {
		// margin-bottom: 0;
	}

	&__button {
		position: relative;
		display: block;
		width: rem-calc(196);
		height: rem-calc(57);
		font-size: rem-calc(16);
		line-height: rem-calc(57);
		color: $white;
		text-transform: uppercase;
		text-align: center;
		margin: rem-calc(30) auto 0;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include link-hfa {
			color: $white;

			&::before {
				color: $anchor-color-hover;
			}

			span {
				color: $white;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-solid-medium);
			font-size: rem-calc(57);
			color: $black;
		}

		span {
			position: relative;
			z-index: 1;
			color: $white;
		}
	}
}
