$module: 'product-conditions';
$sku-color: #bebebe;
$price-color: $brand-orange;
$price-unavailable-color: $brand-silver;
$stock-available-color: #9cc456;
$stock-unavailable-color: #f54949;
$stock-waiting-color: $brand-orange;
$availability-button-color: $brand-yellow;
$conditions-border-color: $brand-satin-linen;

.#{$module} {
	@include clearfix;
	width: 100%;
	border-top: 1px solid $conditions-border-color;
	border-bottom: 1px solid $conditions-border-color;

	&__title {
		position: relative;
		display: inline-block;
		padding-top: rem-calc(40);

		@include breakpoint(medium) {
			padding-top: 0;
		}

		@include link-hfa {
			color: $brand-orange;
		}

		&::before {
			@include icon($icon-delivery);
			top: rem-calc(0);
			font-size: rem-calc(31);
			line-height: 1;

			@include breakpoint(medium down) {
				@include horizontal-center;
			}

			@include breakpoint(medium) {
				@include vertical-center;
				left: 0;
			}
		}

		&--delivery {
			@include breakpoint(medium) {
				padding-left: rem-calc(50);
			}

			&::before {
				@include icon($icon-delivery);
			}
		}

		&--payment {
			@include breakpoint(medium) {
				padding-left: rem-calc(40);
			}

			&::before {
				@include icon($icon-wallet);
			}
		}

		&--warranty {
			@include breakpoint(medium) {
				padding-left: rem-calc(35);
			}

			&::before {
				@include icon($icon-protection);
			}
		}
	}

	&__item {
		float: left;
		width: 33.333%;
		text-align: center;
		padding: 23px 0;
		cursor: pointer;
	}

	&__item-inner {
		display: inline-block;
		text-align: center;
		vertical-align: middle;
	}

	&__dropdown {
		@include dropdown-container;
		display: none;
		float: left;
		width: 100%;
		padding: rem-calc(15);
		box-shadow: $modal-shadow;

		&.is-open {
			display: block;
			visibility: visible;
		}

		&.is-opening {
			display: block;
		}

		&::before {
			@include css-triangle(rem-calc(12), $white, up);
			position: absolute;
			top: rem-calc(-12);
		}

		&--delivery {
			&::before {
				left: rem-calc(55);
			}
		}

		&--payment {
			&::before {
				@include horizontal-center;
			}
		}

		&--warranty {
			&::before {
				right: rem-calc(55);
			}
		}
	}
}
