$module: 'product-actions';
$sku-color: #bebebe;
$price-color: $brand-orange;
$price-unavailable-color: $brand-silver;
$stock-available-color: #9cc456;
$stock-unavailable-color: #f54949;
$stock-waiting-color: $brand-orange;
$availability-button-color: $brand-yellow;
$conditions-border-color: $brand-satin-linen;

.#{$module} {
	&__box {
		display: table;
		width: 100%;
		margin-bottom: rem-calc(32);
		table-layout: fixed;
	}

	&__availability {
		display: table-cell;
		width: 75%;
		border: 1px dotted $body-font-color;
		padding: rem-calc(10 14);
		border-radius: $global-radius;
		vertical-align: middle;

		@include breakpoint(medium) {
			width: 63%;
		}

		@include breakpoint(xmedium) {
			width: 75%;
			padding: rem-calc(10 10);
		}

		@include breakpoint(large) {
			width: 60%;
			padding: rem-calc(10 10);
		}

		@include breakpoint(xlarge) {
			width: 63%;
			padding: rem-calc(10 10);
		}
	}

	&__availability-label {
		line-height: 1;
		text-align: center;
		margin-bottom: rem-calc(10);
	}

	&__availability-button {
		display: block;
		font-size: rem-calc(13);
		// letter-spacing: -1px;
		background: rgba($availability-button-color, 0.56);
		margin: 0 auto;
		text-align: center;
		padding: rem-calc(8 10);
		text-transform: uppercase;
		border-radius: $global-radius;
		cursor: pointer;

		@include breakpoint(xxsmall) {
			font-size: rem-calc(14);
			padding: rem-calc(8 34);
		}

		@include breakpoint(medium) {
			font-size: rem-calc(13);
			padding: rem-calc(8 10);
		}

		@include breakpoint(large) {
			font-size: rem-calc(14);
		}

		@include breakpoint(xlarge) {
			padding: rem-calc(8 34);
		}

		span {
			border-bottom: 1px dashed $body-font-color;
		}
	}

	&__wishlist {
		display: table-cell;
		width: auto;
		text-align: center;
		vertical-align: middle;

		@include breakpoint(medium) {
			text-align: right;
		}

		@include breakpoint(xmedium) {
			text-align: center;
		}

		@include breakpoint(large) {
			text-align: right;
		}
	}

	&__wishlist-button {
		position: relative;
		display: inline-block;
		cursor: pointer;

		@include breakpoint(medium) {
			// text-align: right;
		}

		@include link-hfa {
			color: $brand-orange;
		}

		&::before {
			@include absolute-center;
			@include icon($icon-heart);
			font-size: rem-calc(40);

			@include breakpoint(medium) {
				left: rem-calc(-30);
			}

			@include breakpoint(xmedium) {
				left: 50%;
			}

			@include breakpoint(large) {
				left: rem-calc(-30);
			}
		}
	}

	&__wishlist-button-title {
		display: none;
		font-size: rem-calc(16);
		line-height: rem-calc(50);
		text-align: right;

		@include breakpoint(medium) {
			display: inline-block;
		}

		@include breakpoint(xmedium) {
			display: none;
		}

		@include breakpoint(large) {
			display: inline-block;
		}
	}

	&__buy-box {
		display: table-cell;
		width: 75%;
		vertical-align: middle;

		@include breakpoint(medium) {
			width: 63%;
		}

		@include breakpoint(xmedium) {
			width: 75%;
		}

		@include breakpoint(large) {
			width: 60%;
		}

		@include breakpoint(xlarge) {
			width: 63%;
		}
	}

	&__buy-button {
		position: relative;
		display: block;
		width: 100%;
		height: rem-calc(57);
		cursor: pointer;

		@include link-hfa{
			color: $brand-orange;
		}

		&::before {
			@include absolute-center;
			@include icon($icon-solid-medium);
			font-size: rem-calc(57);
			color: $black;

			@include breakpoint(xxsmall) {
				@include icon($icon-solid-large);
			}

			@include breakpoint(xxmedium) {
				@include icon($icon-solid-medium);
			}

			@include breakpoint(xlarge) {
				@include icon($icon-solid-large);
				left: 0;
				transform: translateY(-50%);
			}
		}

		span {
			@include absolute-center;
			font-size: rem-calc(16);
			color: $white;
			text-transform: uppercase;
			padding-left: rem-calc(10);
			word-break: none;

			@include breakpoint(medium) {
				font-size: rem-calc(24);
				padding-left: rem-calc(20);
			}

			@include breakpoint(xmedium) {
				font-size: rem-calc(18);
			}

			@include breakpoint(xxmedium) {
				padding-left: rem-calc(20);
			}

			@include breakpoint(large) {
				font-size: rem-calc(16);
				padding-left: rem-calc(18);
			}

			@include breakpoint(xlarge) {
				left: 0;
				font-size: rem-calc(24);
				padding-left: rem-calc(75);
				transform: translateY(-50%);
			}

			&::before {
				@include icon($icon-package-2);
				@include vertical-center;
				left: rem-calc(-30);
				font-size: rem-calc(29);
				line-height: 1;

				@include breakpoint(xmedium) {
						left: rem-calc(-15);
				}

				@include breakpoint(large) {
						left: rem-calc(-18);
				}

				@include breakpoint(xlarge) {
						left: rem-calc(35);
				}
			}
		}

		&.is-added-to-cart {
			&::before {
				color: $brand-green;
			}

			span {
				&::before {
					@include icon($icon-package-gift);
				}
			}
		}
	}
}
