$module: 'product-quick-view';
$border-color: $brand-satin-linen;
$right-bg-color: $brand-spring-wood;
$price-color: $brand-orange;
$item-shadow: 0 1px 4px 0 rgba(0, 1, 1, 0.14);
$triangle-color: $brand-spring-wood;
$sku-color: #bebebe;

.#{$module} {
	@include reveal-modal-base;
	@include reveal-modal-width(100%, 100%);
	@include reveal-modal-fullscreen;
	@include disable-mouse-outline;
	position: relative;
	top: 100px;
	background: transparent;
	margin-right: auto;
	margin-left: auto;
	overflow-y: auto;

	@include breakpoint(medium) {
		@include reveal-modal-fullscreen;
		right: auto;
		left: auto;
		margin: 0 auto;
		overflow: hidden;
	}

	&__inner {
		@include grid-column-row(0);
		position: relative;
		float: none !important;
		max-width: rem-calc(925);
		background: $white;
		margin: 5% auto;
		padding: rem-calc(25 0);
	}

	&__box {
		@include grid-row();
	}

	&__left {
		@include grid-column(5.5, 50);
	}

	&__right {
		@include grid-column(6.5, 0);
		padding-right: rem-calc(25);
	}

	&__bottom {
		@include grid-column(12, 0);
		text-align: center;
		border-top: 1px dashed #cccccc;
		margin-top: rem-calc(30);
		padding-top: rem-calc(35);
	}

	&__sku {
		font-size: rem-calc(14);
		color: $sku-color;
	}

	&__title {
		font-size: rem-calc(40);
		margin: rem-calc(5 0 0);
	}

	&__close {
		position: relative;
		z-index: 1;
		display: block;
		height: rem-calc(37);
		background: $white;
		margin: rem-calc(10 10 0);
		border-radius: 0;
		box-shadow: $item-shadow;
		cursor: pointer;

		@include breakpoint(medium) {
			margin: rem-calc(20 20 0);
		}

		@include breakpoint(xmedium) {
			position: absolute;
			top: rem-calc(-63);
			right: rem-calc(-20);
			bottom: auto;
			width: rem-calc(40);
			height: rem-calc(37);
			background: transparent;
		}

		@include breakpoint(xlarge) {
			right: rem-calc(-63);
		}

		&::before {
			@include absolute-center;
			@include icon($icon-close);
			font-size: rem-calc(30);
			color: $black;

			@include breakpoint(xmedium) {
				color: $white;
			}

			@include breakpoint(xlarge) {
				font-size: rem-calc(37);
			}
		}
	}

	&__tabs-box {
		margin-top: rem-calc(35);
	}

	&__readmore {
		display: inline-block;
		font-size: rem-calc(14);
		text-transform: uppercase;
		background: $brand-yellow;
		border-radius: $global-radius;
		padding: rem-calc(7 25);

		@include link-hfa {
			color: $white;
			background: $brand-orange;
		}
	}
}
