$module: 'product-price-stock';
$sku-color: #bebebe;
$price-color: $brand-orange;
$price-unavailable-color: $brand-silver;
$stock-available-color: #9cc456;
$stock-unavailable-color: #f54949;
$stock-waiting-color: $brand-orange;
$availability-button-color: $brand-yellow;
$conditions-border-color: $brand-satin-linen;

.#{$module} {
	&__box {
		display: table;
		width: 100%;
		margin: rem-calc(20 0 20);
	}

	&__stock-status {
		display: table-cell;
		vertical-align: middle;
	}

	&__price {
		display: table-cell;
		vertical-align: bottom;

		&--unavailable {
			.#{$module}__price-value {
				color: $price-unavailable-color;
			}

			.#{$module}__price-currency {
				color: $price-unavailable-color;
			}
		}
	}

	&__price-value {
		font-size: rem-calc(48);
		line-height: 1;
		color: $price-color;
	}

	&__price-currency {
		font-size: rem-calc(18);
		color: $price-color;
	}

	&__stock-status {
		color: $stock-available-color;
		vertical-align: middle;
		text-align: right;

		span {
			position: relative;
			padding-left: rem-calc(15);

			&::before {
				@include vertical-center;
				position: absolute;
				bottom: 0;
				left: rem-calc(-7);
				width: rem-calc(8);
				height: rem-calc(8);
				background: $stock-available-color;
				border-radius: 100%;
				content: '';
			}
		}

		&--unavailable {
			span {
				color: $stock-unavailable-color;

				&::before {
					background: $stock-unavailable-color;
				}
			}
		}

		&--waiting {
			span {
				color: $stock-waiting-color;

				&::before {
					background: $stock-waiting-color;
				}
			}
		}
	}
}
