$module: 'product-quick-view-media';

.#{$module} {
	@include grid-row();

	&__image-box {
		@include grid-column(12, 0);
	}

	&__thumbnails-box {
		@include grid-column(12, 0);
		padding-top: rem-calc(10);
	}

	&__image-link {
		display: block;

		& > .plyr {
			margin-top: 15%;
		}
	}

	&__images {
		margin: 0;
		list-style-type: none;
	}

	&__thumbnails {
		margin: 0;
		list-style-type: none;
	}

	&__thumbnail-link {
		@include disable-mouse-outline;
		display: block;
		// float: left;

		@include breakpoint(xxsmall) {
			// float: none;
		}

		@include breakpoint(xmedium) {
			// float: left;
		}

		@include breakpoint(large) {
			// float: none;
		}

		@include link-hfa {
			img  {
				border-bottom: 2px solid $brand-yellow;
			}
		}

		& + & {
			@include breakpoint(xxsmall) {
				margin-top: rem-calc(10);
				margin-left: 0;
			}
			//
			@include breakpoint(xmedium) {
				margin-top: 0;
				margin-left: rem-calc(10);
			}

			@include breakpoint(large) {
				margin-top: rem-calc(16);
				margin-left: 0;
			}
		}

		img {
			border-bottom: 2px solid transparent;
			padding-bottom: rem-calc(4);
			cursor: pointer;
		}

		&.slick-current {
			img {
				border-bottom: 2px solid $brand-yellow;
			}
		}
	}

	&__image-zoom {
		@include show-for(large);
		display: block;
		text-align: center;
		margin-top: rem-calc(5);

		@include breakpoint(xxlarge) {
			padding-right: rem-calc(30);
		}

		span {
			position: relative;
			font-size: rem-calc(14);
			border-bottom: 1px dotted #b3b3b3;
			cursor: pointer;

			@include link-hfa {
				color: $anchor-color-hover;
				border-bottom-color: $anchor-color-hover;
			}

			&::before {
				@include vertical-center;
				@include icon($icon-search);
				left: rem-calc(-20);
				font-size: rem-calc(16);
			}
		}
	}
}
