$module: 'product-tabs';

.#{$module} {
	@include tabs-container;

	&__title {
		@include tabs-title;
		width: 50%;
		text-align: center;

		@include breakpoint(xxmedium) {
			width: auto;
		}

		&--active {
			.#{$module}__link {
				border-bottom: 2px solid $brand-yellow;
			}
		}

		& + .#{$module}__title {

			@include breakpoint(xxmedium) {
				margin-left: rem-calc(33);
			}
		}
	}

	&__link {
		.#{$module}__title > & {
			display: inline-block;
			font-size: rem-calc(20);
			padding: rem-calc(0);
			line-height: 1.3;
			color: anchor-color;
		}
	}

	&__content {
		@include tabs-content;
		margin-top: rem-calc(30);
	}

	&__panel {
		@include tabs-panel;
		padding: 0;
	}


	// @include breakpoint(xxmedium down) {
	// 	@include accordion-container;
	// }
	//
	// @include breakpoint(large) {
	// 	@include tabs-container;
	// }
	//
	// &__title {
	// 	@include breakpoint(xxmedium down) {
	// 		@include accordion-title;
	// 	}
	//
	// 	@include breakpoint(large) {
	// 		@include tabs-title;
	// 	}
	// }
	//
	// &__link {
	//
	// }
	//
	// &__content {
	// 	@include breakpoint(xxmedium down) {
	// 		@include accordion-content;
	// 	}
	//
	// 	@include breakpoint(large) {
	// 		@include tabs-content;
	// 	}
	// }
	//
	// &__panel {
	// 	@include breakpoint(large) {
	// 		@include tabs-panel;
	// 	}
	//
	// }
}
