$module: 'product-options';

.#{$module} {
	border-top: 1px solid $brand-satin-linen;
	padding: rem-calc(30 0);

	&__row {
		@include grid-row();

		& + & {
			margin-top: rem-calc(20);
		}
	}

	&__title {
		@include grid-column(12, 0);
		font-size: rem-calc(18);
		margin-bottom: rem-calc(5);

		@include breakpoint(xxsmall) {
			@include grid-column(2.2, 0);
			margin-bottom: 0;
		}

		@include breakpoint(medium) {
			@include grid-column(2.2, 0);
			margin-bottom: 0;
		}
	}

	&__values {
		@include grid-column(12, 0);

		@include breakpoint(xxsmall) {
			@include grid-column(9.8, 0);
			@include grid-column-end;
		}

		@include breakpoint(medium) {
			@include grid-column(9.8, 0);
			@include grid-column-end;
		}
	}

	&__values-select {
		width: 100%;
		margin-bottom: 0;
		margin-top: rem-calc(-8);
	}

	&__option-item {
		display: inline-block;

		& + & {
			margin-left: rem-calc(10);
		}
	}

	&__option-input[type=radio] {
		display: none;
	}

	&__option-input[type=radio] + &__option-label {
		position: relative;
		width: rem-calc(30);
		height: rem-calc(30);
		border-radius: 100%;
		transition: all 300ms ease-in-out;
		border: 2px solid transparent;
		margin: 0;

		&:hover {
			border: 2px solid $brand-yellow;
		}

	}

	&__option-input[type=radio]:checked + &__option-label {
		border: 2px solid $brand-yellow;
	}

	&__option {
		display: block;
		@include absolute-center;
		width: rem-calc(20);
		height: rem-calc(20);
		line-height: rem-calc(17);
		text-align: center;
		font-size: rem-calc(14);
		padding: 2px;
		border-radius: 100%;
		background: red;
		margin: 0;


		&--size {
			background: $body-font-color;
			color: $white;
		}
	}
}
