$module: 'product-characteristics';

.#{$module} {
	&__row {
		@include grid-row();

		& + & {
			@include breakpoint(xmedium down) {
				border-top: 1px solid $brand-satin-linen;
				margin-top: rem-calc(5);
				padding-top: rem-calc(5);
			}
		}
	}

	&__title {
		@include grid-column(5, 0);

		@include breakpoint(medium) {
			@include grid-column(4, 0);
		}
	}

	&__value {
		@include grid-column(7, 0);

		@include breakpoint(medium) {
			@include grid-column(8, 0);
			text-align: right;
		}
	}

	&__link {
		border-bottom: 1px solid $brand-satin-linen;

		&:hover,
		&:focus {
			border-bottom: 1px solid $anchor-color-hover;
		}
	}
}
