$module: 'product-intro';

.#{$module} {
	// @include grid-column(12);
	// @include grid-column-end;
	// @include grid-column-margin(auto);
	//
	// @include breakpoint(rem-calc(400)) {
	// 	@include grid-column(6);
	// }
	//
	// @include breakpoint(xmedium) {
	// 	@include grid-column(3);
	// }

	&--waitlist {
		.#{$module}__box {
			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;
				background: rgba(#f1dc6c, 0.2);
				opacity: 0;
				content: '';
				transition: opacity 300ms ease-in-out;
			}

			&:hover,
			&:focus {
				&::before {
					opacity: 1;
				}

				.#{$module}__remove {
					top: rem-calc(15);
					z-index: 1;
					opacity: 1;
				}
			}
		}
	}

	&--wishlist {
		.#{$module}__box {
			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;
				background: rgba(#f1dc6c, 0.2);
				opacity: 0;
				content: '';
				transition: opacity 300ms ease-in-out;
			}

			&:hover,
			&:focus {
				&::before {
					opacity: 1;
				}

				.#{$module}__remove {
					top: rem-calc(15);
					z-index: 1;
					opacity: 1;
				}
			}
		}
	}

	&--out-of-stock {
		.#{$module}__box {
			&::before {
				content: none;
			}

			&:hover,
			&:focus {
				&::before {
					opacity: 1;
				}

				.#{$module}__remove {
					top: rem-calc(15);
					z-index: 1;
					opacity: 1;
				}
			}
		}
	}

	&__box {
		position: relative;
		padding: rem-calc(15 15);
		transition: all 300ms ease-in-out;

		&:hover,
		&:focus {
			box-shadow: $product-intro-shadow;

			.#{$module}__add-to-wishlist {
				top: rem-calc(15);
				opacity: 1;
			}

			.#{$module}__add-to-cart {
				bottom: rem-calc(20);
				opacity: 1;
			}

			.#{$module}__quick-view {
				opacity: 1;
			}

			.#{$module}__title-link {
				color: $anchor-color-hover;
			}
		}
	}

	&__image-box {
		position: relative;
		text-align: center;
		display: block;
		margin-bottom: rem-calc(43);
	}

	&__title {
		font-size: rem-calc(16);
		line-height: rem-calc(24);

		&:hover,
		&:focus {
			// border
		}
	}

	&__title-link {
		border-bottom: 1px solid $brand-light;
		transition: all 300ms ease-in-out;

		&:hover,
		&:focus {
			border-bottom-color: $primary-color;
		}
	}

	&__desc {
		font-size: rem-calc(14);
	}

	&__bottom {
		margin-top: rem-calc(20);
	}

	&__price {
		&--gray {
			.#{$module}__price-value {
				color: $brand-silver;
			}

			.#{$module}__price-currency {
				color: $brand-silver;
			}
		}
	}

	&__price-value {
		font-size: rem-calc(30);
		color: $primary-color;
	}

	&__price-currency {
		font-size: rem-calc(14);
		color: $primary-color;
	}

	&__add-to-wishlist {
		position: absolute;
		top: rem-calc(15);
		right: rem-calc(15);
		cursor: pointer;
		opacity: 1;
		transition: all 300ms ease-in-out;

		@include breakpoint(xxmedium) {
			top: rem-calc(0);
			opacity: 0;
		}

		@include link-hfa {
			&::before {
				@include icon($icon-heart-2);
				color: $anchor-color-hover;
			}
		}

		&::before {
			@include icon($icon-heart);
			font-size: rem-calc(24);
			transition: all 300ms ease-in-out;
		}

		&.is-added-to-wishlist {
			top: rem-calc(15);
			opacity: 1;

			@include link-hfa {
				&::before {
					@include icon($icon-heart-black);
					color: $brand-yellow;
				}
			}

			&::before {
				@include icon($icon-heart-black);
				color: $brand-yellow;
			}
		}
	}

	&__add-to-cart {
		position: absolute;
		right: rem-calc(15);
		bottom: rem-calc(20);
		z-index: 1;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include breakpoint(xxmedium) {
			bottom: rem-calc(0);
			opacity: 0;
		}

		@include link-hfa {
			&::before {
				@include icon($icon-package-gift);
				color: $anchor-color-hover;
			}
		}

		&::before {
			@include icon($icon-package-2);
			font-size: rem-calc(29);
			transition: all 300ms ease-in-out;
		}

		&.is-added-to-cart {
			bottom: rem-calc(20);
			opacity: 1;

			@include link-hfa {
				&::before {
					@include icon($icon-package-gift);
					color: $brand-yellow;
				}
			}

			&::before {
				@include icon($icon-package-gift);
				color: $brand-yellow;
			}
		}
	}

	&__remove {
		position: absolute;
		top: rem-calc(15);
		left: rem-calc(15);
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include breakpoint(xxmedium) {
			top: rem-calc(0);
			opacity: 0;
		}

		@include link-hfa {
			&::before {
				color: $anchor-color-hover;
			}
		}

		&::before {
			@include icon($icon-close);
			font-size: rem-calc(25);
			transition: all 300ms ease-in-out;
		}
	}

	&__in-waitlist {
		position: absolute;
		top: rem-calc(15);
		right: rem-calc(15);
		z-index: 2;
		opacity: 1;
		transition: all 300ms ease-in-out;

		&::before {
			@include icon($icon-clock);
			font-size: rem-calc(24);
			color: $brand-yellow;
			transition: all 300ms ease-in-out;
		}

		& + .#{$module}__in-wishlist {
			right: rem-calc(45);
		}
	}

	&__in-wishlist {
		position: absolute;
		top: rem-calc(15);
		right: rem-calc(15);
		z-index: 2;
		opacity: 1;
		transition: all 300ms ease-in-out;

		&::before {
			@include icon($icon-heart-black);
			font-size: rem-calc(24);
			color: $brand-yellow;
			transition: all 300ms ease-in-out;
		}

		& + .#{$module}__in-waitlist {
			right: rem-calc(45);
		}
	}

	&__quick-view {
		@include show-for(xxmedium);
		position: absolute;
		right: rem-calc(15);
		bottom: rem-calc(15);
		left: rem-calc(15);
		display: block;
		background: rgba($white, 0.6);
		border: 1px dotted $body-font-color;
		border-radius: $global-radius;
		padding: rem-calc(3 0);
		opacity: 0;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include link-hfa {
			// color: $anchor-color-hover;
			// border-color: $anchor-color-hover;
			box-shadow: $product-intro-shadow;
		}
	}

	&__quick-view-button {
		cursor: pointer;
	}

	&__notification {
		position: absolute;
		right: rem-calc(15);
		bottom: rem-calc(15);
		left: rem-calc(15);
		display: block;
		background: rgba($white, 0.6);
		border: 1px dotted $body-font-color;
		border-radius: $global-radius;
		padding: rem-calc(20);
		opacity: 1;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include link-hfa {
			box-shadow: $product-intro-shadow;
		}
	}

	&__notification-out-of-stock {
		font-size: rem-calc(16);
		text-align: center;
	}

	&__notification-link {
		display: block;
		font-size: rem-calc(15);
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		background: rgba(#ffce00, 0.55);
		border-radius: $global-radius;
		margin: rem-calc(5 0 0 );
		padding: rem-calc(8 10);

		@include link-hfa {
			color: $body-font-color;
		}

		span {
			border-bottom: 1px dotted #898989;
		}
	}

	&__notification-message {
		position: absolute;
		right: rem-calc(15);
		bottom: rem-calc(15);
		left: rem-calc(15);
		display: block;
		display: none;
		background: rgba($white, 0.6);
		border: 1px dotted $body-font-color;
		border-radius: $global-radius;
		padding: rem-calc(20 20 40);
		opacity: 1;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include link-hfa {
			box-shadow: $product-intro-shadow;
		}
	}

	&__notification-text {
		span {
			position: relative;
			display: block;

			a {
				position: relative;
				border-bottom: 1px solid #aeaeae;
				margin-bottom: rem-calc(20);

				@include link-hfa {
					border-bottom-color: $anchor-color-hover;
				}

				&::before {
					@include horizontal-center;
					@include icon($icon-check);
					bottom: rem-calc(-25);
					color: #28b038;
				}
			}
		}
	}

	&__stock-status {
		display: inline-block;
		font-size: rem-calc(14);
		line-height: 1;
		padding: rem-calc(2 4);

		&--gray {
			background: $brand-silver;
		}

		&--green {
			background: #e9f3da;
		}
	}
}
