$module: 'product';
$sku-color: #bebebe;
$price-color: $brand-orange;
$price-unavailable-color: $brand-silver;
$stock-available-color: #9cc456;
$stock-unavailable-color: #f54949;
$stock-waiting-color: $brand-orange;
$availability-button-color: $brand-yellow;
$conditions-border-color: $brand-satin-linen;

.#{$module} {
	background: $white;

	&__navigation {
		@include grid-column-row();
		float: none !important;
		text-align: center;
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(30);
	}

	&__breadcrumbs {
		& > .breadcrumbs {
			display: inline-block;
		}
	}

	&__back {
		float: left;
	}

	&__box {
		@include grid-row();
	}

	&__media-box {
		@include grid-column(100%);

		@include breakpoint(xmedium) {
			@include grid-column(6);
		}

		@include breakpoint(large) {
			@include grid-column(59.5%);
		}
	}

	&__data-box {
		@include grid-column(100%);
		margin-top: rem-calc(20);

		@include breakpoint(xmedium) {
			@include grid-column(6);
			margin-top: 0;
		}

		@include breakpoint(large) {
			@include grid-column(40.5%);
		}
	}

	&__sku {
		font-size: rem-calc(14);
		color: $sku-color;
	}

	&__title {
		font-size: rem-calc(40);
		margin: rem-calc(5 0 0);
	}

	&__tabs-box {
		margin-top: rem-calc(35);
	}

	&__desc-box {
		@include grid-column(12);
		padding-top: rem-calc(40);
		padding-bottom: rem-calc(40);
	}

	&__desc-title {
		font-size: rem-calc(30);
		border-top: 1px dashed $conditions-border-color;
		margin-bottom: rem-calc(25);
		padding-top: rem-calc(25);
	}
}
