$module: 'product-media-reveal';

.#{$module} {
	@include reveal-modal-base;
	@include reveal-modal-width(100%, 100%);
	@include reveal-modal-fullscreen;
	@include disable-mouse-outline;
	position: relative;
	top: 100px;
	background: transparent;
	margin-right: auto;
	margin-left: auto;
	overflow-y: auto;

	@include breakpoint(medium) {
		@include reveal-modal-fullscreen;
		right: auto;
		left: auto;
		margin: 0 auto;
	}

	@include breakpoint(large) {
		// max-width: rem-calc(600);
	}

	@include breakpoint(xlarge) {
		// max-width: rem-calc(900);
	}

	&__inner {
		@include clearfix;
		position: relative;
		max-width: rem-calc(920);
		background: $white;
		margin: 5% auto;
		padding: rem-calc(35 25);

		@include breakpoint(xmedium) {
			background: $white;
		}

		@include breakpoint(large) {
			max-width: rem-calc(980);
		}

		@include breakpoint(xlarge) {
			max-width: rem-calc(1140);
			margin: 5% auto;
		}
	}

	&__box {
		@include grid-row();
		// @include grid-row-size(rem-calc(900));
		position: relative;
	}

	&__image-box {
		@include grid-column(12, 0);

		// @include breakpoint(xxsmall) {
		// 	@include grid-column(10, 0);
		// 	@include grid-column-position(2);
		// }

		@include breakpoint(large) {
			@include grid-column(6, 0);
			@include grid-column-position(3);
			@include grid-column-end;
		}
	}

	&__thumbnails-box {
		@include grid-column(12, 0);
		// padding-top: rem-calc(10);

		// @include breakpoint(xxsmall) {
		// 	@include grid-column(2, 0);
		// 	@include grid-column-position(-10);
		// 	padding-top: 0;
		// 	// @include grid-column-offset(11);
		// }

		@include breakpoint(large) {
			@include grid-column(3, 0);
			@include grid-column-position(-9);
			padding-top: 0;
			// @include grid-column-offset(11);
		}
	}

	&__images {
		margin: 0;
		list-style-type: none;
	}

	&__thumbnails {
		margin: 0;
		list-style-type: none;
	}

	&__thumbnail-link {
		@include disable-mouse-outline;

		@include link-hfa {
			img  {
				border-bottom: 2px solid $brand-yellow;
			}
		}

		& + & {
			@include breakpoint(xxsmall) {
				margin-top: rem-calc(10);
				margin-left: 0;
			}
			//
			@include breakpoint(xmedium) {
				margin-top: 0;
			}

			@include breakpoint(large) {
				margin-top: rem-calc(16);
				margin-left: 0;
			}
		}

		img {
			border-bottom: 2px solid transparent;
			padding-bottom: rem-calc(4);
			cursor: pointer;
		}

		&.slick-current {
			img {
				border-bottom: 2px solid $brand-yellow;
			}
		}
	}

	&__close {
		position: absolute;
		top: rem-calc(15);
		right: rem-calc(15);
		width: rem-calc(45);
		height: rem-calc(45);
		cursor: pointer;
		overflow: hidden;

		@include link-hfa {
			color: $anchor-color-hover;
		}

		&::before {
			@include absolute-center;
			@include icon($icon-close);
			font-size: rem-calc(40);
		}
	}

	&__buy {
		@include clearfix;
		width: 100%;
		margin-top: rem-calc(30);

	}

	&__buy-button {
		position: relative;
		display: block;
		width: rem-calc(259);
		height: rem-calc(57);
		font-size: rem-calc(22);
		line-height: rem-calc(55);
		color: $white;
		text-transform: uppercase;
		text-align: center;
		margin: 0 auto;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include link-hfa {
			color: $white;

			&::before {
				color: $anchor-color-hover;
			}

			span {
				color: $white;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-solid-large);
			font-size: rem-calc(57);
			color: $black;
		}

		span {
			position: relative;
			z-index: 1;
			color: $white;
			padding-left: rem-calc(18);

			&::before {
				@include vertical-center;
				@include icon($icon-package-2);
				font-size: rem-calc(29);
				left: rem-calc(-18);
				color: $white;
			}
		}
	}
}
