$module: 'menu-toggle';

.#{$module} {
	position: relative;
	height: rem-calc(60);

	&__icon {
		@include icon-before($icon-menu);
		@include vertical-center;
		left: rem-calc(10);
		font-size: rem-calc(35);

		&:hover {
			color: $anchor-color-hover;
		}
	}
}
