<div class="social-block">
	<h4 class="social-block__title">
		Присоединяйтесь к нам в социальных сетях:
	</h4>
	<div class="social-block__box">
		<div class="social-block__item">
			<a href="#" class="social-block__item-inner">
				<div class="social-block__item-icon social-block__item-icon--fb">

				</div>
				<div class="social-block__item-title">
					Facebook
				</div>
				<div class="social-block__item-desc">
					Нас уже 22.000
				</div>
			</a>
		</div>
		<div class="social-block__item">
			<a href="#" class="social-block__item-inner">
				<div class="social-block__item-icon social-block__item-icon--inst">

				</div>
				<div class="social-block__item-title">
					Instagram
				</div>
				<div class="social-block__item-desc">
					Нас уже 27.000
				</div>
			</a>
		</div>
		<div class="social-block__item">
			<a href="#" class="social-block__item-inner">
				<div class="social-block__item-icon social-block__item-icon--vk">

				</div>
				<div class="social-block__item-title">
					ВКонтакте
				</div>
				<div class="social-block__item-desc">
					Нас уже 132.000
				</div>
			</a>
		</div>
	</div>
</div>
