$module: 'cart-card-reveal';
$border-color: $brand-satin-linen;
$right-bg-color: $brand-spring-wood;
$price-color: $brand-orange;
$item-shadow: 0 1px 4px 0 rgba(0, 1, 1, 0.14);
$triangle-color: $brand-spring-wood;
$sku-color: #bebebe;

.#{$module} {
	@include reveal-modal-base;
	@include reveal-modal-width(100%, 100%);
	@include reveal-modal-fullscreen;
	@include disable-mouse-outline;
	position: relative;
	top: 100px;
	background: transparent;
	margin-right: auto;
	margin-left: auto;
	overflow-y: auto;

	@include breakpoint(medium) {
		@include reveal-modal-fullscreen;
		right: auto;
		left: auto;
		margin: 0 auto;
	}

	&__inner {
		@include clearfix;
		position: relative;
		max-width: rem-calc(920);
		background: $right-bg-color;

		@include breakpoint(xmedium) {
			background: $white;
			margin: rem-calc(45 20 0);
		}

		@include breakpoint(large) {
			margin: 5% auto;
		}
	}

	&__box {
		@include grid-row();
	}

	&__left {
		@include show-for(xmedium);

		@include breakpoint(xmedium) {
			@include grid-column(5.5, 0);
		}

		@include breakpoint(xxmedium) {
			@include grid-column(6, 0);
		}
	}

	&__right {
		@include grid-column(12, 0);
		position: relative;
		background: $right-bg-color;

		@include breakpoint(xmedium) {
			@include grid-column(6.5, 0);

			&::before {
				position: absolute;
				top: 0;
				bottom: 0;
				width: rem-calc(10);
				background: $white;
				rigth: 0;
				content: '';
			}
		}

		@include breakpoint(xxmedium) {
			@include grid-column(6, 0);
		}
	}

	&__list {
		position: relative;
		padding: rem-calc(10);

		@include breakpoint(medium) {
			padding: rem-calc(20);
		}

		@include breakpoint(xmedium) {
			padding: rem-calc(20 20 20 30);
		}

		@include breakpoint(xxmedium) {
			padding: rem-calc(35 35 35 45);
		}

		&.ps {
			// max-height: 100vh;

			@include breakpoint(xxmedium) {
				max-height: rem-calc(740);
			}
		}
	}

	&__item {
		&--selected {
			@include breakpoint(medium) {
				box-shadow: $item-shadow;
				position: relative;
			}

			&::before {
				@include breakpoint(xmedium) {
					@include css-triangle(rem-calc(10), $right-bg-color, left);
					@include vertical-center;
					left: rem-calc(-30);
				}


				@include breakpoint(xxmedium) {
					left: rem-calc(-45);
				}
			}


		}

		& + & {
			margin-top: rem-calc(10);

			@include breakpoint(medium) {
				margin-top: rem-calc(20);
			}

			@include breakpoint(xxmedium) {
				margin-top: rem-calc(35);
			}
		}
	}

	&__item-inner {
		position: relative;
		width: 100%;
		background: $white;
		cursor: pointer;

		@include breakpoint(medium) {
			display: table;
			// table-layout: fixed;
		}
	}

	&__item-image-box {
		width: 100%;
		padding: rem-calc(10);

		@include breakpoint(medium) {
			display: table-cell;
			width: rem-calc(192);
			padding: rem-calc(10 0 10 10);
			vertical-align: middle;
		}

		@include breakpoint(xmedium) {
			width: rem-calc(130);
		}

		@include breakpoint(xxmedium) {
			width: rem-calc(190);
		}
	}

	&__item-desc-box {
		width: 100%;
		// width: 50%;
		padding: rem-calc(0 10 10);
		vertical-align: middle;

		@include breakpoint(medium) {
			display: table-cell;
			width: 60%;
			padding: rem-calc(10 10 10 20);
		}

		@include breakpoint(xxmedium) {
			padding: rem-calc(10 10 10 20);
			width: calc(100% - 190px)
		}
		//
		// @include breakpoint(medium) {
		// 	display: table-cell;
		// 	width: rem-calc(192);
		// 	padding: rem-calc(10 0 10 10);
		// 	vertical-align: middle;
		// }
		//
		// @include breakpoint(xmedium) {
		// 	width: rem-calc(130);
		// }
		//
		// @include breakpoint(xxmedium) {
		// 	width: rem-calc(190);
		// }
	}

	&__item-title {
		font-size: rem-calc(16);
	}

	&__item-price {
		margin-top: rem-calc(5);

		@include breakpoint(xxmedium) {
			margin-top: rem-calc(15);
		}
	}

	&__item-price-value {
		display: inline-block;
		font-size: rem-calc(25);
		color: $price-color;
	}

	&__item-price-currency {
		display: inline-block;
		font-size: rem-calc(16);
		color: $price-color;
	}

	&__add-link {
		display: block;
		font-size: rem-calc(16);
		margin-top: rem-calc(5);

		@include breakpoint(xxmedium) {
			margin-top: rem-calc(15);
		}

		&::before {
			@include icon($icon-plus);
			float: left;
			font-size: rem-calc(25);
			padding-right: rem-calc(7);
		}

		&--added {
			color: #52c05f;

			&:focus,
			&:active,
			&:hover {
				color: #52c05f;
			}

			&::before {
				@include icon($icon-check-2);
				color: #52c05f;
			}
		}
	}

	&__item-preview {
		padding: rem-calc(20 10 20 20);

		@include breakpoint(xxmedium) {
			padding: rem-calc(35 25 35 35);
		}
	}

	&__item-preview-sku {
		font-size: rem-calc(14);
		color: $sku-color;
		margin-top: rem-calc(20);
	}

	&__item-preview-title {
		font-size: rem-calc(24);
		margin-top: rem-calc(5);

		@include breakpoint(xxmedium) {
			font-size: rem-calc(30);
		}
	}

	&__item-preview-price-box {
		// white-space: pre-line;
	}

	&__item-preview-price-value {
		display: inline-block;
		font-size: rem-calc(38);
		color: $price-color;
	}

	&__item-preview-price-currency {
		display: inline-block;
		font-size: rem-calc(16);
		color: $price-color;
	}

	&__item-preview-button-box {
		width: rem-calc(258);
		height: rem-calc(57);
		margin: rem-calc(15) auto 0;
	}

	&__item-preview-button {
		position: relative;
		width: inherit;
		height: inherit;

		@include link-hfa {
			&::before {
				color: $brand-orange;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-solid-large);
			font-size: rem-calc(58);
			color: $black;
		}

		span {
			position: relative;
			font-size: rem-calc(18);
			padding-left: rem-calc(20);
			color: $white;
			text-transform: uppercase;

			&::before {
				@include vertical-center;
				@include icon($icon-plus);
				font-size: rem-calc(22);
				left: rem-calc(-15);
				color: $white;
			}
		}
	}

	&__close {
		position: relative;
		display: block;
		z-index: 1;
		height: rem-calc(37);
		background: $white;
		border-radius: 0;
		margin: rem-calc(10 10 0);
		box-shadow: $item-shadow;
		cursor: pointer;

		@include breakpoint(medium) {
			margin: rem-calc(20 20 0);
		}

		@include breakpoint(xmedium) {
			position: absolute;
			top: rem-calc(-63);
			right: rem-calc(-20);
			bottom: auto;
			width: rem-calc(40);
			height: rem-calc(37);
			background: transparent;
		}

		@include breakpoint(xlarge) {
			right: rem-calc(-63);
		}

		&::before {
			@include absolute-center;
			@include icon($icon-close);
			font-size: rem-calc(30);
			color: $black;

			@include breakpoint(xmedium) {
				color: $white;
			}

			@include breakpoint(xlarge) {
				font-size: rem-calc(37);
			}
		}
	}
}
