$module: 'cart-products-list';
$text-color: $brand-silver;
$separator-color: $brand-satin-linen;
$total-bg-color: $brand-spring-wood;

.#{$module} {
	position: relative;
	margin: 0 auto;

	@include breakpoint(xmedium) {
		@include grid-row-size(rem-calc(740));
	}

	@include breakpoint(xxmedium) {
		@include grid-row-size(rem-calc(690));
	}

	@include breakpoint(large) {
		@include grid-row-size(rem-calc(954));
	}

	&::before {
		@include breakpoint(xmedium) {
			position: absolute;
			top: 0;
			right: rem-calc(42);
			bottom: 0;
			width: rem-calc(112);
			height: 100%;
			background: $total-bg-color;
			border-radius: $global-radius;
			content: '';
		}
	}

	&--dashboard {
		@include breakpoint(xmedium) {
			@include grid-row-size(rem-calc(693));
			margin: 0 auto;
		}

		@include breakpoint(large) {
			@include grid-row-size(rem-calc(954));
		}

		@include breakpoint(large) {
			padding: rem-calc(0 55 0 35);
		}

		&::before {
			right: 0;

			@include breakpoint(large) {
				right: rem-calc(55);
			}
		}

		.#{$module}__header-left {
			width: 60%;
		}

		.#{$module}__header-right {

			width: 40%;
		}

		.#{$module}__column-label {
			&--price {

				@include breakpoint(xmedium) {
					width: rem-calc(94);
				}

				@include breakpoint(large) {
					width: rem-calc(125);
				}

				@include breakpoint(xlarge) {
					width: rem-calc(118);
				}
			}

			&--quantity {
				@include breakpoint(xmedium) {
					width: rem-calc(71);
					text-align: left;
				}

				@include breakpoint(large) {
					width: rem-calc(107);
				}

				@include breakpoint(large) {
					width: rem-calc(86);
				}
			}

			&--subtotal {
				@include breakpoint(xmedium) {
					position: relative;
					width: rem-calc(112);
				}
			}
		}

		.#{$module}__footer-left {
			float: left;
			text-align: right;
			width: calc(100% - 110px);
		}

		.#{$module}__footer-right {
			float: right;
			width: rem-calc(108);
		}
	}

	&__header {
		@include clearfix;
		@include show-for(xmedium);
		position: relative;
		z-index: 1;
		border-bottom: 1px solid $separator-color;
		padding-top: rem-calc(30);
		padding-bottom: rem-calc(5);
	}

	&__header-left {
		float: left;
		width: 50%;
	}

	&__header-right {
		float: left;
		width: 50%;
	}

	&__header-inner {
		display: table;
	}

	&__column-label {
		float: left;
		font-size: rem-calc(14);
		color: $text-color;
		text-align: center;

		&--name {
			width: 100%;
		}

		&--price {
			text-align: left;
			display: table-cell;

			@include breakpoint(xmedium) {
				width: rem-calc(120);
			}

			@include breakpoint(large) {
				width: rem-calc(148);
			}
		}

		&--quantity {
			display: table-cell;

			@include breakpoint(xmedium) {
				width: rem-calc(71);
				text-align: left;
			}

			@include breakpoint(large) {
				width: rem-calc(120);
			}
		}

		&--subtotal {
			display: table-cell;

			@include breakpoint(xmedium) {
				position: relative;
				width: rem-calc(112);
			}
		}
	}

	&__list-content {
		@include clearfix;
	}

	&__footer {
		@include clearfix;
		position: relative;
		z-index: 1;
		padding-top: rem-calc(15);
		padding-bottom: rem-calc(15);

		@include breakpoint(xmedium) {
			border-top: 1px solid $separator-color;
			padding-top: rem-calc(30);
			padding-bottom: rem-calc(30);
		}
	}

	&__footer-row {
		@include clearfix;

		& + & {
			margin-top: rem-calc(10);
		}
	}

	&__total-price {
		display: inline-block;
		font-size: rem-calc(40);
		line-height: rem-calc(41);
		color: $brand-orange;

		@include breakpoint(xmedium) {
			font-size: rem-calc(30);
		}

		&--small {
			font-size: rem-calc(20);
			line-height: 1;
		}
	}

	&__total-price-currency {
		display: inline-block;
		font-size: rem-calc(14);
		color: $brand-orange;
	}

	&__footer-left {
		@include breakpoint(xmedium) {
			float: left;
			width: 50%;
		}
	}

	&__footer-right {
		@include breakpoint(xmedium) {
			float: left;
			width: 50%;
		}
	}

	&__footer-column {
		text-align: center;

		@include breakpoint(xmedium) {
			float: left;
		}

		&--total-label {
			font-size: rem-calc(19);
			margin-top: rem-calc(15);

			@include breakpoint(xmedium) {
				position: relative;
				width: rem-calc(191);
				text-align: right;
				margin-top: rem-calc(8);
				padding-right: rem-calc(45);
			}

			@include breakpoint(large) {
				position: relative;
				width: rem-calc(268);
			}
		}

		&--total {
			@include breakpoint(xmedium) {
				text-align: center;
				position: relative;
				width: rem-calc(112);
			}
		}

		&--cupon-label {
			width: 100%;
			font-size: rem-calc(16);
			margin-bottom: rem-calc(10);

			@include breakpoint(xmedium) {
				width: 50%;
				margin-top: rem-calc(8);
				margin-bottom: 0;
			}
		}

		&--cupon {
			width: 100%;

			@include breakpoint(xmedium) {
				width: 50%;
			}
		}

		&--order-data {
			text-align: left;

			@include breakpoint(xmedium) {
				padding-left: rem-calc(170);
			}
		}

		&--order-total-price {
			font-size: rem-calc(19);
			font-weight: bold;
			line-height: rem-calc(17);
			text-align: left;

			@include breakpoint(xmedium) {
				line-height: rem-calc(40);
				padding-left: rem-calc(170);
			}
		}

		&--order-data-prices {
			float: none;
			text-align: right;

			@include breakpoint(medium) {
				text-align: center;
				padding-right: rem-calc(8);
			}
		}
	}

	&__copon-input {
		max-width: rem-calc(300);
		margin: 0 auto;
	}
}
