$module: 'cart-product';

// Colors
$sku-color: $brand-silver;
$status-green: #9cc456;
$status-red: red;
$total-bg-color: $brand-spring-wood;
$price-color: $brand-orange;
$separator-color: $brand-satin-linen;

.#{$module} {
	position: relative;
	padding: rem-calc(20 0);

	@include breakpoint(xmedium) {
		display: table;
		width: 100%;
		padding: rem-calc(40 0);
		overflow: hidden;
	}

	&--search {
		padding: rem-calc(15 0);
	}

	&--dashboard {
		.#{$module}__left {
			@include breakpoint(xmedium) {
				width: 60%;
			}
		}

		.#{$module}__right {
			@include breakpoint(xmedium) {
				width: 60%;
			}
		}
	}

	& + & {
		@include breakpoint(xmedium) {
			border-top: 1px dashed $separator-color;
		}
	}

	&__box {
		@include clearfix;

		@include breakpoint(xmedium) {
			display: table-row;
			width: 100%;
		}
	}

	&__left {
		width: 100%;
		white-space: nowrap;

		@include breakpoint(xmedium) {
			display: table-cell;
			width: 50%;
		}
	}

	&__right {
		width: 100%;
		background: $total-bg-color;
		margin-top: rem-calc(15);
		padding: rem-calc(5 10);
		white-space: nowrap;
		border-radius: $global-radius;

		@include breakpoint(xmedium) {
			display: table-cell;
			width: 50%;
			background: transparent;
			padding: 0;
			border-radius: 0;
			vertical-align: middle;
		}
	}

	&__right-inner {
		display: table;
		width: 100%;

		@include breakpoint(xmedium) {
			width: auto;
		}
	}

	&__image-box {
		display: inline-block;
		width: 100%;
		text-align: center;
		vertical-align: middle;

		@include breakpoint(xxsmall) {
			width: 30%;
		}

		@include breakpoint(xmedium) {
			display: table-cell;
			width: auto;
			max-width: rem-calc(135);
		}
	}

	&__image {
		max-width: rem-calc(135);
	}

	&__image-link {
		display: block;
	}

	&__content-box {
		margin-top: rem-calc(15);

		@include breakpoint(xxsmall) {
			display: inline-block;
			width: 70%;
			margin-top: 0;
			padding-left: rem-calc(10);
			vertical-align: middle;
		}

		@include breakpoint(xmedium) {
			display: table-cell;
			padding-right: rem-calc(20);
			padding-left: rem-calc(20);
			vertical-align: middle;
		}
	}

	&__link {
		display: block;
		font-size: rem-calc(16);
		line-height: rem-calc(18);
		white-space: normal;
	}

	&__desc {
		font-size: rem-calc(14);
		margin-top: rem-calc(5);
		white-space: normal;
	}

	&__sku {
		font-size: rem-calc(12);
		color: $sku-color;
		margin-top: rem-calc(10);
	}

	&__sku-label {
		padding-right: rem-calc(3);
	}

	&__stock-status {
		position: relative;
		padding-left: rem-calc(15);

		@include breakpoint(xmedium) {
			margin-top: rem-calc(10);
		}

		&--green {
			color: $status-green;

			&::before {
				background: $status-green;
			}
		}

		&--red {
			color: $status-red;
		}

		&::before {
			@include vertical-center;
			left: 0;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			content: '';
		}
	}

	&__price-box {
		display: table-cell;
		width: 40%;
		vertical-align: middle;

		@include breakpoint(xmedium) {
			width: rem-calc(120);
		}

		@include breakpoint(large) {
			width: rem-calc(148);
		}
	}

	&__price-value {
		display: inline-block;
		font-size: rem-calc(20);
		color: $price-color;

		@include breakpoint(xmedium) {
			font-size: rem-calc(30);
		}
	}

	&__price-currency {
		display: inline-block;
		font-size: rem-calc(14);
		color: $price-color;
	}

	&__quantity-box {
		display: table-cell;
		width: 20%;
		text-align: center;
		vertical-align: middle;

		@include breakpoint(xmedium) {
			width: rem-calc(71);
			text-align: left;
		}

		@include breakpoint(large) {
			width: rem-calc(120);
		}
	}

	&__quantity-input {
		display: inline-block;
		width: rem-calc(40);
		text-align: center;
		margin: 0;

		@include breakpoint(xmedium) {
			// margin-left: rem-calc(20);
		}
	}

	&__quantity {
		font-size: rem-calc(20);
	}

	&__subtotal-box {
		display: table-cell;
		width: 40%;
		text-align: center;
		vertical-align: middle;

		@include breakpoint(xmedium) {
			position: relative;
			width: rem-calc(112);
		}
	}

	&__subtotal {
		text-align: right;

		@include breakpoint(xmedium) {
			position: relative;
			z-index: 1;
			text-align: center;
			vertical-align: middle;
		}
	}

	&__subtotal-currency {
		font-size: rem-calc(14);
	}

	&__remove {
		@include vertical-center;
		top: rem-calc(25);
		right: rem-calc(15);
		width: rem-calc(12);
		height: rem-calc(12);
		cursor: pointer;

		@include breakpoint(xmedium) {
			top: 50%;
		}

		@include link-hfa {
			color: $anchor-color-hover;
		}

		&::before {
			@include absolute-center;
			@include icon($icon-x);
			font-size: rem-calc(11);
		}
	}
}
