$module: 'cart-add-actions';
$border-color: $brand-satin-linen;

.#{$module} {
	border: 3px dotted $brand-satin-linen;
	border-radius: $global-radius * 2;
	margin-top: rem-calc(30);
	padding: rem-calc(10);

	@include breakpoint(xmedium) {
		margin-top: rem-calc(45);
		padding: rem-calc(20 10);
	}

	@include breakpoint(xxmedium) {
		margin-top: rem-calc(70);
		padding: rem-calc(15);
	}

	&__box {
		@include grid-row();
	}

	&__label {
		@include grid-column(12, 0);
		font-size: rem-calc(22);
		text-align: center;


		@include breakpoint(xmedium) {
			@include grid-column(4, 0);
			font-size: rem-calc(25);
			padding-top: rem-calc(10);
		}

		@include breakpoint(xxmedium) {
			font-size: rem-calc(30);
			padding-top: rem-calc(5);
		}
	}

	&__gift-package {
		@include grid-column(12, 0);
		font-size: rem-calc(18);
		padding-top: rem-calc(20);
		cursor: pointer;

		@include breakpoint(xxsmall) {
			@include grid-column(6, 0);
		}

		@include breakpoint(xmedium) {
			@include grid-column(4);
			padding-top: 0;
		}

		&:hover {
			color: $anchor-color-hover;
		}
	}

	&__gift-package-span {
		display: block;
		position: relative;
		text-align: center;
		cursor: pointer;

		@include breakpoint(xmedium) {
			text-align: left;
			// padding-left: rem-calc(60);
		}

		@include breakpoint(xxmedium) {
			font-size: rem-calc(18);
			display: inline-block;
			padding-left: rem-calc(30);
		}

		&::before {
			@include icon($icon-add-gift);
			display: block;
			padding-bottom: rem-calc(10);
			font-size: rem-calc(40);

			@include breakpoint(medium) {
				font-size: rem-calc(50);
			}

			@include breakpoint(xmedium) {
				float: left;
				padding-right: rem-calc(20);
				font-size: rem-calc(50);
			}
		}
	}

	&__gift-card {
		@include grid-column(12, 0);
		font-size: rem-calc(18);
		text-align: center;
		padding-top: rem-calc(20);
		cursor: pointer;

		@include breakpoint(xxsmall) {
			@include grid-column(6, 0);
		}

		@include breakpoint(xmedium) {
			@include grid-column(4);
			padding-top: rem-calc(0)
		}

		&:hover {
			color: $anchor-color-hover;
		}
	}

	&__gift-card-span {
		position: relative;
		display: block;
		text-align: center;

		@include breakpoint(xmedium) {
			// padding-left: rem-calc(65);
			text-align: left;
		}

		@include breakpoint(xxmedium) {
			font-size: rem-calc(18);
			display: inline-block;
			padding-left: rem-calc(30);
		}

		&::before {
			@include icon($icon-add-card);
			display: block;
			padding-bottom: rem-calc(10);
			font-size: rem-calc(40);

			@include breakpoint(medium) {
				font-size: rem-calc(50);
			}

			@include breakpoint(xmedium) {
				float: left;
				padding-right: rem-calc(20);
				font-size: rem-calc(50);
			}
		}
	}
}
