<div id="cartCardReveal" class="cart-card-reveal" >
	<div class="cart-card-reveal__inner">
		<div class="cart-card-reveal__close" data-close aria-label="Закрыть">
		</div>
		<div class="cart-card-reveal__box">
			<div class="cart-card-reveal__left">
				<div id="cardPreviewContainer" class="cart-card-reveal__item-preview">
					<img src="http://via.placeholder.com/465x465?text=1" data-cart-card-preview-image alt="" class="cart-card-reveal__item-preview-image">
					<div class="cart-card-reveal__item-preview-sku">
						Артикул:
						<span data-cart-card-preview-sku>
							392003
						</span>
					</div>
					<div class="cart-card-reveal__item-preview-title" data-cart-card-preview-title>
						Открытка «Happy Birthday»
					</div>
					<div class="cart-card-reveal__item-preview-price-box">
						<span class="cart-card-reveal__item-preview-price-value" data-cart-card-preview-price>
							206
						</span>
						<span class="cart-card-reveal__item-preview-price-currency">
							грн.
						</span>
					</div>
					<div class="cart-card-reveal__item-preview-button-box">
						<button class="cart-card-reveal__item-preview-button">
							<span>
								Добавить к заказу
							</span>
						</button>
					</div>

				</div>
			</div>
			<div class="cart-card-reveal__right">
				<div id="cartCardRevealList" class="cart-card-reveal__list">
					<div class="cart-card-reveal__item cart-card-reveal__item--selected" data-cart-card-item="00001">
						<div class="cart-card-reveal__item-inner">
							<div class="cart-card-reveal__item-image-box">
								<img src="http://via.placeholder.com/465x465?text=2" data-cart-card-image alt="" class="cart-card-reveal__item-image">
							</div>
							<div class="cart-card-reveal__item-desc-box">
								<div class="cart-card-reveal__item-title" data-cart-card-title>
									Открытка «Happy Birthday» 1
								</div>
								<div class="cart-card-reveal__item-price" >
									<span class="cart-card-reveal__item-price-value" data-cart-card-price>
										201
									</span>
									<span class="cart-card-reveal__item-price-currency">
										грн.
									</span>
								</div>
								<a href="" class="cart-card-reveal__add-link js-cart-card-reveal__add-link">
									Добавить
								</a>
							</div>
						</div>
					</div>
					<div class="cart-card-reveal__item" data-cart-card-item="00002">
						<div class="cart-card-reveal__item-inner">
							<div class="cart-card-reveal__item-image-box">
								<img src="http://via.placeholder.com/465x465?text=3" data-cart-card-image alt="" class="cart-card-reveal__item-image">
							</div>
							<div class="cart-card-reveal__item-desc-box">
								<div class="cart-card-reveal__item-title" data-cart-card-title>
									Открытка «Happy Birthday» 2
								</div>
								<div class="cart-card-reveal__item-price" >
									<span class="cart-card-reveal__item-price-value" data-cart-card-price>
										205
									</span>
									<span class="cart-card-reveal__item-price-currency">
										грн.
									</span>
								</div>
								<a href="" class="cart-card-reveal__add-link js-cart-card-reveal__add-link">
									Добавить
								</a>
							</div>
						</div>
					</div>
					<div class="cart-card-reveal__item" data-cart-card-item="00003">
						<div class="cart-card-reveal__item-inner">
							<div class="cart-card-reveal__item-image-box">
								<img src="http://via.placeholder.com/465x465?text=4" data-cart-card-image alt="" class="cart-card-reveal__item-image">
							</div>
							<div class="cart-card-reveal__item-desc-box">
								<div class="cart-card-reveal__item-title" data-cart-card-title>
									Открытка «Happy Birthday» 3
								</div>
								<div class="cart-card-reveal__item-price" >
									<span class="cart-card-reveal__item-price-value" data-cart-card-price>
										23
									</span>
									<span class="cart-card-reveal__item-price-currency">
										грн.
									</span>
								</div>
								<a href="" class="cart-card-reveal__add-link js-cart-card-reveal__add-link">
									Добавить
								</a>
							</div>
						</div>
					</div>
					<div class="cart-card-reveal__item" data-cart-card-item="00004">
						<div class="cart-card-reveal__item-inner">
							<div class="cart-card-reveal__item-image-box">
								<img src="http://via.placeholder.com/465x465?text=5" data-cart-card-image alt="" class="cart-card-reveal__item-image">
							</div>
							<div class="cart-card-reveal__item-desc-box">
								<div class="cart-card-reveal__item-title" data-cart-card-title>
									Открытка «Happy Birthday» 5
								</div>
								<div class="cart-card-reveal__item-price" >
									<span class="cart-card-reveal__item-price-value" data-cart-card-price>
										20
									</span>
									<span class="cart-card-reveal__item-price-currency">
										грн.
									</span>
								</div>
								<a href="" class="cart-card-reveal__add-link js-cart-card-reveal__add-link">
									Добавить
								</a>
							</div>
						</div>
					</div>
					<div class="cart-card-reveal__item" data-cart-card-item="00006">
						<div class="cart-card-reveal__item-inner">
							<div class="cart-card-reveal__item-image-box">
								<img src="http://via.placeholder.com/465x465?text=6" data-cart-card-image alt="" class="cart-card-reveal__item-image">
							</div>
							<div class="cart-card-reveal__item-desc-box">
								<div class="cart-card-reveal__item-title" data-cart-card-title>
									Открытка «Happy Birthday» 5
								</div>
								<div class="cart-card-reveal__item-price" >
									<span class="cart-card-reveal__item-price-value" data-cart-card-price>
										20
									</span>
									<span class="cart-card-reveal__item-price-currency">
										грн.
									</span>
								</div>
								<a href="" class="cart-card-reveal__add-link js-cart-card-reveal__add-link">
									Добавить
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
