<div class="cart-products-list cart-products-list--dashboard">
	<div class="cart-products-list__header">
		<div class="cart-products-list__header-left">
			<div class="cart-products-list__column-label cart-products-list__column-label--name">
				Товар
			</div>
		</div>
		<div class="cart-products-list__header-right">
			<div class="cart-products-list__header-inner">
				<div class="cart-products-list__column-label cart-products-list__column-label--price">
					Цена за шт.
				</div>
				<div class="cart-products-list__column-label cart-products-list__column-label--quantity">
					Количество
				</div>
				<div class="cart-products-list__column-label cart-products-list__column-label--subtotal">
					Сумма
				</div>
			</div>
		</div>
	</div>
	<div class="cart-products-list__content">
		{{> cart-product-dashboard}}
		{{> cart-product-dashboard}}
		{{> cart-product-dashboard}}
	</div>
	<div class="cart-products-list__footer">
		<div class="cart-products-list__footer-row">
			<div class="cart-products-list__footer-left">
				<div class="cart-products-list__footer-column cart-products-list__footer-column--order-data">
					Общая стоимость без учета доставки:
				</div>
			</div>
			<div class="cart-products-list__footer-right">
				<div class="cart-products-list__footer-column cart-products-list__footer-column--order-data-prices">
					<span class="cart-products-list__total-price cart-products-list__total-price--small">
						580
					</span>
					<span class="cart-products-list__total-price-currency">
						гнр.
					</span>
				</div>
			</div>
		</div>
		<div class="cart-products-list__footer-row">
			<div class="cart-products-list__footer-left">
				<div class="cart-products-list__footer-column cart-products-list__footer-column--order-data">
					Общая стоимость без учета доставки:
				</div>
			</div>
			<div class="cart-products-list__footer-right">
				<div class="cart-products-list__footer-column cart-products-list__footer-column--order-data-prices">
					<span class="cart-products-list__total-price cart-products-list__total-price--small">
						580
					</span>
					<span class="cart-products-list__total-price-currency">
						гнр.
					</span>
				</div>
			</div>
		</div>
		<div class="cart-products-list__footer-row">
			<div class="cart-products-list__footer-left">
				<div class="cart-products-list__footer-column cart-products-list__footer-column--order-data">
					Общая стоимость без учета доставки:
				</div>
			</div>
			<div class="cart-products-list__footer-right">
				<div class="cart-products-list__footer-column cart-products-list__footer-column--order-data-prices">
					<span class="cart-products-list__total-price cart-products-list__total-price--small">
						580
					</span>
					<span class="cart-products-list__total-price-currency">
						гнр.
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="cart-products-list__footer">
		<div class="cart-products-list__footer-row">
			<div class="cart-products-list__footer-left">
				<div class="cart-products-list__footer-column cart-products-list__footer-column--order-total-price">
					Итоговая сумма заказа:
				</div>
			</div>
			<div class="cart-products-list__footer-right">
				<div class="cart-products-list__footer-column cart-products-list__footer-column--order-data-prices">
					<span class="cart-products-list__total-price">
						580
					</span>
					<span class="cart-products-list__total-price-currency">
						гнр.
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
