<div class="cart-products-list">
	<div class="cart-products-list__header">
		<div class="cart-products-list__header-left">
			<div class="cart-products-list__column-label cart-products-list__column-label--name">
				Товар
			</div>
		</div>
		<div class="cart-products-list__header-right">
			<div class="cart-products-list__header-inner">
				<div class="cart-products-list__column-label cart-products-list__column-label--price">
					Цена за шт.
				</div>
				<div class="cart-products-list__column-label cart-products-list__column-label--quantity">
					Количество
				</div>
				<div class="cart-products-list__column-label cart-products-list__column-label--subtotal">
					Сумма
				</div>
			</div>
		</div>
	</div>
	<div class="cart-products-list__content">
		{{> cart-product}}
		{{> cart-product}}
		{{> cart-product}}
	</div>
	<div class="cart-products-list__footer">
		<div class="cart-products-list__footer-row">
			<div class="cart-products-list__footer-left">
				<div class="cart-products-list__footer-column cart-products-list__footer-column--cupon-label">
					Ввести промокод
				</div>
				<div class="cart-products-list__footer-column cart-products-list__footer-column--cupon">
					<input class="cart-products-list__copon-input" type="text" name="" value="">
				</div>
			</div>
			<div class="cart-products-list__footer-right">
				<div class="cart-products-list__footer-column cart-products-list__footer-column--total-label">
					Сумма заказа:
				</div>
				<div class="cart-products-list__footer-column cart-products-list__footer-column--total">
					<span class="cart-products-list__total-price">
						580
					</span>
					<span class="cart-products-list__total-price-currency">
						гнр.
					</span>
				</div>
			</div>
		</div>
	</div>
	{{> cart-card-reveal}}
	{{> cart-pack-reveal}}
</div>
<div class="cart-add-actions">
	<div class="cart-add-actions__box">
		<div class="cart-add-actions__label">
			Добавить к заказу:
		</div>
		<div class="cart-add-actions__gift-package">
			<div class="cart-add-actions__gift-package-span" data-open="cartPackReveal">
				Подарочная упаковка
			</div>
		</div>
		<div class="cart-add-actions__gift-card" data-open="cartCardReveal">
			<span class="cart-add-actions__gift-card-span">
				Подарочная открытка
			</span>
		</div>
	</div>
</div>
