<div class="cart-product cart-product--dashboard js-cart-product">
	<div class="cart-product__box">
		<div class="cart-product__left">
			<div class="cart-product__image-box">
				<a href="" class="cart-product__image-link">
					<img src="http://placehold.it/135x135?text=Image+1" alt="" class="cart-product__image">
				</a>
			</div>
			<div class="cart-product__content-box">
				<a href="" class="cart-product__link">
					Набор канцелярских скрепок «Сардина»
				</a>
				<div class="cart-product__desc">
					Модная копилка
				</div>
				<div class="cart-product__sku">
					<span class="cart-product__sku-label">
						Артикул:
					</span>
					392003
				</div>
				<div class="cart-product__stock-status cart-product__stock-status--green">
					в наличии на складе
				</div>
			</div>

		</div>
		<div class="cart-product__right">
			<div class="cart-product__right-inner">
				<div class="cart-product__price-box">
					<div class="cart-product__price">
						<span class="cart-product__price-value">
							120
						</span>
						<span class="cart-product__price-currency">
							грн.
						</span>
					</div>
				</div>
				<div class="cart-product__quantity-box">
					<div class="cart-product__quantity">
						1
					</div>
				</div>
				<div class="cart-product__subtotal-box">
					<div class="cart-product__subtotal">
						<span class="cart-product__price-value">
							120
						</span>
						<span class="cart-product__price-currency">
							грн.
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
