$module: 'checkout-option-data';


.#{$module} {

	&__data {
		@include grid-row();
		padding-top: rem-calc(30);

		@include breakpoint(xmedium) {
			padding-top: rem-calc(50);
		}
	}

	&__address-label {
		@include grid-column(12);
		font-size: rem-calc(16);
		text-align: center;
	    margin: 0;
		line-height: 1.4;
		margin-bottom: rem-calc(10);

		@include breakpoint(medium) {
			text-align: left;
		}
	}

	&__address-select-box {
		@include grid-column(12, 0);

		@include breakpoint(medium) {
			@include grid-column(8);
		}

	}

	&__address-add-box {
		@include grid-column(12, 0);
		text-align: center;

		@include breakpoint(medium) {
			@include grid-column(4);
			text-align: left;
		}
	}

	&__address-add-link {
		position: relative;
		font-size: rem-calc(16);
		padding-left: rem-calc(40);

		@include breakpoint(medium) {
			display: table-cell;
			line-height: 1.1;
			height: rem-calc(41);
			vertical-align: middle;
		}

		&:hover,
		&:focus {
			span {
				border-bottom-color: $anchor-color-hover;
			}
		}

		&::after {
			@include vertical-center;
			@include icon($icon-plus);
			left: 0;
			font-size: rem-calc(26);
		}

		span {
			border-bottom: 1px dashed $body-font-color;
		}
	}

	&__service {
		@include grid-row();
	}

	&__service-column {
		@include grid-column(12, 0);
		text-align: center;

		@include breakpoint(medium) {
			@include grid-column(4);
			@include grid-column-end;
			text-align: left;
		}

		&--medium {
			text-align: left;
			@include breakpoint(medium) {
				@include grid-column(8);
				@include grid-column-end;
			}
		}

		&--large {
			text-align: justify;
			@include breakpoint(medium) {
				@include grid-column(12);
				@include grid-column-end;
			}
		}
	}

	&__service-label {
		font-size: rem-calc(16);
		text-align: center;
		margin: 0;
		line-height: 1.4;
		margin-bottom: rem-calc(10);

		@include breakpoint(medium) {
			text-align: left;
		}
	}

	&__service-image-box {
		text-align: center;
		margin-bottom: rem-calc(20);

		@include breakpoint(medium) {
			text-align: left;
			margin-bottom: 0;
		}
	}

	&__warehouse-label {
		font-size: rem-calc(16);
		text-align: center;
		margin: 0;
		line-height: 1.4;
		margin-bottom: rem-calc(10);

		@include breakpoint(medium) {
			text-align: left;
		}
	}

	&__address-add-box {
		@include grid-column(12, 0);
		text-align: center;

		@include breakpoint(medium) {
			@include grid-column(4);
			text-align: left;
		}
	}

	&__find-warehouse-box {
		@include breakpoint(medium) {
			margin-top: rem-calc(30);
		}
	}

	&__find-warehouse-link {
		position: relative;
		font-size: rem-calc(16);
		padding-left: rem-calc(36);

		@include breakpoint(medium) {
			display: table-cell;
			line-height: 1.1;
			height: rem-calc(41);
			vertical-align: middle;
		}

		&:hover,
		&:focus {
			span {
				border-bottom-color: $anchor-color-hover;
			}
		}

		&::after {
			@include vertical-center;
			left: 0;
			font-size: rem-calc(26);
			// width: rem-calc(20);
			// height: rem-calc(30);
			@include icon($icon-search);
		}

		span {
			border-bottom: 1px dashed $body-font-color;
		}
	}

}
