$module: 'checkout-confirmation';
$confirmation-data-color: #8e8e8e;
$confirmation-separator-color: $brand-satin-linen;
$total-price-color: $brand-orange;

.#{$module} {
	&__data {
		@include grid-row();
		padding-top: rem-calc(40);
	}

	&__left {
		@include grid-column(12, 0);

		@include breakpoint(xmedium) {
			@include grid-column(6.5);
		}
	}

	&__right {
		@include grid-column(12, 0);
		padding-top: rem-calc(15);

		@include breakpoint(xmedium) {
			@include grid-column(5.5);
			padding-top: rem-calc(0);
		}
	}

	&__bottom {
		@include grid-column(12, 0);
		padding-top: rem-calc(15);

		@include breakpoint(xmedium) {
			padding-top: rem-calc(0);
		}
	}

	&__block {
		padding-left: rem-calc(60);

		@include breakpoint(xmedium) {
			padding-left: rem-calc(40);
		}

		& + .#{$module}__block {
			margin-top: rem-calc(15);

			@include breakpoint(xmedium) {
				margin-top: rem-calc(35);
			}
		}
	}

	&__block-title {
		position: relative;
		font-size: rem-calc(18);

		@include breakpoint(xmedium) {
			font-size: rem-calc(20);
		}

		&::after {
			position: absolute;
			background-size: contain;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			content: '';
		}

		&--customer {
			&::after {
				@include icon($icon-user-2);
				left: rem-calc(-50);
				font-size: rem-calc(30);
			}
		}

		&--delivery {
			&::after {
				@include icon($icon-fill-7);
				left: rem-calc(-50);
				font-size: rem-calc(33);
			}
		}

		&--payment {
			&::after {
				@include icon($icon-fill-1);
				left: rem-calc(-53);
				font-size: rem-calc(33);
			}
		}

		span {
			font-weight: bold;
		}
	}

	&__block-data {
		font-size: rem-calc(16);
		color: $confirmation-data-color;
		margin-top: rem-calc(20);

		p {
			margin: 0;
		}
	}

	&__total {
		text-align: center;
		border-top: 1px dashed $confirmation-separator-color;
		margin-top: rem-calc(50);
		padding-top: rem-calc(33);
	}

	&__total-label {
		font-size: rem-calc(20);
		line-height: 1;
		padding-right: rem-calc(10);

		@include breakpoint(xmedium) {
			font-size: rem-calc(30);
			padding-right: rem-calc(20);
		}
	}

	&__total-price {
		font-size: rem-calc(30);
		line-height: 1;
		color: $total-price-color;

		@include breakpoint(xmedium) {
			font-size: rem-calc(48);
		}
	}

	&__subscribe {
		padding-top: rem-calc(15);
	}

	&__subscribe-label {
		position: relative;
		font-size: rem-calc(16);
		border-radius: $global-radius;
		margin: 0;
		padding: rem-calc(5 10 5 30);
		cursor: pointer;

		&::before {
			@include vertical-center;
			left: 0;
			width: rem-calc(19);
			height: rem-calc(19);
			border-radius: $global-radius;
			border: 1px solid  $brand-satin-linen;
			content: '';
		}
	}

	&__subscribe-input {
		display: none;

		&[type='checkbox'] {
			& + label {
				width: 100%;
				margin: 0;
			}
		}

		&[type='checkbox']:checked {
			& + label {
				&::before {
					border: 1px solid $body-font-color;
				}

				&::after {
					@include vertical-center;
					@include icon($icon-check);
					left: rem-calc(3);
					font-size: rem-calc(14);
				}
			}
		}
	}
}
