$module: 'checkout-page';

.#{$module} {
	// @include grid-row();
	@include grid-column-row;
	float: none !important;
	// @include grid-column-end

	// @include breakpoint(xmedium) {
	// 	@include grid-row-size(rem-calc(740));
	// }
	//
	// @include breakpoint(large) {
	// 	@include grid-row-size(rem-calc(954));
	// }

	@include breakpoint(xmedium) {
		@include grid-row-size(rem-calc(740));
	}

	@include breakpoint(xxmedium) {
		@include grid-row-size(rem-calc(954));
	}

	&__box {
		padding: rem-calc(24 0 43);
	}

	&__content {
		@include clearfix;
		background: $white;
		margin-top: rem-calc(25);
		padding: rem-calc(20 10);

		@include breakpoint(large) {
			padding: rem-calc(20 40 55);
		}
	}

	&__title {
		font-size: rem-calc(30);
		text-align: center;
		margin-bottom: rem-calc(3);

		@include breakpoint(xxsmall) {
			font-size: rem-calc(40);
		}

		@include breakpoint(medium) {
			font-size: rem-calc(45);
		}

		@include breakpoint(xmedium) {
			font-size: rem-calc(50);
		}
	}

	&__sub-header {
		@include grid-row();
		position: relative;
	}

	&__breadcrumbs {
		@include breakpoint(xmedium down) {
			@include grid-column(12, 0);
		}
		text-align: center;
		margin-top: rem-calc(10);

		@include breakpoint(xxmedium) {
			@include vertical-center;
			left: 0;
			margin-top: 0;

			&--order-done {
				display: block;
				position: relative;
				margin-bottom: rem-calc(25);
				transform: none;
			}
		}
	}

	&__sub-title {
		@include grid-column(12, 0);
		font-size: rem-calc(18);
		text-align: center;

		@include breakpoint(xxmedium) {
			@include grid-column(12);
			@include grid-column-end;
		}
	}

	&__step-title {
		font-size: rem-calc(20);
		text-align: center;
		margin-bottom: rem-calc(15);

		@include breakpoint(xxsmall) {
			font-size: rem-calc(24);
		}

		@include breakpoint(medium) {
			font-size: rem-calc(26);
		}

		@include breakpoint(xmedium) {
			font-size: rem-calc(30);
			margin-bottom: rem-calc(50);
		}
	}

	&__links {
		@include clearfix;
		margin-top: rem-calc(40);

		@include breakpoint(xmedium) {
			font-size: rem-calc(35);
		}
	}

	&__edit-link {
		display: block;
		font-size: rem-calc(16);
		color: $brand-dove-gray;
		text-align: center;
		margin-top: rem-calc(15);

		span {
			border-bottom: 1px dashed $brand-dove-gray;
		}

		&:hover,
		&:focus {
			span {
				border-bottom-color: $anchor-color-hover;
			}
		}
	}

	&__link {
		position: relative;
		display: block;
		width: rem-calc(196);
		height: rem-calc(57);
		font-size: rem-calc(16);
		line-height: rem-calc(57);
		color: $white;
		text-transform: uppercase;
		text-align: center;
		margin: 0 auto;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include link-hfa {
			color: $white;

			&::before {
				color: $anchor-color-hover;
			}

			span {
				color: $white;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-solid-medium);
			font-size: rem-calc(57);
			color: $black;
		}

		&--back {
			display: none;

			@include breakpoint(medium) {
				display: block;
				float: left;
			}

			@include link-hfa {
				&::before {
					color: $anchor-color-hover;
				}

				span {
					color: $anchor-color-hover;
				}
			}

			&::before {
				@include icon($icon-blank-medium);
			}

			span {
				color: $black;
			}
		}

		&--green-large {
			width: rem-calc(200);
			height: rem-calc(50);
			line-height: rem-calc(50);
			color: $white;

			@include breakpoint(medium) {
				width: rem-calc(258);
				height: rem-calc(57);
				line-height: rem-calc(60);
			}

			&:hover,
			&:focus {
				color: $white;
			}

			&::before {
				@include icon($icon-solid-large);
				color: #28c613;
			}
		}

		&--next {
			@include breakpoint(medium) {
				float: right;
			}
		}

		span {
			position: relative;
			z-index: 1;
		}

		& + & {
			margin-top: rem-calc(10);

			@include breakpoint(medium) {
				margin-top: 0;
			}
		}
	}
}
