$module: 'checkout-steps';
$complete: #ffd640;

.#{$module} {
	@include grid-row();
	@include grid-row-size(rem-calc(520));
	padding-top: rem-calc(25);

	&__list {
		display: table;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		table-layout: fixed;
	}

	&__item {
		position: relative;
		display: table-cell;
		text-align: center;

		&::before {
			position: relative;
			z-index: 1;
			display: block;
			width: rem-calc(38);
			height: rem-calc(38);
			font-size: rem-calc(18);
			line-height: rem-calc(38);
			color: $body-font-color;
			text-align: center;
			background-image: url('../../assets/img/icons/checkout-step.png');
			background-repeat: no-repeat;
			background-position: 50% 50%;
			border-radius: 100%;
			margin: 0 auto;
			content: attr(data-step);
		}

		&::after {
			@include vertical-center;
			left: 50%;
			z-index: 0;
			display: block;
			width: 100%;
			height: rem-calc(9);
			background: $white;
			margin-left: 1.5em\9;
			content: '';
		}

		&--complete {
			color: $complete;

			&::before {
				color: $white;
				background-color: transparent;
				background-image: url('../../assets/img/icons/checkout-step-active.png');
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}

			&::after {
				background: #f5d244;
			}
		}

		&--active {
			&::before {
				color: $white;
				background-color: transparent;
				background-image: url('../../assets/img/icons/checkout-step-active.png');
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}
		}

		&--last {
			&::after {
				display: none;
				content: '';
			}
		}
	}
}
