$module: 'checkout-option';
$price-color: $brand-orange;
$options-bg-color: $brand-spring-wood;
$options-border-color: $brand-satin-linen;
$option-desc-color: $brand-dove-gray;
$option-info-color: $brand-silver;
$selected-options-border-color: $brand-yellow;

.#{$module} {
	@include grid-column(12, 0);

	@include breakpoint(medium) {
		@include grid-column(4, 20);
		@include grid-column-end;
	}

	@include breakpoint(xmedium) {
		@include grid-column(4);
	}

	& + .#{$module} {
		margin-top: rem-calc(10);

		@include breakpoint(medium) {
			margin-top: 0;
		}
	}

	&__icon {
		font-size: rem-calc(56);

		&--warehouse {
			@include icon-before($icon-fill-7);
		}

		&--home {
			@include icon-before($icon-fill-5);
		}

		&--self {
			@include icon-before($icon-fill-3);
		}

		&--novaposhta {
			@include icon-before($icon-fill-1);
		}

		&--bank {
			@include icon-before($icon-fill-9);
		}

		&--bank {
			@include icon-before($icon-fill-9);
		}

		&--card {
			@include icon-before($icon-fill-11);
		}
	}

	&__icon-image {
		@include show-for(medium);
		width: rem-calc(50);
		margin-bottom: rem-calc(15);
	}

	label.#{$module}__box {
		display: block!important;
		height: inherit;
		position: relative;
		padding: rem-calc(23);
		margin: rem-calc(1);
		border-radius: rem-calc(10);
		background: $options-bg-color;
		border: 1px solid $options-border-color;
		cursor: pointer;

		@include breakpoint(medium) {
			padding: rem-calc(15);
		}

		@include breakpoint(xmedium) {
			padding: rem-calc(23);
		}
	}

	&__input {
		display: none;

		&[type="radio"]:checked {
			& + label.#{$module}__box {
				border: 2px solid $selected-options-border-color;
				background: $white;
				margin: 0;

				&::before {
					@include icon($icon-check);
					position: absolute;
					width: rem-calc(38);
					height: rem-calc(38);
					text-align: center;
					line-height: rem-calc(35);
					font-size: rem-calc(19);
					border: 2px solid $selected-options-border-color;
					background-color: $white;
					border-radius: 50%;
					top: rem-calc(-17);
					right: rem-calc(-17);
				}
			}
		}

		&[type="radio"]:disabled {
			& + label.#{$module}__box {
				cursor: no-drop;
			}
		}
	}

	&__title {
		display: block;
		font-size: rem-calc(20);
		font-weight: bold;
		margin-bottom: rem-calc(15);
	}

	&__desc {
		display: block;
		font-size: rem-calc(16);
		color: $option-desc-color;
	}

	&__info {
		display: block;
		font-size: rem-calc(15);
		margin-top: rem-calc(15);
		color: $option-info-color;
	}

	&__price {
		display: block;
		position: absolute;
		top: rem-calc(24);
		right: rem-calc(24);
		font-size: rem-calc(24);
		color: $price-color;

		@include breakpoint(medium) {
			position: static;
			border: 1px solid $price-color;
			border-radius: $global-radius;
			text-align: center;
			margin-bottom: rem-calc(15);
		}

		@include breakpoint(xmedium) {
			position: absolute;
			border: 0;
			border-radius: 0;
			text-align: left;
			margin-bottom: 0;
			top: rem-calc(37);
			right: rem-calc(24);
		}
	}

	&__price-small {
		font-size: rem-calc(18);
	}

	&__disabled-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba($white, 0.6);
		border-radius: rem-calc(10);
	}

	&__disabled-title {
		position: absolute;
		top: rem-calc(15);
		right: rem-calc(15);
		left: rem-calc(15);
		padding: rem-calc(15);
		border-radius: rem-calc(5);
		border: 1px dashed $body-font-color;
		background: rgba($white, 0.8);
		font-size: rem-calc(14);
	}
}
