$module: 'checkout-product';
$sku-color: $brand-silver;
$product-separator-color: $brand-satin-linen;

.#{$module} {
	@include grid-row;
	padding-top: rem-calc(15);
	padding-bottom: rem-calc(15);
	border-bottom: 1px dashed $product-separator-color;

	& + .#{$module} {

	}

	&__left {
		@include grid-column(12, 0);

		@include breakpoint(medium) {
			@include grid-column(6);
		}
	}

	&__left-inner {
		display: table;
	}

	&__right {
		@include grid-column(12, 0);
		padding-top: rem-calc(15);

		@include breakpoint(medium) {
			@include grid-column(6);
			padding-top: rem-calc(0);
		}
	}

	&__right-inner {
		display: table;
		width: 100%;
	}

	&__image-box {
		display: table-cell;
		vertical-align: middle;
	}

	&__image {
		height: rem-calc(50);
		width: rem-calc(50);
	}

	&__data {
		display: table-cell;
		vertical-align: middle;
		padding-left: rem-calc(15);

		@include breakpoint(medium) {
			padding-left: rem-calc(35);
		}
	}

	&__title {
		font-size: rem-calc(16);
	}

	&__sku {
		font-size: rem-calc(12);
		color: $sku-color;
		margin-top: rem-calc(2);
	}

	&__price {
		display: table-cell;
		width: 33.333%;
		vertical-align: middle;
		text-align: center;
		font-size: rem-calc(18);

		@include breakpoint(medium) {
			font-size: rem-calc(20);
		}
	}

	&__quantity {
		display: table-cell;
		width: 33.333%;
		vertical-align: middle;
		text-align: center;
		font-size: rem-calc(18);

		@include breakpoint(medium) {
			font-size: rem-calc(20);
		}
	}

	&__subtotal {
		display: table-cell;
		width: 33.333%;
		vertical-align: middle;
		text-align: center;
		font-size: rem-calc(18);

		@include breakpoint(medium) {
			font-size: rem-calc(20);
			text-align: right;
		}
	}
}
