$module: 'customer-data';

.#{$module} {
	&__tabs-title {
		text-align: center;
		list-style-type: none;
		margin: 0;
	}

	&__tab-title {
		font-size: rem-calc(18);
		padding: rem-calc(0 10 0 0);
		vertical-align: top;

		@include breakpoint(xxsmall) {
			display: inline-block;
			font-size: rem-calc(20);
		}

		&--active {

			a {
				color: $body-font-color;
				padding-bottom: rem-calc(3);
				border-bottom: 2px solid $brand-yellow;
			}

		}

		& + .#{$module}__tab-title {
			position: relative;
			margin-top: rem-calc(5);

			@include breakpoint(xxsmall) {
				padding-left: rem-calc(20);
				margin-top: 0;

				&::before {
					content: '/';
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}

	&__tab-link {
		color: $body-font-color;
		border-bottom: 1px dashed $brand-light;

		&:hover {
			padding-bottom: rem-calc(3);
			border-bottom: 2px solid $anchor-color-hover;
		}
	}

	&__content {
	}


	&__content-inner {
	}

	&__tab {
		@include tabs-panel;
		padding: rem-calc(20 0 0 0);

		@include breakpoint(xmedium) {
			padding: rem-calc(50 0 0 0);
		}
	}

	&__tab-content {
		@include grid-row();
	}

	&__form {

	}

	&__form-row {
		@include grid-row();
		margin-bottom: rem-calc(10);

		@include breakpoint(xmedium) {
			margin-bottom: rem-calc(23);
		}

		&--no-margin {
			margin: 0;
		}
	}

	&__form-label-box {
		@include grid-column(12, 0);

		@include breakpoint(xmedium) {
			@include grid-column(3.4);
		}
	}

	&__form-label {
		@extend label.middle;
		font-size: rem-calc(16);
		margin: 0;

		@include breakpoint(xmedium) {
			text-align: right;
			font-size: rem-calc(18);
		}
	}

	&__form-label-asterisk {
		// color: $red;
	}

	&__form-input-box {
		@include grid-column(12, 0);

		@include breakpoint(xmedium) {
			@include grid-column(5.2);
			@include grid-column-end;
		}
	}

	&__form-input {
		margin: 0;
	}

	&__form-helptext-box {
		@include grid-column(12, 0);
		font-size: rem-calc(16);
		color: #666666;
		text-align: right;

		@include breakpoint(xmedium) {
			@include grid-column(3.4, 0);
			text-align: left;
		}

		@include breakpoint(xxmedium) {
			@include grid-column(3.4);
			font-size: rem-calc(16);
		}
	}

	&__form-helptext {
		@include breakpoint(xmedium) {
			display: table-cell;
			line-height: 1.1;
			height: rem-calc(41);
			vertical-align: middle;
		}
	}

	&__form-add-comment {
		@include grid-column(12, 0);
		text-align: center;

		@include breakpoint(xmedium) {
			@include grid-column(5.2);
			@include grid-column-offset(3.4);
			font-size: rem-calc(14);
			text-align: left;
		}
	}

	&__form-add-comment-toggle {
		font-size: rem-calc(16);
		margin-bottom: rem();
		border-bottom: 1px dashed $black;
		cursor: pointer;

	}

	&__form-comment {
		@include grid-column(12, 0);
		transition: max-height 0.15s ease-out;
		max-height: 0;
		overflow: hidden;

		&--visible {
			padding-top: rem-calc(15);
			max-height: 600px;
		}
	}

	&__form-comment-textarea {
		margin: 0;
	}

	&__form-is-gift {
		@include grid-column(12, 0);
		text-align: center;

		@include breakpoint(xmedium) {
			@include grid-column(5.2);
			@include grid-column-offset(3.4);
			text-align: left;
		}
	}

	&__form-is-gift-input {
		font-size: rem-calc(16);
	}

	&__form-is-gift-label {
		font-size: rem-calc(16);
	}
}
