$module: 'order-done';
$price-color: $brand-orange;

.#{$module} {
	&__title {
		font-size: rem-calc(30);
		text-align: center;
		margin-bottom: rem-calc(20);

		@include breakpoint(medium) {
			font-size: rem-calc(40);
			font-size: rem-calc(50);
		}

		@include breakpoint(xxmedium) {
			font-size: rem-calc(50);
		}
	}

	&__subtitle {
		font-size: rem-calc(16);
		text-align: center;
		margin-bottom: rem-calc(40);

		@include breakpoint(medium) {
			font-size: rem-calc(20);
			margin-bottom: rem-calc(55);
		}
	}

	&__image-box {
		text-align: center;
		margin: rem-calc(35 0 45);
	}

	&__order-details {
		display: table;
		width: 100%;
		margin-bottom: rem-calc(80);

		@include breakpoint(medium) {
			margin-bottom: rem-calc(90);
		}
	}

	&__order-details-left {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
	}

	&__order-details-right {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
	}

	&__order-number {
		font-size: rem-calc(16);
		text-align: right;

		@include breakpoint(medium) {
			font-size: rem-calc(18);
		}
	}

	&__order-total-label {
		font-size: rem-calc(20);
		line-height: 1;
		text-align: right;

		@include breakpoint(medium) {
			font-size: rem-calc(30);
		}
	}

	&__order-price {
		font-size: rem-calc(30);
		color: $price-color;
		padding-left: rem-calc(23);

		@include breakpoint(medium) {
			font-size: rem-calc(48);
		}
	}

	&__actions {
		text-align: center;
		margin-bottom: rem-calc(50);

		@include breakpoint(medium) {
			margin-bottom: rem-calc(90);
		}
	}

	&__print {
		position: relative;
		font-size: rem-calc(18);
		border-bottom: 1px solid $body-font-color;
		text-transform: uppercase;
		transition: all 300ms ease-in-out;

		&::before {
			@include icon($icon-print);
			@include horizontal-center;
			top: rem-calc(-40);
			font-size: rem-calc(30);

			@include breakpoint(medium) {
				top: rem-calc(-45);
				font-size: rem-calc(35);
			}

			@include breakpoint(xmedium) {
				@include vertical-center;
				left: rem-calc(-55);
				font-size: rem-calc(42);
			}
		}

		&:hover, &:focus {
			span {
				border-bottom: 1px solid $anchor-color-hover;
			}
		}
	}

	&__save {
		position: relative;
		font-size: rem-calc(18);
		margin-left: rem-calc(24);
		text-transform: uppercase;
		transition: all 300ms ease-in-out;

		@include breakpoint(medium) {
			margin-left: rem-calc(100);
		}

		&::before {
			@include icon($icon-download);
			@include horizontal-center;
			top: rem-calc(-40);
			font-size: rem-calc(30);

			@include breakpoint(medium) {
				top: rem-calc(-45);
				font-size: rem-calc(35);
			}

			@include breakpoint(xmedium) {
				@include vertical-center;
				left: rem-calc(-45);
				font-size: rem-calc(42);
			}
		}

		&:hover, &:focus {
			span {
				border-bottom: 1px solid $anchor-color-hover;
			}
		}

		span {
			border-bottom: 1px solid $body-font-color;
		}
	}

	&__go-to-home {
		text-align: center;
		margin-bottom: rem-calc(20);
	}

	&__go-to-link {
		font-size: rem-calc(17);
		border-bottom: 1px solid $body-font-color;
		transition: all 300ms ease-in-out;

		&:hover, &:focus {
			border-bottom: 1px solid $anchor-color-hover;
		}
	}
}
