$module: 'order-done-text';
$complete: #ffd640;

.#{$module} {
	&__box {
		@include grid-column-row();
		float: none !important;
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(20);

		@include breakpoint(xmedium) {
			@include grid-row-size(rem-calc(740));
			padding-top: rem-calc(25);
			padding-bottom: rem-calc(25);
		}

		@include breakpoint(xxmedium) {
			@include grid-row-size(rem-calc(954));
			padding-top: rem-calc(30);
			padding-bottom: rem-calc(30);
		}
	}

	&__muted {
		font-style: italic;
		color: #999999;
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(20);
	}

	&__important {
		border-left: 4px solid #ff3b30;
		padding-left: rem-calc(20);
	}

	a {
		color: $body-font-color;
		border-bottom: 1px solid $body-font-color;

		@include link-hfa {
			color: $anchor-color-hover;
			border-bottom-color: $anchor-color-hover;
		}
	}
}
