$module: 'newsletter';

.#{$module} {
	border-top: 1px solid $brand-spring-wood;
	border-bottom: 1px solid $brand-spring-wood;

	&__box {
		@include grid-column-row();
		float: none !important;
		padding-top: rem-calc(30);
		padding-bottom: rem-calc(30);

		@include breakpoint(xmedium) {
			padding-top: rem-calc(64);
			padding-bottom: rem-calc(64);
		}
	}

	&__inner {
		@include grid-column(12, 0);
	}

	&__content {
		position: relative;
		padding-top: rem-calc(90);

		@include breakpoint(xmedium down) {
			@include grid-row();
			@include grid-row-nest;
		}

		@include breakpoint(xxmedium) {
			display: table;
			width: 100%;
		}

		@include breakpoint(large) {
			padding-top: 0;
		}
	}

	&__title {
		font-size: rem-calc(24);
		line-height: 1;

		@include breakpoint(medium down) {
			@include grid-column(12);
			font-size: rem-calc(20);
			text-align: center;
		}

		@include breakpoint(xmedium down) {
			@include grid-column(6);
			font-size: rem-calc(20);
			text-align: center;
		}

		@include breakpoint(xmedium) {
			padding-top: rem-calc(20);
			padding-bottom: rem-calc(20);
		}

		@include breakpoint(xxmedium) {
			display: table-cell;
			width: 25%;
			font-size: rem-calc(24);
			line-height: rem-calc(24);
			text-align: left;
			margin-top: 0;
			padding: rem-calc(0 20);
			vertical-align: middle;
		}

		@include breakpoint(large) {
			width: 40%;
			padding-right: rem-calc(50);
			padding-left: rem-calc(130);
		}

		@include breakpoint(xlarge) {
			padding-right: rem-calc(120);
		}

		span {
			display: block;
			text-align: center;

			@include breakpoint(medium) {
				text-align: right;
				padding-left: rem-calc(90);
			}

			@include breakpoint(xmedium) {
				padding-top: rem-calc(5);
			}

			@include breakpoint(xxmedium) {
				padding-top: 0;
				padding-left: 0;
			}

			&::before {
				position: absolute;
				top: 0;
				left: 50%;
				width: rem-calc(117);
				height: rem-calc(78);
				transform: translateX(-50%);
				background-image: url('../../assets/img/newsletter.png');
				background-position: 50% 50%;
				background-repeat: no-repeat;
				content: '';

				@include breakpoint(large) {
					@include vertical-center;
					left: 0;
				}
			}
		}
	}

	&__desc {
		font-size: rem-calc(14);
		line-height: rem-calc(14);
		text-align: center;
		margin-top: rem-calc(10);

		@include breakpoint(medium down) {
			@include grid-column(12);
			margin-top: rem-calc(20);
		}

		@include breakpoint(xmedium down) {
			@include grid-column(6);
			text-align: left;
			margin-top: 0;
		}

		@include breakpoint(xmedium) {
			line-height: 1.1;
			padding-top: rem-calc(20);
			padding-bottom: rem-calc(20);
		}

		@include breakpoint(xxmedium) {
			padding-top: 0;
			padding-bottom: 0;
		}

		@include breakpoint(xxmedium) {
			display: table-cell;
			width: 35%;
			text-align: left;
			margin-top: 0;
			vertical-align: middle;
		}

		@include breakpoint(large) {
			width: 28%;
		}

		span {
			@include breakpoint(xxsmall) {
				display: inline-block;
				max-width: rem-calc(300);
				margin: 0 auto;
			}

			@include breakpoint(xxmedium) {
				display: inline-block;
				border-left: 1px solid $brand-spring-wood;
				padding-left: rem-calc(20);
			}

			@include breakpoint(xlarge) {
				padding-left: rem-calc(35);
			}
		}
	}

	&__input-box {
		margin-top: rem-calc(20);

		@include breakpoint(xmedium down) {
			@include grid-column(8);
			@include grid-column-end;
			@include grid-column-offset(2);
			margin-top: rem-calc(20);
		}

		@include breakpoint(xxmedium) {
			display: table-cell;
			width: 40%;
			margin-top: 0;
			vertical-align: middle;
		}
	}

	&__input {
		max-width: rem-calc(300);
		margin: 0 auto rem-calc(15);

		@include breakpoint(medium) {
			float: left;
			width: calc(100% - 160px);
			max-width: none;
			margin: rem-calc(0);
		}
	}

	&__button {
		position: relative;
		display: block;
		width: rem-calc(138);
		height: rem-calc(40);
		font-size: rem-calc(14);
		line-height: rem-calc(40);
		color: $white;
		text-align: center;
		margin: 0 auto;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include breakpoint(medium) {
			float: right;
			margin: 0;
		}

		@include link-hfa {
			color: $white;

			&::before {
				color: $anchor-color-hover;
			}

			span {
				color: $white;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-solid-small);
			font-size: rem-calc(40);
			color: $black;
		}

		span {
			position: relative;
			z-index: 1;
		}
	}
}
