$module: 'offcanvas-tabs';

.#{$module} {
	@include clearfix;
	background: $brand-spring-wood;
	border-top: 1px solid $white;
	margin: rem-calc(0);
	padding: rem-calc(10 0);
	list-style-type: none;

	&__tab-title {
		@include auto-width(3, li);
		float: left;
		font-size: rem-calc(18);
		text-align: center;
		padding: rem-calc(0 10 0 0);

		a {
			position: relative;
			border-bottom: 1px dashed $brand-satin-linen;
		}

		&--active {
			a {
				color: $brand-orange;
				border-bottom-color: $brand-orange;

				&::before {
					@include css-triangle(rem-calc(20), $brand-spring-wood, down);
					@include horizontal-center;
					bottom: rem-calc(-30);
				}
			}

		}
	}

	&__tab-link {
		color: $body-font-color;
		border-bottom: 1px dashed $brand-light;

		&:hover {
			padding-bottom: rem-calc(3);
			border-bottom: 2px solid $anchor-color-hover;
		}
	}

	&__tab-panel {
		@include tabs-panel;
		padding: rem-calc(0);
	}

	&__content {
		background: $white;
		padding-top: rem-calc(15);
	}
}
