$module: 'offcanvas-menu';

.#{$module} {
	width: 100%;
	background: $white;

	.js-drilldown-back {
		border-bottom: 1px solid $brand-spring-wood;

		& > a {
			position: relative;
			display: block;
			padding: rem-calc(10 15 10 40);

			&::before {
				@include icon($icon-left);
				position: absolute;
				top: rem-calc(13);
				left: rem-calc(15);
				font-size: rem-calc(18);
				border: 0;
				border: 0;
			}
		}
	}

	.is-drilldown {
		width: 100%;
		margin: 0;
	}

	&__list {
		margin: 0;
		list-style-type: none;
	}

	&__item {
		display: block;

		& + & {
			border-top: 1px solid $brand-spring-wood;
		}

		&--is-submenu-parent {
			background: $brand-spring-wood;
		}
	}

	&__link {
		position: relative;
		display: block;
		font-size: rem-calc(18);
		padding: rem-calc(10 15);

		.is-drilldown-submenu-parent > & {
			&::after {
				@include icon($icon-right);
				position: absolute;
				top: rem-calc(20);
				right: rem-calc(30);
				font-size: rem-calc(18);
				margin: 0;
				border: 0;
			}
		}

		&--gifts {
			padding: rem-calc(15 15 15 60);
			&::before {
				@include vertical-center;
				@include icon($icon-gifts);
				left: rem-calc(15);
				font-size: rem-calc(30);

			}
		}

		&--home {
			padding: rem-calc(15 15 15 60);
			&::before {
				@include vertical-center;
				@include icon($icon-home);
				left: rem-calc(10);
				font-size: rem-calc(30);

			}
		}

		&--kitchen {
			padding: rem-calc(15 15 15 60);
			&::before {
				@include vertical-center;
				@include icon($icon-kitchen);
				left: rem-calc(10);
				font-size: rem-calc(30);

			}
		}

		&--fashion {
			padding: rem-calc(15 15 15 60);
			&::before {
				@include vertical-center;
				@include icon($icon-fashion);
				left: rem-calc(10);
				font-size: rem-calc(30);

			}
		}

		&--office {
			padding: rem-calc(15 15 15 60);
			&::before {
				@include vertical-center;
				@include icon($icon-office);
				left: rem-calc(20);
				font-size: rem-calc(30);

			}
		}

		&--artisan {
			padding: rem-calc(15 15 15 60);
			&::before {
				@include vertical-center;
				@include icon($icon-artisan);
				left: rem-calc(15);
				font-size: rem-calc(30);

			}
		}

		&--tech {
			padding: rem-calc(15 15 15 60);
			&::before {
				@include vertical-center;
				@include icon($icon-techno);
				left: rem-calc(15);
				font-size: rem-calc(30);

			}
		}
	}
}
