$module: 'offcanvas-content';

.#{$module} {
	&__top {
		@include grid-row();
		background: $white;
		padding: rem-calc(10 15);
	}

	&__search {
		text-align: center;
		padding: rem-calc(15 15 0);
	}

	&__search-button {
		position: relative;
		width: rem-calc(142);
		height: rem-calc(41);
		cursor: pointer;

		@include link-hfa {
			&::before {
				color: $anchor-color-hover;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-solid-medium);
			font-size: rem-calc(41);
			color: $black;
		}

		span {
			position: relative;
			z-index: 1;
			display: block;
			color: $white;
		}
	}

	&__close {
		@include grid-column(6, 0);

		span {
			position: relative;
			padding-left: rem-calc(30);
			cursor: pointer;

			@include link-hfa {
				color: $brand-orange;

				&::after {
					color: $anchor-color-hover;
				}
			}

			&::after {
				@include vertical-center;
				@include icon($icon-close);
				left: rem-calc(0);
				font-size: rem-calc(20);
				color: $black;
			}
		}
	}

	&__lang {
		@include grid-column(6, 0);
		text-align: right;
	}

	&__user-icon {
		float: right;
		width: 40%;
	}

	&__contacts {
		background: $brand-spring-wood;
		padding: rem-calc(10 15);
	}

	&__phone {
		display: block;
		font-size: rem-calc(20);
		line-height: rem-calc(26);
		text-align: center;
		padding: rem-calc(10 0);

		&--main {
			font-size: rem-calc(26);
		}

		& + & {
			border-top: 1px solid $brand-satin-linen;
		}
	}

	&__email {
		display: block;
		font-size: rem-calc(18);
		text-align: center;
		padding: rem-calc(10);
	}

	&__working-hours {
		text-align: center;
	}

	&__login-register {
		text-align: center;
		padding: rem-calc(10 0);
	}

	&__login {
		display: inline-block;
		line-height: 1;
		border-bottom: 1px dashed $body-font-color;
		margin-right: rem-calc(7);
		cursor: pointer;

		@include link-hfa {
			color: $anchor-color-hover;
			border-bottom-color: $anchor-color-hover;
		}
	}

	&__register {
		display: inline-block;
		line-height: 1;
		border-bottom: 1px dashed $body-font-color;
		margin-left: rem-calc(7);
		cursor: pointer;

		@include link-hfa {
			color: $anchor-color-hover;
			border-bottom-color: $anchor-color-hover;
		}
	}
}
