<footer class="footer">
	<div class="footer__row">
		<div class="footer__column footer__column--company">
	       <h4 class="footer__column-header js-footer-column-header">
	           Компаниия
	       </h4>
	        <ul class="footer-menu">
	            <li class="footer-menu__item">
	               <a href="#" class="footer-menu__link">
	                    О проекте
	                </a>
	            </li>
	            <li class="footer-menu__item">
	               <a href="#" class="footer-menu__link">
	                    Бренды
	                </a>
	            </li>
	            <li class="footer-menu__item">
	               <a href="#" class="footer-menu__link">
	                    Вакансии
	                </a>
	            </li>
	            <li class="footer-menu__item">
	               <a href="#" class="footer-menu__link">
	                    Контакты
	                </a>
	            </li>
	        </ul>
	    </div>
	    <div class="footer__column footer__column--services">
			<h4 class="footer__column-header js-footer-column-header">
 	           Сервис
 	       </h4>
 	        <ul class="footer-menu">
 	            <li class="footer-menu__item">
 	               <a href="#" class="footer-menu__link">
 	                    Как купить?
 	                </a>
 	            </li>
 	            <li class="footer-menu__item">
 	               <a href="#" class="footer-menu__link">
 	                    Доставка и оплата
 	                </a>
 	            </li>
 	            <li class="footer-menu__item">
 	               <a href="#" class="footer-menu__link">
					   Вопросі и ответы
 	                </a>
 	            </li>
 	            <li class="footer-menu__item">
 	               <a href="#" class="footer-menu__link">
					   Возврат товара
 	                </a>
 	            </li>
 	        </ul>
	    </div>
	    <div class="footer__column footer__column--collaboration">
			<h4 class="footer__column-header js-footer-column-header">
 	           Сотрудничество
 	       </h4>
 	        <ul class="footer-menu">
 	            <li class="footer-menu__item">
 	               <a href="#" class="footer-menu__link">
 	                    Оптовые продажи
 	                </a>
 	            </li>
 	            <li class="footer-menu__item">
 	               <a href="#" class="footer-menu__link">
 	                    Поставщики
 	                </a>
 	            </li>
 	            <li class="footer-menu__item">
 	               <a href="#" class="footer-menu__link">
					   Партнеры
 	                </a>
 	            </li>
 	        </ul>
	    </div>
	    <div class="footer__column footer__column--logo">
	        <div class="footer-logo">
	        	<img src="{{root}}assets/img/logos/footer-logo.png" alt="" class="footer-logo__image">
	        </div>
			<div class="footer-phone">
				<a href="tel:050123-45-67" class="footer-phone__link">
					(050) 123-45-67
				</a>
			</div>
	    </div>
	</div>
	<div class="footer__row footer__row--padding-top">
		<div class="footer-email">
			<a href="#" class="footer-email__link">
				info@hochuvzhe.ua
			</a>
		</div>
		<div class="footer-social">
			<a href="facebook.com" target="_blank" class="footer-social__link footer-social__link--fb">
			</a>
			<a href="instagram.com" target="_blank" class="footer-social__link footer-social__link--inst">
			</a>
			<a href="vk.com" target="_blank" class="footer-social__link footer-social__link--vk">
			</a>
		</div>
		<div class="copyright">
			© 2012–2015 Интернет-магазин Хочу вже!
		</div>

	</div>

</footer>
