$module: 'contacts';

.#{$module} {
	@include grid-column-row();
	float: none !important;
	margin-top: rem-calc(30);
	margin-bottom: rem-calc(30);

	@include breakpoint(xmedium) {
		margin-top: 0;
		margin-bottom: rem-calc(60);
	}

	&__box {
		background: $white;
		padding: rem-calc(20);

		@include breakpoint(xmedium) {
			padding: rem-calc(25);
		}

		@include breakpoint(xmedium) {
			padding: rem-calc(35);
		}
	}

	&__row {
		@include grid-row;

		&--padding {
			padding-top: rem-calc(30);
		}
	}

	&__carousel {
		margin: 0;
		list-style-type: none;
	}

	&__left {
		@include grid-column(12);

		@include breakpoint(xmedium) {
			@include grid-column(6);
		}
	}

	&__map {
		margin-top: rem-calc(30);

		@include breakpoint(xmedium) {
			margin-top: 0;
		}
	}

	&__map-container {
		width: 100%;
		height: rem-calc(300);

		@include breakpoint(xmedium) {
			height: rem-calc(287);
		}

		@include breakpoint(large) {
			height: rem-calc(411);
		}

		@include breakpoint(xlarge) {
			height: rem-calc(480);
		}
	}

	&__phones {
		border-left: 2px solid $brand-yellow;
		padding-left: rem-calc(30);
	}

	&__emails {
		border-left: 2px solid $brand-yellow;
		padding-left: rem-calc(30);
	}

	&__office {
		padding-top: rem-calc(20);
	}

	&__right {
		@include grid-column(12);

		@include breakpoint(xmedium) {
			@include grid-column(6);
		}
	}

	&__title {
		font-size: rem-calc(36);
		text-align: center;
		margin-bottom: rem-calc(35);
	}
}
