<div class="dashboard">
	<div class="dashboard__box">
		<div class="dashboard__last-orders">
			<div class="dashboard__header">
				<h3 class="dashboard__title">
					Последние заказы
				</h3>
				<a href="dashboard-orders.html" class="dashboard__link">
					<span>
						Все заказы
					</span>
				</a>
			</div>
			<div class="dashboard__orders-list">
				{{> dashboard-order}}
				{{> dashboard-order}}
				{{> dashboard-order}}
			</div>
		</div>
		<div class="dashboard__wishlist">
			<div class="dashboard__header">
				<h3 class="dashboard__title">
					Список желаний
				</h3>
				<a href="wishlist.html" class="dashboard__link">
					<span>
						Все желания
					</span>
				</a>
			</div>
			<div class="dashboard__wishlist-list">
				{{> product-intro-wishlist}}
				{{> product-intro-wishlist-2}}
				{{> product-intro-wishlist}}
				{{> product-intro-wishlist}}
			</div>
		</div>
		<div class="dashboard__waitlist">
			<div class="dashboard__header">
				<h3 class="dashboard__title">
					Лист ожидания
				</h3>
				<a href="waitlist.html" class="dashboard__link">
					<span>
						Все список
					</span>
				</a>
			</div>
			<div class="dashboard__waitlist-list">
				{{> product-intro-waitlist}}
				{{> product-intro-waitlist-3}}
				{{> product-intro-waitlist-2}}
				{{> product-intro-waitlist}}
			</div>
		</div>
	</div>
</div>
