<div class="order js-order">
	<div class="order__box">
		<div class="order__row js-order__row">
			<div class="order__left" data-equalizer-watch>
				<div class="order__header">
					<div class="order__title">
						<span class="js-order-row-toggle">
							Заказ №1306:
						</span>
					</div>
					<div class="order__date">
						25 мая 2015 11:56
					</div>
					<div class="order__actions">
						<button class="order__print"></button>
						<button class="order__download"></button>
					</div>
				</div>
			</div>
			<div class="order__right" data-equalizer-watch>
				<div class="order__status">
					<div class="order__status-label">
						Статус:
					</div>
					<div class="order__status-value order__status-value--purple">
						Отправлен
					</div>
				</div>
				<div class="order__status">
					<div class="order__status-label">
						Статус:
					</div>
					<div class="order__status-value order__status-value--red">
						Новый
					</div>
				</div>
				<div class="order__status">
					<div class="order__status-label">
						Статус оплаты:
					</div>
					<div class="order__status-value order__status-value--green">
						Оплачен
					</div>
				</div>
				<div class="order__status">
					<div class="order__status-label">
						Накладная:
					</div>
					<div class="order__status-value order__status-value--gray">
						590001234678456
					</div>
				</div>
			</div>
		</div>
		<div class="order__row order__row--collapsed js-order-row">
			<div class="order__left">
				{{> cart-dashboard}}
			</div>
			<div class="order__right">
				<div class="order__right-inner">
					<a class="order__pay-button">
						<span>
							Оплатить
						</span>
					</a>
					<a class="order__cancel-button">
						<span>
							Отменить заказ
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
