<div class="dashboard">
	<div class="dashboard__box">
		<div class="dashboard__last-orders">
			<div class="dashboard__header">
				<h3 class="dashboard__title">
					Все заказы
				</h3>
			</div>
			<div class="dashboard__orders">
				{{> dashboard-order}}
				{{> dashboard-order}}
				{{> dashboard-order}}
				{{> dashboard-order}}
			</div>
		</div>
	</div>
</div>
