$module: 'header-wishlist';
$title-color: $brand-yellow;
$title-hover-color: $brand-orange;
$count-text-color: $white;
$counter-bg-color: #ff006c;

.#{$module} {
	position: relative;
	float: left;
	width: 50%;
	height: rem-calc(60);

	@include breakpoint(xmedium) {
		width: 63%;
		height: auto;
	}

	&__box {
		@include breakpoint(medium down) {
			@include absolute-center;
			width: rem-calc(40);
			height: rem-calc(38);
		}

		@include breakpoint(xmedium) {
			position: relative;
			float: right;
			text-align: center;
			padding-right: rem-calc(40);
		}

		@include breakpoint(xxmedium) {
			text-align: right;
			padding-right: rem-calc(15);
		}

		&:hover, &:focus {
			.#{$module}__title {
				color: $title-hover-color;
				border-bottom-color: $title-hover-color;
			}

			.#{$module}__counter {
				@include breakpoint(xmedium) {
					background: $title-hover-color;
				}
			}
		}
	}

	&__icon {
		@include absolute-center;
		width: rem-calc(40);
		height: rem-calc(38);

		@include breakpoint(xmedium) {
			left: rem-calc(-30);
		}

		&::before {
			@include icon($icon-heart-2);
			@include vertical-center;
			left: 0;
			font-size: rem-calc(36);
			color: $black;

			@include breakpoint(xmedium) {
				font-size: rem-calc(38);
			}
		}
	}

	&__title {
		@include show-for(xmedium);
		font-size: rem-calc(18);
		line-height: 1;
		color: $title-color;
		// padding-left: rem-calc(40);
		border-bottom: 1px solid $title-color;
		transition: all 300ms ease-in-out;
	}

	&__counter {
		position: absolute;
		top: rem-calc(-7);
		right: rem-calc(-8);
		z-index: 2;
		width: rem-calc(22);
		height: rem-calc(22);
		text-align: center;
		background: $counter-bg-color;
		border-radius: 100%;
		transition: all 300ms ease-in-out;
	}

	&__count {
		@include absolute-center;
		font-size: rem-calc(15);
		line-height: 1;
		color: $count-text-color;
	}
}
