$module: 'header-cart-product';
$price-color: $brand-orange;
$product-separator-color: $brand-satin-linen;

.#{$module} {
	padding: rem-calc(15 0);
	border-bottom: 1px dashed $product-separator-color;

	&__box {
		display: table;
		width: 100%;
	}

	&__image-box {
		display: table-cell;
		width: rem-calc(100);
		vertical-align: middle;
		text-align: center;
	}

	&__data {
		display: table-cell;
		vertical-align: middle;
		padding-right: rem-calc(10);
		padding-left: rem-calc(30);
	}

	&__title {
		font-size: rem-calc(16);
	}

	&__desc {
		font-size: rem-calc(14);
	}

	&__price {
		font-size: rem-calc(18);
		color: $price-color;
		margin-top: rem-calc(15);
	}
}
