$module: 'header-cart-dropdown';
$total-product-color: $brand-orange;
$total-price-color: $brand-orange;
$cart-link-color: $white;
$cart-link-hover-color: $white;
$checkout-link-color: $body-font-color;
$checkout-link-hover-color: $brand-orange;

.#{$module} {
	@include show-for(xmedium);
	@include dropdown-container;
	display: none;
	float: left;
	width: rem-calc(395);
	padding: 0;
	box-shadow: $modal-shadow;

	&.is-open {
		display: block;
		visibility: visible;
	}

	&.is-opening {
		display: block;
	}

	&::before {
		@include css-triangle(rem-calc(10), $white, up);
		position: absolute;
		top: rem-calc(-10);
		right: rem-calc(80);
	}

	&__box {
		padding: rem-calc(25 20 25 25);
	}

	&__title {
		font-size: rem-calc(14);
		margin-bottom: rem-calc(10);
		text-transform: uppercase;
	}

	&__products {
		position: relative;

		&.ps {
			max-height: rem-calc(242);
		}
	}

	&__total-box {
		@include clearfix;
		text-align: center;
		margin-top: rem-calc(20);
	}

	&__total-products {
		font-size: rem-calc(30);
		color: $total-product-color;
		padding-right: rem-calc(5);
	}

	&__total-price {
		font-size: rem-calc(30);
		color: $total-price-color;
		padding-left: rem-calc(10);
	}

	&__actions {
		text-align: center;
		margin-top: rem-calc(25);
	}

	&__cart-link {
		position: relative;
		display: inline-block;
		width: rem-calc(168);
		height: rem-calc(50);
		font-size: rem-calc(16);
		line-height: rem-calc(50);
		color: $white;
		text-align: center;
		margin: 0 auto;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include link-hfa {
			color: $white;

			&::before {
				color: $anchor-color-hover;
			}

			span {
				color: $white;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-solid-medium);
			font-size: rem-calc(50);
			color: $black;
		}

		span {
			position: relative;
			z-index: 1;
			color: $white;
		}
	}

	&__checkout-link {
		position: relative;
		display: inline-block;
		width: rem-calc(168);
		height: rem-calc(50);
		font-size: rem-calc(16);
		line-height: rem-calc(50);
		color: $white;
		text-align: center;
		margin: 0 auto;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include link-hfa {
			color: $white;

			&::before {
				color: $anchor-color-hover;
			}

			span {
				color: $anchor-color-hover;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-blank-medium);
			font-size: rem-calc(50);
			color: $black;
		}

		span {
			position: relative;
			z-index: 1;
			color: $black;
		}
	}

	&__info-box {
		padding-top: rem-calc(30);
	}

	&__info-title {
		font-size: rem-calc(16);
	}

	&__info-content {
		font-size: rem-calc(14);
	}
}
