$module: 'header-checkout';

.#{$module} {
	padding: rem-calc(10 0);

	@include breakpoint(xmedium) {
		padding: rem-calc(20 0);
	}

	@include breakpoint(xxmedium) {
		padding: rem-calc(30 0);
	}

	&__box {
		@include grid-row();

		@include breakpoint(xmedium) {
			@include grid-row-size(rem-calc(740));
		}

		@include breakpoint(xxmedium) {
			@include grid-row-size(rem-calc(954));
		}
	}

	&__back {
		@include grid-column(4.8);
		position: relative;
		height: rem-calc(60);

		@include breakpoint(medium) {
			height: rem-calc(100);
		}

		@include breakpoint(xmedium) {
			height: rem-calc(148);
		}

		@include breakpoint(large) {
			height: auto;
		}
	}

	&__back-link {
		position: relative;
		display: block;
		margin-top: rem-calc(30);
		padding-left: rem-calc(30);

		@include breakpoint(medium) {
			margin-top: rem-calc(35);
			padding-left: rem-calc(40);
		}

		@include breakpoint(xmedium) {
			margin-top: rem-calc(55);
		}

		&::before {
			@include vertical-center;
			@include icon($icon-arrow-left);
			font-size: rem-calc(24);

			@include breakpoint(medium) {
				left: 0;
			}
		}

		span {
			@include show-for(medium);
		}
	}

	&__center {
		@include grid-column(2.4, 0);
	}

	&__right {
		@include grid-column(4.8);
		position: relative;
		height: rem-calc(60);

		@include breakpoint(medium) {
			height: rem-calc(100);
		}

		@include breakpoint(xmedium) {
			height: rem-calc(148);
		}

		@include breakpoint(large) {
			height: auto;
		}
	}

	&__contacts {
		@include show-for(xxmedium);
		float: right;
		margin-top: rem-calc(34);
		margin-right: rem-calc(10);

		@include breakpoint(xmedium) {
			margin-right: rem-calc(39);
		}

		@include breakpoint(rem-calc(1220)) {
			margin-right: rem-calc(23);
		}
	}

	&__phone-toggle {
		@include hide-for(xxmedium);
		@include absolute-center;
	}
}
