$module: 'header-user-links';

.#{$module} {
	@include show-for(xmedium);
	@include clearfix;

	&__list {
		float: right;
		text-align: right;
	}

	&__item {
		// display: inline-block;
		// vertical-align: top;
		float: left;

		& + .#{$module}__item {
			// margin-left: rem-calc(120);
		}
	}

	&__link {
		display: block;
		height: rem-calc(24);
		font-size: rem-calc(16);
		transition: all 300ms ease-in-out;
		cursor: pointer;

		&:hover, &:focus {
			color: $anchor-color-hover;
			span {
				border-bottom: 1px solid $anchor-color-hover;
			}
		}

		&--login {
			margin-right: rem-calc(70);

			@include breakpoint(xxmedium) {
				margin-right: rem-calc(85);
			}
		}

		&--register {
			@include breakpoint(xxmedium) {
				margin-right: rem-calc(35);
			}
		}

		&--user {
			position: relative;
			width: rem-calc(40);
			margin-right: rem-calc(20);
			cursor: pointer;

			@include breakpoint(large) {
				width: auto;
				padding-left: rem-calc(35);
			}

			@include breakpoint(xlarge) {
				padding-left: rem-calc(45);
			}

			@include link-hfa {
				color: $anchor-color-hover;
			}

			&::before {
				@include vertical-center;
				@include icon($icon-user);
				left: 0;
				font-size: rem-calc(28);
				color: $black;
			}

			span {
				@include show-for(large);
			}
		}

		&--logout {
			position: relative;
			width: rem-calc(40);

			@include breakpoint(large) {
				width: auto;
				padding-left: rem-calc(35);
			}

			@include breakpoint(xlarge) {
				padding-left: rem-calc(45);
			}

			&::before {
				@include vertical-center;
				@include icon($icon-arrow);
				left: 0;
				font-size: rem-calc(25);
				color: $black;
			}

			span {
				@include show-for(large);
			}
		}

		span {
			border-bottom: 1px solid $brand-satin-linen;
			transition: all 300ms ease-in-out;
		}
	}

	&__user-score {
		position: relative;
		margin-right: rem-calc(35);

		@include breakpoint(xlarge) {
			margin-right: rem-calc(45);
		}

		&::before {
			@include absolute-center;
			@include icon($icon-blank-small);
			font-size: rem-calc(30);
			color: $black;
		}

		span {
			position: relative;
			z-index: 1;
		}
	}

	&__dropdown {
		@include show-for(xmedium);
		@include dropdown-container;
		display: none;
		float: left;
		width: rem-calc(263);
		padding: 0;
		box-shadow: $modal-shadow;

		&.is-open {
			display: block;
			visibility: visible;
		}

		&.is-opening {
			display: block;
		}

		&::before {
			@include css-triangle(rem-calc(10), $white, up);
			position: absolute;
			top: rem-calc(-10);
			right: rem-calc(140);
		}
	}

	&__dropdown-box {
		text-align: left;
		padding: rem-calc(30);
	}

	&__dropdown-menu {
		margin: 0;
		list-style-type: none;
	}

	&__dropdown-menu-item {
		& + & {
			margin-top: rem-calc(5);
		}
	}

	&__dropdown-menu-link {
		&--active {
			color: $anchor-color-hover;
			border-bottom: 1px solid $anchor-color-hover;
		}
	}
}
