$module: 'header';

.#{$module} {
	padding: rem-calc(10 0);

	@include breakpoint(xmedium) {
		padding: rem-calc(20 0 30);
	}

	@include breakpoint(xxmedium) {
		padding: rem-calc(30 0 40);
	}

	&__box {
		@include grid-row();
	}

	&__left {
		@include show-for(xmedium);
		@include grid-column(4.8);
	}

	&__menu-toggle {
		@include hide-for(xmedium);
		@include grid-column(4.8);
	}

	&__contacts {
		margin-top: rem-calc(40);
		margin-left: rem-calc(10);

		@include breakpoint(xxmedium) {
			margin-left: rem-calc(10);
		}

		@include breakpoint(rem-calc(1220)) {
			margin-left: 0;
		}
	}

	&__center {
		@include grid-column(2.4, 0);
	}

	&__right {
		@include grid-column(4.8);
	}
}
