$module: 'header-cart';
$title-color: $brand-yellow;
$title-hover-color: $brand-orange;
$count-text-color: $white;
$counter-bg-color: #7bd30a;

.#{$module} {
	position: relative;
	float: left;
	width: 50%;
	height: rem-calc(60);

	@include breakpoint(xmedium) {
		width: 37%;
		height: auto;
	}

	&__box {
		display: block;
		text-align: right;
		cursor: pointer;

		@include breakpoint(medium down) {
			@include absolute-center;
			width: rem-calc(30);
			height: rem-calc(38);
		}

		&:hover, &:focus {
			.#{$module}__title {
				color: $title-hover-color;
				border-bottom-color: $title-hover-color;
			}

			.#{$module}__counter {
				background: $title-hover-color;
			}
		}
	}

	&__icon {
		@include vertical-center;
		left: rem-calc(-15);
		display: inline-block;
		width: rem-calc(35);
		height: rem-calc(44);

		&::before {
			@include icon($icon-package);
			@include vertical-center;
			left: 0;
			font-size: rem-calc(44);
			color: $black;
		}
	}

	&__icon-link {
		@include hide-for(xmedium);
		@include absolute-center;
		z-index: 1;
		display: block;
		width: rem-calc(30);
		height: rem-calc(38);

		&::before {
			@include icon($icon-package);
			@include vertical-center;
			left: 0;
			font-size: rem-calc(38);
			color: $black;
		}
	}

	&__title {
		@include show-for(xmedium);
		position: relative;
		display: inline-block;
		float: none !important;
		font-size: rem-calc(18);
		line-height: 1;
		color: $title-color;
		padding-left: rem-calc(36);
		transition: all 300ms ease-in-out;
	}

	&__title-text {
		border-bottom: 1px solid $title-color;
	}

	&__counter {
		position: absolute;
		top: rem-calc(-7);
		right: rem-calc(-8);
		z-index: 2;
		width: rem-calc(22);
		height: rem-calc(22);
		text-align: center;
		background: $counter-bg-color;
		border-radius: 100%;
		transition: all 300ms ease-in-out;

		@include breakpoint(xmedium) {
			top: rem-calc(-15);
			right: rem-calc(65);
		}
	}

	&__count {
		@include absolute-center;
		font-size: rem-calc(15);
		line-height: 1;
		color: $count-text-color;
	}
}
