$module: 'header-contacts';

.#{$module} {
	&__box {
		position: relative;
		display: inline-block;
	}

	&__icon {
		display: table-cell;
		width: 20%;
		vertical-align: top;

		&::before {
			@include icon($icon-phone);
			position: absolute;
			top: 0;
			left: 0;
			font-size: rem-calc(50);

			@include breakpoint(xxmedium) {
				font-size: rem-calc(55);
			}
		}
	}

	&__content {
		display: inline-block;
		vertical-align: top;
	}

	&__content-wrapper {
		display: table-cell;
		// width: 80%;
	}

	&__main-phone {
	}

	&__main-phone-link {
		display: block;
		font-size: rem-calc(28);
		line-height: 1;

		@include breakpoint(xxmedium) {
			font-size: rem-calc(32);
		}
	}

	&__opening-hours {
		font-size: rem-calc(13);
		color: $brand-dusty-gray;
		margin-top: rem-calc(5);

		@include breakpoint(xxmedium) {
			font-size: rem-calc(14);
		}
	}

	&__popup-opener {
		// display: table;

		&::after {
			@include icon($icon-down);
			position: absolute;
			top: rem-calc(13);
			right: rem-calc(-25);
			z-index: 1;
			width: rem-calc(12);
			height: rem-calc(7);
			font-size: rem-calc(5);
			color: $brand-yellow;
			transition: all 300ms ease-in-out;
		}

		&:hover, &:focus {
			&::after {
				transform: rotate(180deg);
			}
		}

		&:hover {
			.#{$module}__popup {
				position: absolute;
				top: rem-calc(-20);
				right: rem-calc(-40);
				left: rem-calc(-10);
				z-index: 1;
				display: block;
				background: $white;
				padding: rem-calc(20 20 20 10);
				box-shadow: $modal-shadow;

				@include breakpoint(rem-calc(1220)) {
					left: rem-calc(-20);
					padding: rem-calc(20);
				}

				&--checkout {
					left: rem-calc(-20);
					padding: rem-calc(20);
				}
			}

			.#{$module}__icon {
				&::before {
					top: rem-calc(20);
					left: rem-calc(10);

					@include breakpoint(rem-calc(1220)) {
						left: rem-calc(20);
					}
				}
			}
		}
	}

	&__popup {
		display: none;
	}

	&__additional-phones {
		margin-top: rem-calc(10);
	}

	&__additional-phone-link {
		display: block;
		font-size: rem-calc(23);
	}

	&__callback {
		margin-left: rem-calc(45);

		@include breakpoint(xxmedium) {
			margin-left: rem-calc(50);
		}
	}

	&__callback-link {
		font-size: rem-calc(18);
		color: $brand-yellow;
		border-bottom: 1px dotted $brand-yellow;

		&:hover, &:focus {
			color: $brand-yellow;
		}
	}

	&__callback-popup {
		@include dropdown-container;
		display: none;
		width: rem-calc(263);
		box-shadow: $modal-shadow;

		&.is-open {
			display: block;
			visibility: visible;
		}

		&.is-opening {
			display: block;
		}

		&::before {
			@include css-triangle(rem-calc(10), $white, up);
			position: absolute;
			top: rem-calc(-10);
			left: 15%;
		}
	}

	&__callback-input-phone {
		&::placeholder {
			font-size: rem-calc(16);
		}
	}

	&__callback-textarea {
		&::placeholder {
			font-size: rem-calc(16);
		}
	}

	&__callback-button {
		position: relative;
		display: block;
		width: rem-calc(196);
		height: rem-calc(57);
		font-size: rem-calc(14);
		line-height: rem-calc(55);
		color: $white;
		text-transform: uppercase;
		text-align: center;
		margin: 0 auto;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include link-hfa {
			color: $white;

			&::before {
				color: $anchor-color-hover;
			}

			span {
				color: $white;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-solid-medium);
			font-size: rem-calc(50);
			color: $black;
		}

		span {
			position: relative;
			z-index: 1;
			color: $white;
		}
	}

	&__callback-thank {
		display: none;
	}

	&__callback-thank-image {
		width: 100%;
		height: rem-calc(72);
		text-align: center;
		margin-top: rem-calc(5);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-image: url('../../assets/img/icons/callback-done.png');
	}

	&__callback-thank-title {
		font-size: rem-calc(18);
		text-align: center;
		margin-top: rem-calc(25);
		text-transform: uppercase;
	}

	&__callback-thank-content {
		font-size: rem-calc(16);
		text-align: center;
		margin-top: rem-calc(10);
	}

	&__callback-thank-link {
		display: block;
		font-size: rem-calc(16);
		text-align: center;
		margin-top: rem-calc(20);
		transition: all 300ms ease-in-out;

		span {
			border-bottom: 1px dotted $body-font-color;
			transition: all 300ms ease-in-out;
		}

		&:hover, &:focus {
			color: $anchor-color-hover;

			span {
				color: $anchor-color-hover;
				border-bottom: 1px dotted $anchor-color-hover;
			}
		}
	}
}
