$module: 'header-commerce';

.#{$module} {

	@include breakpoint(xmedium) {
		margin-top: rem-calc(40);
	}

	&__box {
		@include clearfix;
	}

	&__item {
		position: relative;
		display: inline-block;
		margin: 0 rem-calc(15);
	}

	&__icon {
		left: rem-calc(-40);
	}
}
