<div class="header-contacts">
	<div class="header-contacts__box">
		<div class="header-contacts__content">
			<div class="header-contacts__popup-opener">
				<div class="header-contacts__icon">
				</div>
				<div class="header-contacts__content-wrapper">
					<div class="header-contacts__main-phone">
						<a href="tel:050123-65-47" class="header-contacts__main-phone-link">
							(050) 123-65-47
						</a>
					</div>
					<div class="header-contacts__opening-hours">
						09:20-21:00 пн-пт / 10:00-18:00 сб
					</div>
				</div>
				<div class="header-contacts__popup">
					<div class="header-contacts__icon">
					</div>
					<div class="header-contacts__content-wrapper">
						<div class="header-contacts__main-phone">
							<a href="tel:050123-65-47" class="header-contacts__main-phone-link">
								(050) 123-65-47
							</a>
						</div>
						<div class="header-contacts__opening-hours">
							09:20-21:00 пн-пт / 10:00-18:00 сб
						</div>
						<div class="header-contacts__additional-phones">
							<a href="tel:050123-65-47" class="header-contacts__additional-phone-link">
								(050) 123-65-47
							</a>
							<a href="tel:050123-65-47" class="header-contacts__additional-phone-link">
								(050) 123-65-47
							</a>
						</div>
						<div class="header-contacts__email">
							Эл почта:
							<a href="mail:" class="header-contacts__email-link">
								 info@vje.com.ua
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="header-contacts__callback" data-toggle="header-contacts__callback-popup" >
				<a class="header-contacts__callback-link">
					Не дозвонились?
				</a>
			</div>
			<div id="header-contacts__callback-popup" class="header-contacts__callback-popup">
				<div class="header-contacts__callback-popup-box">
					<form id="header-contacts__callback-form" action="/" class="header-contacts__callback-form">
						<input class="header-contacts__callback-input-phone" placeholder="Номер телефона*" type="text" name="phone" value="">
						<textarea class="header-contacts__callback-textarea" placeholder="Вопрос" name="name" rows="3" cols="20"></textarea>
						<button id="header-contacts__callback-button" class="header-contacts__callback-button">
							<span>
								Прошу перезвонить
							</span>
						</button>
					</form>
					<div id="header-contacts__callback-thank" class="header-contacts__callback-thank">
						<div class="header-contacts__callback-thank-image"></div>
						<div class="header-contacts__callback-thank-title">
							Отправлено
						</div>
						<div class="header-contacts__callback-thank-content">
							В ближайшее время с вами свяжеться наш менеджер. Спасибо.
						</div>
						<a id="header-contacts__callback-thank-link" href="" class="header-contacts__callback-thank-link">
							<span>
								Закрыть
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
