$module: 'phone-offcanvas';

.#{$module} {
	&__phone {
		display: block;
		font-size: rem-calc(20);
		line-height: rem-calc(26);
		text-align: center;
		padding: rem-calc(10 0);

		&--main {
			font-size: rem-calc(26);
		}

		& + & {
			border-top: 1px solid $brand-satin-linen;
		}
	}

	&__email {
		display: block;
		font-size: rem-calc(18);
		text-align: center;
		padding: rem-calc(10);
	}

	&__working-hours {
		text-align: center;
		padding: rem-calc(0 10 10);
	}
}
