$module: 'phone-toggle';

.#{$module} {
	font-size: rem-calc(50);

	&__button {
		&::before {
			@include absolute-center;
			@include icon($icon-circle);

		}

		&::after {
			@include absolute-center;
			@include icon($icon-phone);
			font-size: rem-calc(40);

		}
		cursor: pointer;

		&:hover,
		&:focus {
			color: $anchor-color-hover;
		}
	}
}
