$module: 'page-description';

.#{$module} {
	&__box {
		@include grid-column-row;
		float: none !important;  // https://github.com/zurb/foundation-sites/issues/8108
		margin-top: rem-calc(40);
		margin-bottom: rem-calc(30);

		@include breakpoint(xmedium) {
			margin-bottom: rem-calc(60);
		}
	}

	&__title {
		font-size: rem-calc(24);
		margin-bottom: rem-calc(18);

		@include breakpoint(xmedium) {
			margin-bottom: rem-calc(30);
		}
	}

	&__content {
		p {
			margin: 0;
		}

		p + p {
			margin-top: rem-calc(16);
		}
	}
}
