<p><strong><span style="font-size: larger;">Доставка по Украине до склада Новой Почты в Вашем городе</span></strong></p>
<p>Доставка товаров осуществляется через службу Нова пошта, стоимость &nbsp;– 35 грн. <br>
	<strong>Бесплатная доставка при заказе от 800 грн. </strong><br> Срок доставки 1-2 дня после оформления заказа.</p>
<p><strong><span style="font-size: larger;">Доставка по Украине «до дверей».</span></strong></p>
<p>Доставка товаров осуществляется через службу Нова Пошта, стоимость доставки – 55 грн. <br>
	<strong>При заказе от 700грн, стоимость доставки составит 35 грн.</strong><br> Срок доставки 2-3 дня после оформления заказа.</p>
