<p><strong><span style="font-size: larger;">Доставка по Украине «до дверей».</span></strong></p>
<p>Доставка товаров осуществляется через службу Нова Пошта, стоимость доставки – 55 грн. <br>
	<strong>При заказе от 700грн, стоимость доставки составит 35 грн.</strong><br> Срок доставки 2-3 дня после оформления заказа.</p>
<p><strong><span style="font-size: larger;">Самовывоз из офиса в Черновцах.</span></strong></p>
<p>Самовывоз осуществляется из офиса по адресу г. Черновцы, ул. Главная 59, 3-этаж. В рабочие дни с 10 до 18.00 , с 10 до 16 в субботу. Оплата: наличная при получении, безналичная.</p>

<hr class="delivery_line">
<a href="http://vje.com.ua/pay_del/" class="more_delivery">
	<span>Узнать больше о способах доставки</span> <span>→</span></a>
