<div class="content-nav">
	<div class="content-nav__box">
		<ul class="content-nav__list">
			<li class="content-nav__item">
				<a href="" class="content-nav__link">
					Новинки
				</a>
			</li>
			<li class="content-nav__item">
				<a href="" class="content-nav__link">
					Хиты
				</a>
			</li>
			<li class="content-nav__item">
				<a href="" class="content-nav__link">
					Скидки
				</a>
			</li>
			<li class="content-nav__item">
				<a href="" class="content-nav__link {{#ifpage 'discounts'}}content-nav__link--active{{/ifpage}}">
					Акции
				</a>
			</li>
			<li class="content-nav__item">
				<a href="" class="content-nav__link">
					Как купить
				</a>
			</li>
			<li class="content-nav__item">
				<a href="" class="content-nav__link">
					Доставка и оплата
				</a>
			</li>
			<li class="content-nav__item">
				<a href="" class="content-nav__link  ">
					Контакты
				</a>
			</li>
		</ul>
	</div>
</div>
