<div class="content">
	<div class="content__box">
		<h1 class="content__title">
			Оформление заказа
		</h1>
		<div class="content__text">
			<ol>
				<li>Зайдите на страницу с описанием товара, который хотите купить, и нажмите кнопку «Хочу!», после этого товар добавиться в корзину.</li>
				<li>Выберите в в правом верхнем меню пункт «Корзина» и нажмите кнопку «Оформить заказ».</li>
				<li>Зарегистрируйтесь или оформите без регистрации.</li>
				<li>Выберите способ доставки товаров.&nbsp;</li>
				<li>Заполните персональные данные заказчика.</li>
			</ol>
			<br>
			<p>Если вам удобнее сделать заказ по телефону, или в процессе оформления заказа у Вас возникли вопросы.</p>

			<p>Позвоните нам!&nbsp;Наши операторы с удовольствием Вам помогут.<br /> Наш телефон: (050) 734–37–31<br /> Звонки принимаются с 10:00 – 20.00 каждый день, кроме воскресенья.<br /> Магазин работает 24 часа в сутки семь дней в неделю.&nbsp;</p>

			<div class="line-left">
				<p>Гарантия возврата денег. Каждый покупатель получает 100% гарантию возврата денег.</p>

				<p>Товар, купленный в нашем Магазине, можно обменять или вернуть&nbsp;на протяжении 14 дней с момента покупки при сохранении товарного вида без объяснения причины с полным возвратом его стоимости.</p>
			</div>

			<p>Интернет-магазин самых креативных, необычных и оригинальных подарков, которые делают жизнь ярче.&nbsp;«Хочу вже!» – новое направление интернет магазина в Украине, с высоким сервисом, качественным ассортиментом, красивой упаковкой и с очень позитивной
				энергетикой.
				<br /> За все время работы нашего интернет-магазина, история которого началась в 2011 году, мы зарекомендовали себя не только как место где живут оригинальные, креативные и интересные подарки, но и как дом, где вы найдете множество красивых, удивительных
				и что самое главное, полезных вещиц именно для себя.</p>

			<p>Мы работаем круглосуточно, 365 дней в году и доставляем подарки в любую точку Украины за 1-2 дня.<br /> Почему именно «Хочу вже!»?</p>

			<p>Мы выбрали это название, так как стараемся подбирать максимально качественные и оригинальные подарки, при первом знакомстве с которыми возникает импульсивное желание как можно быстрее и полностью завладеть ими)</p>

			<p>Просмотрев наш ассортимент, вы будете приятно удивлены количеством интересных и прикольных подарков друзьям, коллегам и близким. И кроме этого, мы предлагаем большой выбор качественных дизайнерских товаров для офиса и интерьера Вашего дома.</p>

			<blockquote>
			  Those people who think they know everything are a great annoyance to those of us who do.
			  <cite>Isaac Asimov</cite>
			</blockquote>

			<h3>Заголовки</h3>
			<hr>
			<h1>h1. This is a very large header.</h1>
			<h2>h2. This is a large header.</h2>
			<h3>h3. This is a medium header.</h3>
			<h4>h4. This is a moderate header.</h4>
			<h5>h5. This is a small header.</h5>
			<h6>h6. This is a tiny header.</h6>
			<hr>
			<h3>Маркированный список</h3>
			<hr>
			<p>
				<ul>
					<li>List item with a much longer <br> description or more content.</li>
					<li>List item</li>
					<li>List item
						<ul>
							<li>Nested list item</li>
							<li>Nested list item</li>
							<li>Nested list item</li>
						</ul>
					</li>
					<li>List item</li>
					<li>List item</li>
					<li>List item</li>
				</ul>
			</p>
			<h3>Нумерованный список</h3>
			<hr>
			<p>
				<ol>
					<li>Cheese (essential)</li>
					<li>Pepperoni</li>
					<li>Bacon
						<ol>
							<li>Normal bacon</li>
							<li>Canadian bacon</li>
						</ol>
					</li>
					<li>Sausage</li>
					<li>Onions</li>
					<li>Mushrooms</li>
				</ol>
			</p>
			<h3>Подзаголовки</h3>
			<hr>
			<h1 class="subheader">h1.subheader</h1>
			<h2 class="subheader">h2.subheader</h2>
			<h3 class="subheader">h3.subheader</h3>
			<h4 class="subheader">h4.subheader</h4>
			<h5 class="subheader">h5.subheader</h5>
			<h6 class="subheader">h6.subheader</h6>
			<h3Ведуший параграффк</h3>
			<hr>
			<p class="lead">What are your cats <em>really</em> dreaming about while they sleep?</p>
			<h3>Маркированный и нумерованный список без засечек</h3>
			<hr>
			<ul class="no-bullet">
				<li>List item with a much longer description or more content.</li>
				<li>List item</li>
				<li>List item
					<ul>
						<li>Nested list item</li>
						<li>Nested list item</li>
						<li>Nested list item</li>
					</ul>
				</li>
				<li>List item</li>
				<li>List item</li>
				<li>List item</li>
			</ul>
		</div>
	</div>
</div>
