<div class="blog-list">
	<div class="blog-list__box">
		<div class="blog-list__row js-blog-list__row">
			{{> blog-intro}}
			{{> blog-intro-1}}
			{{> blog-intro-2}}
		</div>
		<div class="blog-list__row js-blog-list__row">
			{{> blog-intro-2}}
			{{> blog-intro-2}}
			{{> blog-intro}}
		</div>
		<div class="blog-list__row js-blog-list__row">
			{{> blog-intro-1}}
			{{> blog-intro-2}}
		</div>
	</div>
</div>
