<div class="blog-intro">
	<div class="blog-intro__box">
		<a href="blog-details.html" class="blog-intro__image-link">
			<img src="http://placehold.it/730x485?text=Image+1" alt="" class="blog-intro__image">
		</a>
		<div class="blog-intro__content" data-equalizer-watch>
			<h3 class="blog-intro__title">
				<a href="blog-details.html" class="blog-intro__link">
					Как выбрать подарок?
				</a>
			</h3>
			<div class="blog-intro__desc">
				<p>
					Дни рождения друзей, знакомых и родственников всегда подкрадываются неожиданно.
				</p>
				<p>
					Дни рождения друзей, знакомых и родственников всегда подкрадываются неожиданно.
				</p>
			</div>
		</div>
	</div>
</div>
