<div class="blog-intro">
	<div class="blog-intro__box">
		<a href="blog-details.html" class="blog-intro__image-link">
			<img src="http://placehold.it/730x485?text=Image+1" alt="" class="blog-intro__image">
		</a>
		<div class="blog-intro__content" data-equalizer-watch>
			<h3 class="blog-intro__title">
				<a href="blog-details.html" class="blog-intro__link">
					Покупка подарков в интернете - разумное ли это решение?
				</a>
			</h3>
			<div class="blog-intro__desc">
				<p>
					Мы живем в веке новинок и усовершенствованных технологий, каждый день рассчитан чуть ли не по минутам, а вот времени Мы живем в веке новинок и усовершенствованных технологий, каждый день рассчитан чуть ли не по минутам, а вот времени......
				</p>
			</div>
		</div>
	</div>
</div>
