<div class="blog-menu">
	<div class="blog-menu__box">
		<nav class="blog-menu__list">
			<li class="blog-menu__item">
				<a href="" class="blog-menu__link blog-menu__link--active">
					Блог
				</a>
			</li>
			<li class="blog-menu__item">
				<a href="" class="blog-menu__link">
					Видео обзоры
				</a>
			</li>
			<li class="blog-menu__item">
				<a href="" class="blog-menu__link">
					Новости
				</a>
			</li>
		</nav>
	</div>
</div>
