<div class="featured-product">
	<div class="featured-product__box">
		<div class="featured-product__image-box">
			<a href="" class="featured-product__image-link">
				<img src="http://placehold.it/215x215?text=Image+1" alt="" class="featured-product__image">
			</a>
			<div class="featured-product__label featured-product__label--discount">
				sale
			</div>
		</div>
		<div class="featured-product__content-box">
			<h3 class="featured-product__title">
				<a href="" class="featured-product__link">
					Держатель для канцелярских резинок «Мумия Майк»
				</a>
			</h3>
			<div class="featured-product__desc">
				Эффектный подарок!
			</div>
			<div class="featured-product__economy featured-product__economy--discount">
				<span class="featured-product__economy-value">
					45
				</span>
				<span class="featured-product__economy-label">
					Економия
				</span>
			</div>
			<div class="featured-product__bottom">
				<div class="featured-product__price">
					<div class="featured-product__new-price">
						<span class="featured-product__price-value">
							350
						</span>
						<span class="featured-product__price-currency">
							грн.
						</span>
					</div>
					<div class="featured-product__old-price">
						<span class="featured-product__price-value">
							450
						</span>
						<span class="featured-product__price-currency">
							грн.
						</span>
					</div>
				</div>
				<button class="featured-product__add-to-cart js-add-to-cart">
					<span>
						Купить
					</span>
				</button>
			</div>
		</div>
	</div>
</div>
