<div class="homepage-tabs">
	<div class="homepage-tabs__box">
		<ul id="homepage-tabs" class="homepage-tabs__header">
		  <li class="homepage-tabs__header-title homepage-tabs__header-title--active">
			  <a class="homepage-tabs__header-link" href="#tab-recommend" aria-selected="true">
				  Советуем
			  </a>
		  </li>
		  <li class="homepage-tabs__header-title">
			  <a class="homepage-tabs__header-link" href="#tab-bestsellers">
				  Хиты
			  </a>
		  </li>
		  <li class="homepage-tabs__header-title">
			  <a class="homepage-tabs__header-link" href="#tab-newest">
				  Новинки
			  </a>
		  </li>
		</ul>
		<div class="homepage-tabs__content" data-tabs-content="homepage-tabs">
			<div class="homepage-tabs__panel homepage-tabs__panel--active" id="tab-recommend">
				<div class="homepage-tabs__panel-content">
					<div class="homepage-tabs__product-list">
						{{#repeat 4}}
							{{> product-intro}}
							{{> product-intro-2}}
						{{/repeat}}
					</div>
					<div class="homepage-tabs__show-more">
						<button class="homepage-tabs__show-more-button">
							<span>
								Показать еще
							</span>
						</button>
					</div>
				</div>
			</div>
			<div class="homepage-tabs__panel" id="tab-bestsellers">
				<div class="homepage-tabs__panel-content">
					<div class="homepage-tabs__product-list">
						{{#repeat 7}}
							{{> product-intro-2}}
						{{/repeat}}
					</div>
					<div class="homepage-tabs__show-more">
						<button class="homepage-tabs__show-more-button">
							<span>
								Показать еще
							</span>
						</button>
					</div>
				</div>
			</div>
			<div class="homepage-tabs__panel" id="tab-newest">
				<div class="homepage-tabs__panel-content">
					<div class="homepage-tabs__product-list">
						{{#repeat 5}}
							{{> product-intro}}
						{{/repeat}}
					</div>
					<div class="homepage-tabs__show-more">
						<button class="homepage-tabs__show-more-button">
							<span>
								Показать еще
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
