<div class="off-canvas position-left" id="mainOffcanvas">
	<div class="offcanvas-content">
		<div class="offcanvas-content__top">
			<div class="offcanvas-content__close" data-close>
				<span>
					Закрыть
				</span>
			</div>
			<div class="offcanvas-content__lang">
				<a href="" class="offcanvas-content__lang-link">
					Укрїнською
				</a>
			</div>
		</div>
		<div class="offcanva-tabs">
			<ul class="offcanvas-tabs" id="offcanvasTabs">
				<li class="offcanvas-tabs__tab-title offcanvas-tabs__tab-title--active">
					<a href="#catalog-menu-tab" aria-selected="true">
						Каталог
					</a>
				</li>
				<li class="offcanvas-tabs__tab-title">
					<a href="#content-menu-tab">
						Меню
					</a>
				</li>
				<li class="offcanvas-tabs__tab-title">
					<a href="#user-menu-tab">
						Кабинет
					</a>
				</li>
			</ul>
			<div class="offcanvas-tabs__content" data-tabs-content="offcanvasTabs">
				<div class="offcanvas-tabs__tab-panel offcanvas-tabs__tab-panel--active" id="catalog-menu-tab">
					<div class="offcanvas-menu">
						<ul id="offcanvasCatalogMenu" class="offcanvas-menu__list drilldown">
							<li class="offcanvas-menu__item">
								<a href="" class="offcanvas-menu__link offcanvas-menu__link--gifts">
									Оригинальные подарки
								</a>
							</li>
							<li class="offcanvas-menu__item">
								<a href="" class="offcanvas-menu__link offcanvas-menu__link--home">
									Уютный дом
								</a>
							</li>
							<li class="offcanvas-menu__item">
								<a href="" class="offcanvas-menu__link offcanvas-menu__link--kitchen">
									Стильная кухня
								</a>
								<ul class="offcanvas-menu__list">
									<li class="offcanvas-menu__item offcanvas-menu__item--is-submenu-parent">
										<a href="" class="offcanvas-menu__link">
											Весь раздел
										</a>
									</li>
									<li class="offcanvas-menu__item">
										<a href="" class="offcanvas-menu__link">
											К празднику
										</a>
									</li>
									<li class="offcanvas-menu__item">
										<a href="" class="offcanvas-menu__link">
											К праздинку
										</a>
									</li>
									<li class="offcanvas-menu__item">
										<a href="" class="offcanvas-menu__link">
											К нововому году
										</a>

										<ul class="offcanvas-menu__list">
											<li class="offcanvas-menu__item offcanvas-menu__item--is-submenu-parent">
												<a href="" class="offcanvas-menu__link">
													Весь раздел
												</a>
											</li>
											<li class="offcanvas-menu__item">
												<a href="" class="offcanvas-menu__link">
													Третий уровень
												</a>
											</li>
											<li class="offcanvas-menu__item">
												<a href="" class="offcanvas-menu__link">
													Третий уровень
												</a>
											</li>
											<li class="offcanvas-menu__item">
												<a href="" class="offcanvas-menu__link">
													Третий уровень
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="offcanvas-menu__item">
								<a href="" class="offcanvas-menu__link offcanvas-menu__link--fashion">
									Мода и стиль
								</a>
							</li>
							<li class="offcanvas-menu__item">
								<a href="" class="offcanvas-menu__link offcanvas-menu__link--office">
									Ярский офис
								</a>
							</li>
							<li class="offcanvas-menu__item">
								<a href="" class="offcanvas-menu__link offcanvas-menu__link--artisan">
									Вкусности
								</a>
							</li>
							<li class="offcanvas-menu__item">
								<a href="" class="offcanvas-menu__link offcanvas-menu__link--tech">
									Техно
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="offcanvas-tabs__tab-panel" id="content-menu-tab">
					<div class="offcanvas-content-menu">
						<ul id="offcanvasContentMenu" class="offcanvas-content-menu__list drilldown">
							<li class="offcanvas-content-menu__item">
								<a href="" class="offcanvas-content-menu__link">
									Новинки
								</a>
							</li>
							<li class="offcanvas-content-menu__item">
								<a href="" class="offcanvas-content-menu__link">
									Хиты
								</a>
							</li>
							<li class="offcanvas-content-menu__item">
								<a href="" class="offcanvas-content-menu__link">
									Скидки
								</a>
							</li>

							<li class="offcanvas-content-menu__item">
								<a href="" class="offcanvas-content-menu__link">
									Акции
								</a>
							</li>
							<li class="offcanvas-content-menu__item">
								<a href="" class="offcanvas-content-menu__link">
									Как купить
								</a>
							</li>
							<li class="offcanvas-content-menu__item">
								<a href="" class="offcanvas-content-menu__link">
									Доставка и оплата
								</a>
							</li>
							<li class="offcanvas-content-menu__item">
								<a href="" class="offcanvas-content-menu__link">
									Контакты
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="offcanvas-tabs__tab-panel" id="user-menu-tab">
					<div class="offcanvas-content-menu">
						<ul id="offcanvasUserMenu" class="offcanvas-content-menu__list drilldown">
							<li class="offcanvas-content-menu__item">
								<a href="" class="offcanvas-content-menu__link">
									Мой кабинет
								</a>
							</li>
							<li class="offcanvas-content-menu__item">
								<a href="" class="offcanvas-content-menu__link">
									Заказы
								</a>
							</li>
							<li class="offcanvas-content-menu__item">
								<a href="" class="offcanvas-content-menu__link">
									Баллы
								</a>
							</li>

							<li class="offcanvas-content-menu__item">
								<a href="" class="offcanvas-content-menu__link">
									Желания
								</a>
							</li>
							<li class="offcanvas-content-menu__item">
								<a href="" class="offcanvas-content-menu__link">
									Лист ожидания
								</a>
							</li>
							<li class="offcanvas-content-menu__item">
								<a href="" class="offcanvas-content-menu__link">
									Акции
								</a>
							</li>
							<li class="offcanvas-content-menu__item">
								<a href="" class="offcanvas-content-menu__link">
									Настройки
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="offcanvas-content__login-register">
			<span class="offcanvas-content__login" data-toggle="loginReveal">
				Войти
			</span>
			<span class="offcanvas-content__register" data-toggle="registerReveal">
				Регистрация
			</span>
		</div>
		<div class="offcanvas-content__search">
			<button class="offcanvas-content__search-button" data-toggle="searchOffcanvas">
				<span>
					Поиск
				</span>
			</button>
		</div>
		<div class="offcanvas-content__contacts">
			<a href="tel:0501236547" class="offcanvas-content__phone offcanvas-content__phone--main">
				(050) 123-65-47
			</a>
			<a href="tel:0501236547" class="offcanvas-content__phone">
				(050) 123-65-47
			</a>
			<a href="tel:0501236547" class="offcanvas-content__phone">
				(050) 123-65-47
			</a>
			<a href="mailto:info@vje.com.ua" class="offcanvas-content__email">
				 info@vje.com.ua
			</a>
			<div class="offcanvas-content__working-hours">
				<span>
					09:20-21:00 пн-пт / 10:00-18:00 сб
				</span>
			</div>
		</div>
	</div>
</div>
