<div class="off-canvas position-top" id="phoneOffcanvas">
	<div class="phone-offcanvas">
		<div class="phone-offcanvas__box">
			<a href="tel:0501236547" class="phone-offcanvas__phone phone-offcanvas__phone--main">
				(050) 123-65-47
			</a>
			<a href="tel:0501236547" class="phone-offcanvas__phone">
				(050) 123-65-47
			</a>
			<a href="tel:0501236547" class="phone-offcanvas__phone">
				(050) 123-65-47
			</a>
			<a href="mailto:info@vje.com.ua" class="phone-offcanvas__email">
				 info@vje.com.ua
			</a>
			<div class="phone-offcanvas__working-hours">
				<span>
					09:20-21:00 пн-пт / 10:00-18:00 сб
				</span>
			</div>
		</div>
	</div>
</div>
