$module: 'discount';
$hover-box-shadow: $modal-shadow;
$link-color: $anchor-color;
$link-hover-color: $brand-orange;
$discount-color: $brand-yellow;
$sale-color: #cc99ff;
$prizes-color: #74ddff;
$discount-ends-color: #ff0000;

.#{$module} {
	@include grid-column-row();
	float: none !important; // https://github.com/zurb/foundation-sites/issues/8108
	margin-top: rem-calc(30);
	margin-bottom: rem-calc(30);

	@include breakpoint(xmedium) {
		margin-top: 0;
	}

	@include breakpoint(xxmedium) {
		margin-bottom: rem-calc(75);
	}

	&__box {
		@include grid-column-row(0);
		@include clearfix;
		background: $white;
	}

	&__top {
		@include grid-row();
	}

	&__image-box {
		position: relative;
		@include grid-column(12, 0);

		@include breakpoint(xmedium) {
			@include grid-column(6, 0);
		}

		@include breakpoint(xxmedium) {
			@include grid-column(6.7, 0);
		}
	}

	&__image {
		@include breakpoint(medium) {
		}
	}

	&__header {
		@include grid-column(12);

		@include breakpoint(xmedium) {
			@include grid-column(6, 0);
			@include grid-column-end;
			padding-right: rem-calc(20);
			padding-left: rem-calc(20);
		}

		@include breakpoint(xxmedium) {
			@include grid-column(5.3, 0);
			@include grid-column-end;
			padding-right: rem-calc(45);
			padding-left: rem-calc(45);
		}
	}

	&__navigation {
		@include clearfix;
		margin-top: rem-calc(25);
		text-align: center;

		@include breakpoint(xmedium) {
			margin-top: rem-calc(35);
		}
	}

	&__back {
		@include show-for(medium);
		float: left;
	}

	&__breadcrumbs {
		display: inline-block;

		@include breakpoint(medium) {
			display: block;
			float: right;
		}
	}

	&__title {
		font-size: rem-calc(26);
		margin-top: rem-calc(15);

		@include breakpoint(medium) {
			font-size: rem-calc(28);
			margin-top: rem-calc(18);
		}

		@include breakpoint(xxmedium) {
			font-size: rem-calc(40);
			margin-top: rem-calc(25);
		}
	}

	&__countdown-box {
		@include clearfix;
		text-align: center;
		margin-top: rem-calc(35);
		margin-bottom: rem-calc(25);

		@include breakpoint(xmedium) {
			text-align: left;
			margin-bottom: 0;
		}
	}

	&__countdown {
		@include clearfix;
		display: inline-block;

	}

	&__countdown-label {
		font-size: rem-calc(14);
		text-align: center;

		@include breakpoint(xmedium) {
			text-align: left;
		}
	}

	&__countdown-item {
		float: left;
		width: rem-calc(50);
		height: rem-calc(50);

		& + & {
			margin-left: rem-calc(10);
		}
	}

	&__countdown-item-value {
		position: relative;
		display: block;
		font-size: rem-calc(24);
		line-height: rem-calc(50);
		text-align: center;
		padding-top: rem-calc(10);

		&::before {
			@include absolute-center;
			@include icon($icon-calendar-holder);
			font-size: rem-calc(50);
		}
	}

	&__countdown-item-label {
		display: block;
		font-size: rem-calc(11);
		text-align: left;
		text-transform: uppercase;
	}

	&__content-box {
		@include grid-column(12);
		padding-top: rem-calc(20);

		@include breakpoint(xmedium) {
			@include grid-column(8.5, 0);
			@include grid-column-offset(1.75);
			padding-top: rem-calc(50);
		}
	}

	&__content {
		font-size: rem-calc(18);
		line-height: rem-calc(28);
	}

	&__products-box {
		@include grid-column(12);
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(0);

		@include breakpoint(xmedium) {
			@include grid-column-end;
			padding-top: rem-calc(35);
		}
	}

	&__products-title {
		font-size: rem-calc(24);
		text-align: center;
		margin-bottom: rem-calc(20);

		@include breakpoint(medium) {
			font-size: rem-calc(30);
			margin-bottom: rem-calc(30);
		}
	}

	&__products-list {
		@include grid-row();
		@include grid-row-nest;
		@include grid-layout(1, '#{&}-item', 0);

		@include breakpoint(medium) {
			@include grid-layout(2, '#{&}-item', 0);
		}

		@include breakpoint(xmedium) {
			@include grid-layout(3, '#{&}-item', 0);
		}

		@include breakpoint(xxmedium) {
			@include grid-layout(4, '#{&}-item', 0);
		}
	}

	&__products-list-item {
		// @include grid-column(12, 0);
		// @include grid-column-end;

		@include breakpoint(medium) {
			// @include grid-column(6, 0);
			// @include grid-column-end;
		}
	}

	&__label {
		position: absolute;
		top: rem-calc(15);
		left: rem-calc(-5);
		font-size: rem-calc(14);
		color: $white;
		padding: rem-calc(8 15);
		text-transform: uppercase;

		@include breakpoint(xmedium) {
			top: rem-calc(35);
			font-size: rem-calc(16);
		}

		&--discount {
			background: $discount-color;
		}

		&--sale {
			background: $sale-color;
		}

		&--prizes {
			background: $prizes-color;
		}
	}
}
