$module: 'discounts-list';

.#{$module} {
	margin-bottom: rem-calc(15);

	@include breakpoint(medium) {
		margin-bottom: rem-calc(30);
	}

	@include breakpoint(xxmedium) {
		margin-bottom: rem-calc(75);
	}

	&__row {
		@include grid-row();

		& + .#{$module}__row {
			margin-top: rem-calc(15);

			@include breakpoint(xmedium) {
				margin-top: rem-calc(30);
			}
		}
	}
}
