$module: 'discounts-filters';

.#{$module} {
	@include grid-column-row();
	margin-top: rem-calc(15);
	margin-bottom: rem-calc(15);

	@include breakpoint(xmedium) {
		margin-top: rem-calc(0);
		margin-bottom: rem-calc(30);
	}

	&__box {
		@include grid-row();
		background: $white;
		padding: rem-calc(20 0);

		@include breakpoint(xmedium) {
			padding: rem-calc(20);
		}
	}

	&__label {
		@include show-for(xmedium);

		@include breakpoint(xmedium) {
			display: table-cell;
			width: rem-calc(130);
			font-size: rem-calc(16);
			vertical-align: middle;
		}
	}

	&__toggle {
		@include hide-for(xmedium);
		@include grid-column(12);
		text-align: center;
	}

	&__toggle-link {
		display: block;
		text-transform: uppercase;
		text-align: center;
		border-radius: $global-radius;
		border: 1px solid $brand-satin-linen;
		margin-bottom: rem-calc(5);
		padding: rem-calc(5);

		&:hover,
		&:focus,
		&:active {
			border: 1px solid $anchor-color-hover;
		}
	}

	&__list {
		@include grid-column(12);
		max-height: 500px;
		transition: max-height 150ms ease-in-out;

		@include breakpoint(xmedium) {
			display: table;
		}

		&--hidden {
			@include breakpoint(xmedium down) {
				max-height: 0;
				overflow: hidden;
			}
		}
	}

	&__form {
		@include breakpoint(xmedium) {
			display: table-cell;
			vertical-align: middle;
		}
	}

	&__item {
		padding: rem-calc(3);

		@include breakpoint(medium) {
			float: left;
			width: 33.3%;
			vertical-align: top;
		}

		@include breakpoint(xmedium) {
			float: left;
			width: auto;
			vertical-align: top;
		}
	}

	&__item-label {
		position: relative;
		font-size: rem-calc(16);
		border: 1px solid $brand-satin-linen;
		border-radius: $global-radius;
		margin: 0;
		padding: rem-calc(5 10 5 40);
		cursor: pointer;

		&::before {
			@include vertical-center;
			left: rem-calc(8);
			width: rem-calc(19);
			height: rem-calc(19);
			border-radius: $global-radius;
			border: 1px solid  $brand-satin-linen;
			content: '';
		}
	}

	&__item-input {
		display: none;

		&[type='checkbox'] {
			& + label {
				width: 100%;
				margin: 0;
			}
		}

		&[type='checkbox']:checked {
			& + label {
				border: 1px solid $body-font-color;

				&::before {
					border: 1px solid  $body-font-color;
				}

				&::after {
					@include vertical-center;
					@include icon($icon-check);
					left: rem-calc(11);
					font-size: rem-calc(14);
				}
			}
		}
	}
}
