$module: 'discount-intro';
$discount-color: $brand-yellow;
$sale-color: #cc99ff;
$prizes-color: #74ddff;
$discount-ends-color: #ff0000;

.#{$module} {
	@include grid-column(12);

	@include breakpoint(xmedium) {
		@include grid-column(6);
		@include grid-column-end;
	}

	& + .#{$module} {
		@include breakpoint(medium down) {
			margin-top: rem-calc(15);
		}
	}

	&__box {
		transition: all 300ms ease-in-out;

		&:hover, &:focus {
			box-shadow: $modal-shadow;

			.#{$module}__link {
				color: $anchor-color-hover;
				border-bottom: 1px solid $anchor-color-hover;
			}
		}
	}

	&__image-box {
		position: relative;
	}

	&__image {
	}

	&__image-link {
		display: block;
	}

	&__content {
		position: relative;
		background: $white;
		padding: rem-calc(20);
	}

	&__title {
		font-size: rem-calc(20);
		line-height: 1.3;

		@include breakpoint(xxsmall) {
			padding-right: rem-calc(100);
		}
	}

	&__link {
		border-bottom: 1px solid $brand-satin-linen;
		transition: all 300ms ease-in-out;
	}

	&__desc {
		@include breakpoint(xxsmall) {
			padding-right: rem-calc(100);
		}
	}

	&__days-left {
		position: relative;
		width: rem-calc(65);
		height: rem-calc(70);
		text-align: center;
		margin: rem-calc(15) auto 0;
		transition: all 300ms ease-in-out;

		@include breakpoint(xxsmall) {
			@include vertical-center;
			right: rem-calc(30);
			margin-top: 0;
		}

		&::before {
			@include absolute-center;
			@include icon($icon-calendar-holder);
			font-size: rem-calc(80);
		}
	}

	&__days-left-inner {
		z-index: 1;
		padding-top: rem-calc(20);
	}

	&__days-left-top {
		display: block;
		font-size: rem-calc(10);
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
	}

	&__days-left-middle {
		display: block;
		font-size: rem-calc(22);
		line-height: rem-calc(20);
		text-align: center;
		z-index: 1;

		&--red {
			color: $discount-ends-color;
		}
	}

	&__days-left-bottom {
		display: block;
		font-size: rem-calc(10);
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
	}

	&__label {
		position: absolute;
		top: rem-calc(15);
		left: rem-calc(-5);
		font-size: rem-calc(14);
		color: $white;
		padding: rem-calc(8 15);
		text-transform: uppercase;

		@include breakpoint(xmedium) {
			top: rem-calc(35);
			font-size: rem-calc(16);
		}

		&--discount {
			background: $discount-color;
		}

		&--sale {
			background: $sale-color;
		}

		&--prizes {
			background: $prizes-color;
		}
	}
}
