$module: 'content-nav';

.#{$module} {
	@include show-for(xmedium);
	padding-bottom: rem-calc(8);

	&__box {
		@include grid-row();
	}

	&__list {
		text-align: center;
		list-style-type: none;
		margin: 0;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		margin: rem-calc(0 13);
	}

	&__link {
		font-size: rem-calc(14);
		text-transform: uppercase;
		border-bottom: 1px solid $brand-light;
		transition: all 300ms ease-in-out;

		&:hover,
		&:focus {
			border-bottom-color: $primary-color;
		}

		&--active {
			color: $primary-color;
			border-bottom-color: $primary-color;
		}
	}
}
