$module: 'content';

.#{$module} {
	@include grid-column-row();
	float: none !important;
	margin-top: rem-calc(30);
	margin-bottom: rem-calc(30);

	@include breakpoint(xmedium) {
		margin-top: 0;
		margin-bottom: rem-calc(60);
	}

	&__box {
		background: $white;
		padding: rem-calc(20 15);

		@include breakpoint(medium) {
			padding: rem-calc(25 35);
		}

		@include breakpoint(xmedium) {
			padding: rem-calc(35 55);
		}
	}

	&__title {
		font-size: rem-calc(36);
		text-align: center;
		margin-bottom: rem-calc(35);
	}

	&__text {
		font-size: rem-calc(18);

		ol {
			margin: 0;
			list-style: none;

			li {
				margin-bottom: rem-calc(5);
				counter-increment: item;
			}

			li::before {
				display: inline-block;
				color: $brand-yellow;
				text-align: center;
				margin-right: rem-calc(15);
				content: counter(item) '.';
			}
		}

		ul {
			list-style: none;

			&.no-bullet {
				margin-left: 0;
				list-style: none;

				li::before {
					content: '';
				}
			}

			li {
				margin-bottom: rem-calc(5);
			}

			li::before {
				font-size: rem-calc(22);
				line-height: rem-calc(16);
				color: $brand-yellow;
				margin-right: rem-calc(15);
				content: '•';
			}
		}

		.line-left {
			border-left: 2px solid $brand-yellow;
			padding-left: rem-calc(30);
		}
	}
}
