<div class="newsletter">
    <div class="newsletter__box">
        <div class="newsletter__inner">
            <div class="newsletter__content">
                <div class="newsletter__title">
                    <span>
                        У нас только
            хорошие новости :)
                    </span>
                </div>
                <div class="newsletter__desc">
                    <span>
                        Наши рассылки приходят не
            чаще чем раз в месяц и написаны
            приятным человеческим языком
                    </span>
                </div>
                <div class="newsletter__input-box">
                    <form action="" class="newsletter__form" id="newsletterForm">
                        <input type="text" class="newsletter__input">
                        <button class="newsletter__button">
                            <span>
                                Подписатсья
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
