<div class="search-offcanvas js-search-offcanvas" id="searchOffcanvas">
	<div class="search-offcanvas__box">
		<form action="/" class="search-offcanvas__form">
			<div class="search-offcanvas__input-box">
				<input id="offcanvasSearchInput" type="text" class="search-offcanvas__input" data-autofocus>
			</div>
			<div class="search-offcanvas__button-box">
				<button class="search-offcanvas__button" type="button">
					<span>
						Вже искать
					</span>
				</button>
				<button class="search-offcanvas__close-button" type="button" data-close="searchOffcanvas">
				</button>
			</div>
		</form>
	</div>
	<div id="offcanvasSearchResults" class="search-offcanvas__results">
			<div id="offcanvasSearchResultsBox" class="search-offcanvas__results-box">
				{{>product-intro}}
				{{>product-intro-2}}
				{{>product-intro-3}}
				{{>product-intro}}
				{{>product-intro}}
				{{>product-intro-2}}
				{{>product-intro-3}}
				{{>product-intro}}
			</div>
	</div>
</div>
