<div class="discount-intro">
	<div class="discount-intro__box">
		<div class="discount-intro__image-box">
			<a href="" class="discount-intro__image-link">
				<img src="http://placehold.it/764x393?text=764x393" alt="" class="discount-intro__image">
			</a>
			<div class="discount-intro__label discount-intro__label--discount">
				Акция
			</div>
		</div>
		<div class="discount-intro__content" data-equalizer-watch>
			<h3 class="discount-intro__title">
				<a href="" class="discount-intro__link">
					Суперпредложение! Софт-буки со скидкой от 15%
				</a>
			</h3>
			<div class="discount-intro__desc">
				Софт-бук - это оригинальный и очень практичный блокнот.
				7 улыбок не оставят равнодушным :)
			</div>
			<div class="discount-intro__days-left">
				<div class="discount-intro__days-left-inner">
					<span class="discount-intro__days-left-top">
						Осталось
					</span>
					<span class="discount-intro__days-left-middle">
						14
					</span>
					<span class="discount-intro__days-left-bottom">
						дней
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
