<div class="discount">
	<div class="discount__box">
		<div class="discount__top">
			<div class="discount__image-box">
				<img src="http://placehold.it/720x490?text=720x490" alt="" class="discount__image">
				<div class="discount-intro__label discount-intro__label--sale">
					Sale
				</div>
			</div>
			<div class="discount__header">
				<div class="discount__navigation">
					<div class="discount__back">
						{{> back-button}}
					</div>
					<div class="discount__breadcrumbs">
						{{>breadcrumbs-blog-post}}
					</div>
				</div>
				<h1 class="discount__title">
					Суперпредложение! Софт-буки со скидкой от 15%
				</h1>
				<div class="discount__countdown-box">
					<div class="discount__countdown-label">
						До конца акции осталось:
					</div>
					<div class="discount__countdown js-discount__countdown" data-countdown-time="2017/07/25" data-countdown-lang="ru">
						2017/06/25
					</div>
				</div>
			</div>
		</div>
		<div class="discount__content-box">
			<div class="discount__content">
				<p>
					Софт-бук - это оригинальный и очень практичный блокнот. В этой категории можно купить софт-бук с вшитыми в цельный кусок кожи тетрадками, а можно  купить отдельно обложку для сменных блоков и тетрадки к ней выбрать в категории Дизайнерские тетради
				</p>
				<p>
					Период проведения акции: с 5 февраля по 4 марта 2016 года
				</p>
			</div>
		</div>
		<div class="discount__products-box">
			<h4 class="discount__products-title">
				Товары участвующие в акции
			</h4>
			<div class="discount__products-list">
				<div class="discount__products-list-item">
					{{> product-intro-3}}
				</div>
				<div class="discount__products-list-item">
					{{> product-intro-2}}
				</div>
				<div class="discount__products-list-item">
					{{> product-intro}}
				</div>
				<div class="discount__products-list-item">
					{{> product-intro}}
				</div>
				<div class="discount__products-list-item">
					{{> product-intro}}
				</div>
				<div class="discount__products-list-item">
					{{> product-intro-3}}
				</div>
				<div class="discount__products-list-item">
					{{> product-intro-2}}
				</div>

			</div>
		</div>

	</div>
</div>
