<div class="discounts-list">
	<div class="discounts-list__row js-discounts-list__row">
		{{> discount-intro-discount}}
		{{> discount-intro-sale}}
	</div>
	<div class="discounts-list__row js-discounts-list__row">
		{{> discount-intro-sale}}
		{{> discount-intro-prizes}}
	</div>
	<div class="discounts-list__row js-discounts-list__row">
		{{> discount-intro-sale}}
	</div>
</div>
