<div class="discounts-filters">
	<div class="discounts-filters__box">
		<div class="discounts-filters__toggle">
			<a class="discounts-filters__toggle-link" data-toggle="discounts-filters__list">Фильтры</a>
		</div>
		<div id="discounts-filters__list" class="discounts-filters__list discounts-filters__list--hidden" data-toggler=".discounts-filters__list--hidden">
			<div class="discounts-filters__label">
				Меня интересуют:
			</div>
			<form class="discounts-filters__form" action="/action_page.php" method="get">
				<div class="discounts-filters__item">
					<input class="discounts-filters__item-input" id="filterItemOne" type="checkbox" name="one" value="1">
					<label class="discounts-filters__item-label" for="filterItemOne">
						С подарками
					</label>
				</div>
				<div class="discounts-filters__item">
					<input class="discounts-filters__item-input" id="filterItemTwo" type="checkbox" name="two" value="2">
					<label class="discounts-filters__item-label" for="filterItemTwo">
						Со скидками
					</label>
				</div>
				<div class="discounts-filters__item">
					<input class="discounts-filters__item-input" id="filterItemThree" type="checkbox" name="three" value="3">
					<label class="discounts-filters__item-label" for="filterItemThree">
						Розыгрыш призов
					</label>
				</div>
				<div class="discounts-filters__item">
					<input class="discounts-filters__item-input" id="filterItemFour" type="checkbox" name="four" value="4">
					<label class="discounts-filters__item-label" for="filterItemFour">
						Только действующие
					</label>
				</div>
				<div class="discounts-filters__item">
					<input class="discounts-filters__item-input" id="filterItemFive" type="checkbox" name="four" value="4">
					<label class="discounts-filters__item-label" for="filterItemFive">
						Только действующие
					</label>
				</div>
			</form>
		</div>
	</div>
</div>
