$module: 'dashboard';

.#{$module} {
	background: $brand-spring-wood;

	&__box {
		@include grid-column-row();
		float: none !important; // https://github.com/zurb/foundation-sites/issues/8108
		padding-top: rem-calc(30);
		padding-bottom: rem-calc(65);
	}

	&__header {
		@include clearfix;
		position: relative;
	}

	&__title {
		font-size: rem-calc(26);
		text-align: center;
		margin-bottom: rem-calc(25);

		@include breakpoint(xmedium) {
			font-size: rem-calc(36);
		}
	}

	&__last-orders {
		@include clearfix;

		& + .#{$module}__wishlist {
			margin-top: rem-calc(45);
		}
	}

	&__wishlist {
		@include clearfix;

		& + .#{$module}__waitlist {
			margin-top: rem-calc(45);
		}
	}

	&__lastorders {
		@include clearfix;
	}

	&__waitlist {
		@include clearfix;
	}

	&__wishlist-list {
		@include clearfix;
		@include grid-layout(1, '.product-intro');
		background: $white;
		margin-bottom: rem-calc(-15);

		@include breakpoint(medium) {
			@include grid-layout(2, '.product-intro', 0);
		}

		@include breakpoint(xmedium) {
			@include grid-layout(3, '.product-intro', 0);
		}

		@include breakpoint(xxmedium) {
			@include grid-layout(4, '.product-intro', 0);
		}

		& > .product-intro {
			background: $white;
		}
	}

	&__waitlist-list {
		@include clearfix;
		@include grid-layout(1, '.product-intro');
		background: $white;
		margin-bottom: rem-calc(-15);

		@include breakpoint(medium) {
			@include grid-layout(2, '.product-intro', 0);
		}

		@include breakpoint(xmedium) {
			@include grid-layout(3, '.product-intro', 0);
		}

		@include breakpoint(xxmedium) {
			@include grid-layout(4, '.product-intro', 0);
		}

		& > .product-intro {
			background: $white;
		}
	}

	&__link {
		position: absolute;
		top: rem-calc(15);
		right: rem-calc(55);
		font-size: rem-calc(14);

		@include breakpoint(medium) {
			top: rem-calc(2);
			font-size: rem-calc(18);
		}

		@include breakpoint(xmedium) {
			top: rem-calc(8);
		}

		@include link-hfa {
			color: $anchor-color-hover;
		}

		&::before {
			@include vertical-center;
			@include icon($icon-arrow);
			right: rem-calc(-50);
			font-size: rem-calc(25);
		}

		span {
			@include show-for(medium);
		}
	}
}
