$module: 'search-offcanvas';
$offcanvas-full-screen-bg: rgba($black, 0.4);
$offcanvas-full-screen-side: top;
$offcanvas-full-screen-closebutton-size: 5rem;

.offcanvas-full-screen {

}

.#{$module} {
	// @include off-canvas-position(top, vertical);
	// @include off-canvas-base($fixed: false);
	@include off-canvas-base($background: $offcanvas-full-screen-bg, $transition: 0.4s ease-in-out);
	@include off-canvas-position($position: $offcanvas-full-screen-side, $size: 100%);
	z-index: 9999;
	box-shadow: $product-intro-shadow;

	&__box {
		background: $brand-spring-wood;
		padding: rem-calc(10 0);

		@include breakpoint(xxmedium) {
			padding: rem-calc(20 0);
		}
	}

	&__form {
		@include grid-row();
	}

	&__input-box {
		@include grid-column(8);

		@include breakpoint(medium) {
			@include grid-column(9);
		}
	}

	&__input {
		font-size: rem-calc(16);
		background: none;
		margin: 0;
		border: 0;
		border-radius: 0;
		border-bottom: 2px solid $white;
		padding: 0;

		@include breakpoint(medium) {
			font-size: rem-calc(24);
		}

		@include breakpoint(large) {
			font-size: rem-calc(30);
		}

		&:focus {
			background: none;
			border: 0;
			border-radius: 0;
			border-bottom: 2px solid $brand-satin-linen;
		}
	}

	&__button-box {
		@include grid-column(4);
		text-align: right;

		@include breakpoint(medium) {
			@include grid-column(3);
		}

		@include breakpoint(xxmedium) {
			@include grid-column(3);
		}
	}

	&__button {
		position: relative;
		// float: right;
		width: rem-calc(38);
		height: rem-calc(41);
		cursor: pointer;

		@include breakpoint(xxmedium) {
			width: rem-calc(142);
			height: rem-calc(41);
		}

		@include link-hfa {
			&::before {
				color: $anchor-color-hover;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-search);
			font-size: rem-calc(30);

			@include breakpoint(xxmedium) {
				@include icon($icon-solid-medium);
				font-size: rem-calc(41);
			}
		}

		span {
			display: none;

			@include breakpoint(xxmedium) {
				position: relative;
				display: block;
				z-index: 1;
				color: $white;
			}
		}
	}

	&__close-button {
		position: relative;
		float: right;
		width: rem-calc(38);
		height: rem-calc(41);
		margin-left: rem-calc(5);
		cursor: pointer;

		@include breakpoint(xmedium) {
			margin-left: rem-calc(20);
		}

		@include link-hfa {
			&::before {
				color: $anchor-color-hover;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-close);
			font-size: rem-calc(30);

			@include breakpoint(xxmedium) {
				font-size: rem-calc(39);
			}
		}
	}

	&__results {
		position: absolute;
		display: none;
		width: 100%;
		// top: rem-calc(100);
	}

	&__results-box {
		@include grid-column-row(0);
		@include grid-layout(1, '.product-intro', $grid-column-gutter);
		position: relative;
		float: none !important;
		background-color: $brand-spring-wood;

		@include breakpoint(xxsmall) {
			@include grid-layout(2, '.product-intro', $grid-column-gutter);
		}

		@include breakpoint(medium) {
			@include grid-layout(3, '.product-intro', $grid-column-gutter);
		}

		@include breakpoint(xmedium) {
			@include grid-layout(4, '.product-intro', $grid-column-gutter);
		}

		.cart-product + .cart-product {
			border-top: 0;
		}

		&.ps {
			max-height: rem-calc(300);
		}
	}
}
