$module: 'order';

.#{$module} {
	background: $brand-spring-wood;

	& + & {
		margin-top: rem-calc(35);
	}

	&__box {
		@include grid-column-row();
		float: none !important; // https://github.com/zurb/foundation-sites/issues/8108
		background: $white;
	}

	&__row {
		@include grid-row();

		&--collapsed {
			max-height: 0;
			overflow: hidden;
		}

		&--uncollapsed {
			max-height: none;

			.#{$module}__left {
				padding-top: 0;
			}

			.#{$module}__right {
				padding-top: 0;
			}
		}
	}

	&__left {
		@include grid-column(12, 0);
		position: relative;
		padding-top: rem-calc(15);
		padding-bottom: rem-calc(15);

		@include breakpoint(xlarge) {
			@include grid-column(9.4, 0);
			border-right: 2px solid #f8f6ef;
			padding-top: rem-calc(35);
			padding-bottom: rem-calc(35);
		}
	}

	&__right {
		@include grid-column(12, 0);
		border-top: 1px solid $brand-satin-linen;
		padding-top: rem-calc(15);
		padding-bottom: rem-calc(15);

		@include breakpoint(xlarge) {
			@include grid-column(2.6, 0);
			border-top: 0;
			padding-top: rem-calc(35);
			padding-bottom: rem-calc(35);
		}
	}

	&__right-inner {
		margin-top: rem-calc(20);

		@include breakpoint(xlarge) {
			margin-top: 0;
			padding-left: rem-calc(30);
		}
	}

	&__header {
		@include breakpoint(xmedium) {
			display: table;
			width: 100%;
			height: 100%;
			padding-left: rem-calc(30);
		}
	}

	&__title {
		width: 100%;
		font-size: rem-calc(24);
		text-align: center;

		@include breakpoint(xmedium) {
			display: table-cell;
			width: 40%;
			text-align: left;
			vertical-align: middle;
		}

		@include breakpoint(xxmedium) {
			width: 30%;
		}

		@include breakpoint(xlarge) {
			width: 24%;
		}

		span {
			position: relative;
			border-bottom: 1px dashed #c6c6c6;
			margin-left: rem-calc(32);
			cursor: pointer;

			@include link-hfa {
				color: $anchor-color-hover;
				border-bottom: 1px dashed $anchor-color-hover;
			}

			&::before {
				@include vertical-center;
				@include icon($icon-plus);
				left: rem-calc(-32);
				font-size: rem-calc(23);
			}
		}

		&--uncollapsed {
			span {
				&::before {
					@include icon($icon-minus-2);
					color: $brand-yellow;
				}
			}
		}
	}

	&__date {
		@include breakpoint(medium down) {
			width: 100%;
			text-align: center;
		}

		@include breakpoint(xmedium) {
			display: table-cell;
			width: 30%;
			vertical-align: middle;
		}

		@include breakpoint(xxmedium) {
			width: 35%;
		}

		@include breakpoint(xlarge) {
			width: 38%;
		}
	}

	&__actions {
		@include breakpoint(medium down) {
			text-align: center;
			padding-top: rem-calc(10);
		}

		@include breakpoint(xmedium) {
			display: table-cell;
			width: 30%;
			text-align: right;
			padding-right: rem-calc(40);
			vertical-align: middle;
		}

		@include breakpoint(xxmedium) {
			width: 35%;
		}

		@include breakpoint(xlarge) {
			width: 38%;
			padding-right: rem-calc(80);
		}
	}

	&__print {
		position: relative;
		display: inline-block;
		width: rem-calc(30);
		height: rem-calc(21);
		cursor: pointer;

		@include link-hfa {
			color: $anchor-color-hover;
		}

		&::before {
			@include icon($icon-print);
			@include absolute-center;
			font-size: rem-calc(21);
		}
	}

	&__download {
		position: relative;
		display: inline-block;
		width: rem-calc(30);
		height: rem-calc(21);
		cursor: pointer;

		@include link-hfa {
			color: $anchor-color-hover;
		}

		&::before {
			@include icon($icon-download);
			@include absolute-center;
			font-size: rem-calc(21);
		}
	}

	&__status {
		@include clearfix;

		@include breakpoint(medium) {
			float: left;
			width: 50%;
			padding-left: rem-calc(30);
		}

		@include breakpoint(xlarge) {
			float: none;
			width: 100%;
		}

		& + & {
			margin-top: rem-calc(3);
		}
	}

	&__status-label {
		float: left;
		font-size: rem-calc(16);
		padding-right: rem-calc(7);
	}

	&__status-value {
		float: left;
		font-size: rem-calc(16);

		&--purple {
			color: #9871af;
		}

		&--green {
			color: #68b800;
		}

		&--gray {
			color: #979797;
		}

		&--red {
			color: #ff3b30;
		}
	}

	&__pay-button {
		position: relative;
		display: block;
		width: rem-calc(196);
		height: rem-calc(57);
		font-size: rem-calc(16);
		line-height: rem-calc(55);
		color: $white;
		text-transform: uppercase;
		text-align: center;
		margin: 0 auto;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include link-hfa {
			color: $white;

			&::before {
				color: $anchor-color-hover;
			}

			span {
				color: $white;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-solid-medium);
			font-size: rem-calc(57);
			color: $black;
		}

		span {
			position: relative;
			z-index: 1;
			color: $white;
			padding-left: rem-calc(18);

			&::before {
				@include vertical-center;
				@include icon($icon-bank);
				left: rem-calc(-18);
				color: $white;
			}
		}
	}

	&__cancel-button {
		position: relative;
		display: block;
		text-align: center;
		margin-top: rem-calc(15);

		span {
			position: relative;
			display: inline-block;
			border-bottom: 1px dotted #898989;
			margin-left: rem-calc(30);

			&::before {
				@include vertical-center;
				@include icon($icon-close);
				left: rem-calc(-35);
				font-size: rem-calc(25);
				color: $black;
			}
		}
	}
}
