<div class="features-small">
	<div class="features-small__list">
		<div class="features-small__item">
			<div class="features-small__icon features-small__icon--delivery">
			</div>
			<div class="features-small__title">
				Бесплатная доставка
			</div>
			<div class="features-small__desc">
				При заказе от 400 грн.
			</div>
		</div>
		<div class="features-small__item">
			<div class="features-small__icon features-small__icon--warranty">
			</div>
			<div class="features-small__title">
				Гарантия возврата
			</div>
			<div class="features-small__desc">
				В течение 14 дней
			</div>
		</div>
		<div class="features-small__item">
			<div class="features-small__icon features-small__icon--bonus">
			</div>
			<div class="features-small__title">
				Бонусная програма
			</div>
			<div class="features-small__desc">
				Для постоянных клиентов
			</div>
		</div>
		<div class="features-small__item">
			<div class="features-small__icon features-small__icon--discount">
			</div>
			<div class="features-small__title">
				Скидка 5%
			</div>
			<div class="features-small__desc">
				При расчете кредитной картой
			</div>
		</div>
	</div>
</div>
