<div class="features">
	<div class="features__box">
		<div class="features__list">
			<div class="feature-item">
				<div class="feature-item__icon-box">
					<img src="./assets/img/features/delivery.png" class="feature-item__icon" alt="">
				</div>
				<div class="feature-item__text-box">
					<h4 class="feature-item__title">
						Бесплатная доставка
					</h4>
					<div class="feature-item__desc">
						Для оформления бесплатной курьерской доставки по Укрвине и Киеву необходимо, чтобы сумма всех товаров в корзине с учетом скидок была больше или равна 400 гривен.
					</div>
				</div>
			</div>
			<div class="feature-item">
				<div class="feature-item__icon-box">
					<img src="./assets/img/features/warranty.png" class="feature-item__icon" alt="">
				</div>
				<div class="feature-item__text-box">
					<h4 class="feature-item__title">
						Гарантия возврата
					</h4>
					<div class="feature-item__desc">
						Каждый покупатель получает 100% гарантию возврата денег. Товар, купленный в нашем Магазине, можно обменять или вернуть на протяжении 14 дней с момента покупки при сохранении товарного вида без объяснения причины с полным возвратом его стоимости.
					</div>
				</div>
			</div>
			<div class="feature-item">
				<div class="feature-item__icon-box">
					<img src="./assets/img/features/bonus.png" class="feature-item__icon" alt="">
				</div>
				<div class="feature-item__text-box">
					<h4 class="feature-item__title">
						Бонусная програма
					</h4>
					<div class="feature-item__desc">
						Это специальная программа для постоянных клиентов магазинов. Она позволяет вам накапливать бонусы за каждую покупку и использовать их, оплачивая новые покупки, а также получать дополнительные привилегии.
					</div>
				</div>
			</div>
			<div class="feature-item">
				<div class="feature-item__icon-box">
					<img src="./assets/img/features/sale.png" class="feature-item__icon" alt="">
				</div>
				<div class="feature-item__text-box">
					<h4 class="feature-item__title">
						Скидка 5%
					</h4>
					<div class="feature-item__desc">
						Оплата онлайн любой картой Visa и MasterCard любого банка Украины после оформления заказа. Платеж происходит через систему безопасных платежей ПриватБанка – Liqpay. Комиссия системы — 2%.
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
