<div class="shipping">
	<form action="/" class="shipping__form">
		<div id="checkout-options" class="checkout-options">
			<div class="checkout-option" data-equalizer-watch>
				<input class="checkout-option__input" id="shipping-type-1" data-checkout-option="shipping-type-1" type='radio' name='shipping-type' value='1' />
				<label for="shipping-type-1" class="checkout-option__box">
					<span class="checkout-option__icon checkout-option__icon--warehouse">

					</span>
					<span class="checkout-option__title">
						До склада
					</span>
					<span class="checkout-option__price">
						35
						<span class="checkout-option__price-small">
							грн.
						</span>
					</span>
					<span class="checkout-option__desc">
						Бесплатная доставка при заказе от 400 грн.
					</span>
					<span class="checkout-option__info">
						Срок доставки: 1-3 дня
					</span>
				</label>
			</div>
			<div class="checkout-option" data-equalizer-watch>
				<input class="checkout-option__input" id="shipping-type-2" data-checkout-option="shipping-type-2" checked type='radio' name='shipping-type' value='2' />
				<label for="shipping-type-2" class="checkout-option__box">
					<span class="checkout-option__icon checkout-option__icon--home">
					</span>
					<span class="checkout-option__title">
						До дверей
					</span>
					<span class="checkout-option__price">
						35
						<span class="checkout-option__price-small">
							грн.
						</span>
					</span>
					<span class="checkout-option__desc">
						Бесплатная доставка при заказе от 500 грн.
					</span>
					<span class="checkout-option__info">
						Срок доставки: 1-3 дня
					</span>
				</label>
			</div>
			<div class="checkout-option" data-equalizer-watch>
				<input class="checkout-option__input" id="shipping-type-3" data-checkout-option="shipping-type-3" type='radio' name='shipping-type' value='3' disabled/>
				<label for="shipping-type-3" class="checkout-option__box">
					<span class="checkout-option__icon checkout-option__icon--self">
					</span>
					<span class="checkout-option__title">
						До склада
					</span>
					<span class="checkout-option__price">
						35
						<span class="checkout-option__price-small">
							грн.
						</span>
					</span>
					<span class="checkout-option__desc">
						Бесплатная доставка при заказе от 400 грн.
					</span>
					<span class="checkout-option__info">
						Срок доставки: 1-3 дня
					</span>
					<span class="checkout-option__disabled-overlay">
						<span class="checkout-option__disabled-title">
							Даный способ доставки недоступный для выбранорго региона
						</span>
					</span>
				</label>
			</div>
		</div>
		<div class="checkout-option-data">
			<div class="checkout-option-data__data " data-checkout-option-data="shipping-type-1">
				<div class="checkout-option-data__service">
					<div class="checkout-option-data__service-column">
						<div class="checkout-option-data__service-label">
							Сервис:
						</div>
						<div class="checkout-option-data__service-image-box">
							<img src="{{root}}assets/img/novaposhta.png" alt="Новая почта" class="checkout-option-data__service-image">
						</div>
					</div>
					<div class="checkout-option-data__service-column">
						<label for="checkout-option-data__warehouse-input" class="checkout-option-data__warehouse-label">
							Выберите склад:
						</label>
						<select class="checkout-option-data__warehouse-select" id="checkout-option-data__warehouse-input" name="customer_address">
							<option value="1">
								г. Киев, Независимости проспект, дом 10
							</option>
							<option value="2">
								г. Киев, Независимости проспект, дом 10
							</option>
							<option value="3">
								г. Киев, Независимости проспект, дом 10
							</option>
						</select>
					</div>
					<div class="checkout-option-data__service-column">
						<div class="checkout-option-data__find-warehouse-box">
							<a href="#" class="checkout-option-data__find-warehouse-link">
								<span>
									Найти ближайщий склад
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="checkout-option-data__data is-hidden" data-checkout-option-data="shipping-type-2">
				<label for="customer_address" class="checkout-option-data__address-label">
					Выберите адрес:
				</label>
				<div class="checkout-option-data__address-select-box">
					<select id="customer_address" name="customer_address">
						<option value="1">
							г. Киев, Независимости проспект, дом 10
						</option>
						<option value="2">
							г. Киев, Независимости проспект, дом 10
						</option>
						<option value="3">
							г. Киев, Независимости проспект, дом 10
						</option>
					</select>
				</div>
				<div class="checkout-option-data__address-add-box">
					<a href="#" class="checkout-option-data__address-add-link">
						<span>
							Добавить новый адрес
						</span>
					</a>
				</div>
			</div>
		</div>
	</form>
</div>
