<div class="shipping">
	<form action="/" class="shipping__form">
		<div id="checkout-options" class="checkout-options">
			<div class="checkout-option" data-equalizer-watch>
				<input class="checkout-option__input" id="shipping-type-1" data-checkout-option="shipping-type-1" type='radio' name='shipping-type' value='1' />
				<label for="shipping-type-1" class="checkout-option__box">
					<span class="checkout-option__icon checkout-option__icon--novaposhta">
					</span>
					<span class="checkout-option__title">
						При получении
					</span>
					<span class="checkout-option__price">
						25
						<span class="checkout-option__price-currency">
							грн.
						</span>
					</span>
					<span class="checkout-option__desc">
						Наличнымы в отделении Новой Почты
					</span>
				</label>
			</div>
			<div class="checkout-option" data-equalizer-watch>
				<input class="checkout-option__input" id="shipping-type-2" data-checkout-option="shipping-type-2" checked type='radio' name='shipping-type' value='2' />
				<label for="shipping-type-2" class="checkout-option__box">
					<span class="checkout-option__icon checkout-option__icon--bank">
					</span>
					<span class="checkout-option__title">
						Банковский перевод
					</span>
					<span class="checkout-option__price">
						<span class="checkout-option__price-small">
							Скидка -
						</span>
						5%
					</span>
					<span class="checkout-option__desc">
						Оплата на карточку ПриватБанка через  Privat 24, терминал или кассу любого банка.
					</span>
				</label>
			</div>
			<div class="checkout-option" data-equalizer-watch>
				<input class="checkout-option__input" id="shipping-type-3" data-checkout-option="shipping-type-3" type='radio' name='shipping-type' value='3'/>
				<label for="shipping-type-3" class="checkout-option__box">
					<span class="checkout-option__icon checkout-option__icon--card">
					</span>
					<span class="checkout-option__title">
						Оплата картой онлайн
					</span>
					<span class="checkout-option__price">
						<span class="checkout-option__price-small">
							Скидка -
						</span>
						5%
					</span>
					<span class="checkout-option__desc">
						Онлайн оплата через интернет после оформления заказа
					</span>
				</label>
			</div>
		</div>
		<div class="checkout-option-data">
			<div class="checkout-option-data__data is-hidden" data-checkout-option-data="shipping-type-1">
				<div class="checkout-option-data__service">
					<div class="checkout-option-data__service-column">
						<div class="checkout-option-data__service-label">
							Сервис:
						</div>
						<div class="checkout-option-data__service-image-box">
							<img src="{{root}}assets/img/novaposhta.png" alt="Новая почта" class="checkout-option-data__service-image">
						</div>
					</div>
					<div class="checkout-option-data__service-column checkout-option-data__service-column--medium">
						Оплата осуществляется в представительстве транспортной компании при получении заказа. За наложенный платеж дополнительно взимается комиссия согласно тарифам транспортных компаний: Новая Почта (от 25 грн.).
					</div>
				</div>
			</div>
			<div class="checkout-option-data__data is-hidden" data-checkout-option-data="shipping-type-2">
				<div class="checkout-option-data__service">
					<div class="checkout-option-data__service-column checkout-option-data__service-column--large">
						Оплата осуществляется в представительстве транспортной компании при получении заказа. За наложенный платеж дополнительно взимается комиссия согласно тарифам транспортных компаний: Новая Почта (от 25 грн.).
					</div>
				</div>
			</div>
			<div class="checkout-option-data__data is-hidden" data-checkout-option-data="shipping-type-3">
				<div class="checkout-option-data__service">
					<div class="checkout-option-data__service-column checkout-option-data__service-column--large">
						Оплата осуществляется в представительстве транспортной компании при получении заказа. За наложенный платеж дополнительно взимается комиссия согласно тарифам транспортных компаний: Новая Почта (от 25 грн.).
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
