<div class="checkout-confirmation">
	<div class="checkout-products">
		{{> checkout-product}}
		{{> checkout-product}}
	</div>
	<div class="checkout-confirmation__data">
		<div class="checkout-confirmation__left">
			<div class="checkout-confirmation__block">
				<div class="checkout-confirmation__block-title checkout-confirmation__block-title--customer">
					Контактная информация
				</div>
				<div class="checkout-confirmation__block-data">
					<p>
						Иван Иванов
					</p>
					<p>
						(050) 123-45-67
					</p>
					<p>
						Киев
					</p>
					<p>
						ivanavanov@gmail.com
					</p>
				</div>
				<div class="checkout-confirmation__subscribe">
					<input class="checkout-confirmation__subscribe-input" id="subscribe" type="checkbox" name="subscribe" checked value="1">
					<label class="checkout-confirmation__subscribe-label" for="subscribe">
						Подписаться на обновления и акции
					</label>
				</div>
			</div>
		</div>
		<div class="checkout-confirmation__right">
			<div class="checkout-confirmation__block">
				<div class="checkout-confirmation__block-title checkout-confirmation__block-title--delivery">
					<span>Доставка до склада</span> — 25 грн.
				</div>
				<div class="checkout-confirmation__block-data">
					<p>
						г. Киев
					</p>
					<p>
						Отделение Новой Почты №10
					</p>
					<p>
						ул. Сковороды, 34/6
					</p>
				</div>
			</div>
			<div class="checkout-confirmation__block">
				<div class="checkout-confirmation__block-title checkout-confirmation__block-title--payment">
					<span>Оплата при получении</span> — 25 грн.
				</div>
			</div>
		</div>
		<div class="checkout-confirmation__bottom">
			<div class="checkout-confirmation__total">
				<span class="checkout-confirmation__total-label">
					Итого:
				</span>
				<span class="checkout-confirmation__total-price">
					615 грн.
				</span>
			</div>
		</div>
	</div>
</div>
