<div class="checkout-product" data-equalizer data-equalize-by-row="true">
	<div class="checkout-product__left">
		<div class="checkout-product__left-inner" data-equalizer-watch>
			<div class="checkout-product__image-box">
				<img src="http://placehold.it/50x50?text=Image+1" alt="" class="checkout-product__image">
			</div>
			<div class="checkout-product__data">
				<div class="checkout-product__title">
					<a href="" class="checkout-product__link">
						Набор канцелярских скрепок «Сардина»
					</a>
				</div>
				<div class="checkout-product__sku">
					Артикул: 392003
				</div>
			</div>
		</div>
	</div>
	<div class="checkout-product__right">
		<div class="checkout-product__right-inner" data-equalizer-watch>
			<div class="checkout-product__price">
				120 грн.
			</div>
			<div class="checkout-product__quantity">
				х 1
			</div>
			<div class="checkout-product__subtotal">
				120 грн.
			</div>
		</div>
	</div>
</div>
