<div class="order-done">
	<div class="order-done__image-box">
		<img class="order-done__image" src="{{root}}assets/img/panda.png" alt="">
	</div>
	<h1 class="order-done__title">
		Спасибо за заказ!
	</h1>
	<h2 class="order-done__subtitle">
		В ближайшее время с Вами свяжется наш менеджер для уточнения деталей заказа
	</h2>

	<div class="order-done__order-details">
		<div class="order-done__order-details-left">
			<div class="order-done__order-number">
				Заказ №123457
			</div>
			<div class="order-done__order-total-label">
				Сумма заказа:
			</div>
		</div>
		<div class="order-done__order-details-right">
			<div class="order-done__order-price">
				615 грн.
			</div>
		</div>
	</div>
	<div class="order-done__actions">
		<a href="" class="order-done__print">
			<span>
				Распечатать
			</span>
		</a>
		<a href="" class="order-done__save">
			<span>
				Cкачать
			</span>
		</a>
	</div>
	<div class="order-done__go-to-home">
		<a href="" class="order-done__go-to-link">
			Перейти на главную страницу
		</a>
	</div>

</div>
