<div class="customer-data">
	<div class="customer-data__box">
		<ul id="checkout-customer-tabs" class="customer-data__tabs-title">
			<li class="customer-data__tab-title customer-data__tab-title--active">
				<a class="customer-data__tab-link" href="#new-customer" aria-selected="true">
					Новый покупатель
				</a>
			</li>
			<li class="customer-data__tab-title">
				<a class="customer-data__tab-link" href="#registered">
					Я постоянный клиент
				</a>
			</li>
		</ul>
		<div class="customer-data__tabs-content" data-tabs-content="checkout-customer-tabs">
			<div class="customer-data__tab customer-data__tab--active" id="new-customer">
				<form action="/" class="customer-data__form">
					<div class="customer-data__form-row">
						<div class="customer-data__form-label-box">
							<label class="customer-data__form-label" for="name">
								Ваше имя и фамилия
								<span class="customer-data__form-label-asterisk">
									*
								</span>
							</label>
						</div>
						<div class="customer-data__form-input-box">
							<input class="customer-data__form-input" type="text" name="name" value="">
						</div>
					</div>
					<div class="customer-data__form-row">
						<div class="customer-data__form-label-box">
							<label class="customer-data__form-label" for="name">
								Телефон
								<span class="customer-data__form-label-asterisk">
									*
								</span>
							</label>
						</div>
						<div class="customer-data__form-input-box">
							<input class="customer-data__form-input" type="text" name="name" value="">
						</div>
						<div class="customer-data__form-helptext-box">
							<span class="customer-data__form-helptext">
								— для подтверждения заказа
							</span>
						</div>
					</div>
					<div class="customer-data__form-row">
						<div class="customer-data__form-label-box">
							<label class="customer-data__form-label" for="name">
								Город
								<span class="customer-data__form-label-asterisk">
									*
								</span>
							</label>
						</div>
						<div class="customer-data__form-input-box">
							<select>
								<option value="husker">Киев</option>
								<option value="starbuck">Львов</option>
							</select>
						</div>
					</div>
					<div class="customer-data__form-row">
						<div class="customer-data__form-label-box">
							<label class="customer-data__form-label" for="name">
								Эл. почта
							</label>
						</div>
						<div class="customer-data__form-input-box">
							<input class="customer-data__form-input" type="text" name="name" value="">
						</div>
						<div class="customer-data__form-helptext-box">
							<span class="customer-data__form-helptext">
								— сюда отправим информацию о заказе
							</span>
						</div>
					</div>
					<div class="customer-data__form-row">
						<div class="customer-data__form-add-comment" >
							<span class="customer-data__form-add-comment-toggle" data-toggle="customer-data__form-comment">
								Добавить коментарий к заказу
							</span>
						</div>
						<div id="customer-data__form-comment" data-toggler="customer-data__form-comment--visible" class="customer-data__form-comment">
							<textarea class="customer-data__form-comment-textarea" name="name" rows="8" cols="80"></textarea>
						</div>
					</div>
					<div class="customer-data__form-row customer-data__form-row--no-margin">
						<div class="customer-data__form-is-gift">
							<input class="customer-data__form-is-gift-input" id="checkbox1" type="checkbox">
							<label class="customer-data__form-is-gift-label" for="checkbox1">
								Это в подарок
							</label>
						</div>
					</div>
				</form>
			</div>
			<div class="customer-data__tab" id="registered">
				<p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
			</div>
		</div>
	</div>
</div>
