<div class="checkout-steps">
	<div class="checkout-steps__box">
		<ol class="checkout-steps__list">
		  <li class="checkout-steps__item checkout-steps__item--complete" data-step="1"></li>
		  <li class="checkout-steps__item checkout-steps__item--complete" data-step="2"></li>
		  <li data-step="3" class="checkout-steps__item checkout-steps__item--active"></li>
		  <li data-step="4" class="checkout-steps__item checkout-steps__item--last"></li>
		</ol>
	</div>
</div>
