<div class="order-done-text">
	<div class="order-done-text__box">
		<p>Дорогие клиенты, оплату мы принимаем на карту Приватбанка (через систему <a href="#">Privat 24</a> или через терминал платежей <a href="#">Приватбанка</a>)</p>
		<p class="order-done-text__muted">
			Если Вы хотите изменить первоначально введены данные, Вы можете это сделать в <a href="#">Личном кабинете</a>, или своевременно сообщите нам об этом по электронной почте (info@hochuvzhe.ua), или по телефону (050) 123-45-67
		</p>
		<p class="order-done-text__important">
			Важно! Если менеджер не смог связаться по указанным Вами в заказе координатам (телефон, e-mail и т.п.) в течение двух суток, заказ будет аннулирован.
Если по каким-то причинам Вы не смогли получить ответ на свой запрос в этот период, пожалуйста, свяжитесь с нами самостоятельно по электронной почте (info@hochuvzhe.ua) или по телефону (050) 123-45-67.
Спасибо за покупку!
		</p>
	</div>
</div>
