$module: 'brand-intro';

.#{$module} {
	& + .#{$module} {
		border-top: 1px solid $brand-satin-linen;
		margin-top: rem-calc(25);
		padding-top: rem-calc(25);

		@include breakpoint(xmedium) {
			margin-top: rem-calc(45);
			padding-top: rem-calc(45);
		}
	}

	&__box {
		@include breakpoint(xxmedium down) {
			@include grid-row();
		}

		@include breakpoint(large) {
			display: table;
		}
	}

	&__logo-box {
		@include breakpoint(medium down) {
			@include grid-column(12, 0);
			text-align: center;
			margin-bottom: rem-calc(15);
		}

		@include breakpoint(xmedium only) {
			@include grid-column(3, 0);
			text-align: center;
		}

		@include breakpoint(xxmedium only) {
			@include grid-column(3, 0);
			text-align: center;
		}

		@include breakpoint(large) {
			display: table-cell;
			width: rem-calc(200);
			max-width: rem-calc(200);
			vertical-align: middle;
		}
	}

	&__content {
		@include breakpoint(medium down) {
			@include grid-column(12, 0);
		}

		@include breakpoint(xmedium only) {
			@include grid-column(9, 0);
			padding-left: rem-calc(20);
		}

		@include breakpoint(xxmedium only) {
			@include grid-column(9, 0);
			padding-left: rem-calc(20);
		}

		@include breakpoint(large) {
			display: table-cell;
			border-right: 1px solid $brand-satin-linen;
			padding: rem-calc(0 50 0 40);
			vertical-align: middle;
		}
	}

	&__desc {
		font-size: rem-calc(16);

		@include breakpoint(xmedium) {
			font-size: rem-calc(18);
		}
	}

	&__nav-box {
		@include breakpoint(medium down) {
			@include grid-column(12, 0);
			margin-top: rem-calc(20);
		}

		@include breakpoint(xmedium only) {
			@include grid-column(9, 0);
			margin-top: rem-calc(25);
			padding-left: rem-calc(20);
		}

		@include breakpoint(xxmedium only) {
			@include grid-column(9, 0);
			margin-top: rem-calc(25);
			padding-left: rem-calc(20);
		}

		@include breakpoint(large) {
			display: table-cell;
			width: 20%;
			padding-left: rem-calc(45);
			vertical-align: middle;
		}
	}

	&__title {
		text-align: center;
		margin-bottom: rem-calc(25);

		@include breakpoint(xmedium) {
			text-align: left;
		}
	}

	&__link {
		font-size: rem-calc(36);
		border-bottom: 1px solid $brand-satin-linen;
		transition: all 300ms ease-in-out;

		&:hover, &:focus {
			border-bottom: 1px solid $anchor-color-hover;
		}
	}

	&__products-link {
		position: relative;
		display: inline-block;
		width: rem-calc(196);
		height: rem-calc(57);
		font-size: rem-calc(16);
		line-height: rem-calc(57);
		text-transform: uppercase;
		text-align: center;
		// margin: 0 auto;
		margin-top: rem-calc(20);

		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include breakpoint(xmedium) {
			display: inline-block;
			vertical-align: middle;
		}

		@include link-hfa {
			color: $body-font-family;

			&::before {
				color: $anchor-color-hover;
			}

			span {
				color: $body-font-family;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-blank-medium);
			font-size: rem-calc(57);
			color: $black;
		}

		span {
			position: relative;
			z-index: 1;
		}
	}

	&__counter-box {
		@include clearfix;
		text-align: center;

		@include breakpoint(large) {
			text-align: left;
		}
	}

	&__counter-value {
		display: inline-block;
		font-size: rem-calc(14);
		background: $brand-yellow;
		padding: rem-calc(2 8);

		@include breakpoint(xmedium) {
			display: inline-block;
			vertical-align: middle;
		}
	}

	&__counter-label {
		display: inline-block;
		font-size: rem-calc(14);
		padding: rem-calc(2 8);
		text-transform: uppercase;
	}
}
