$module: 'brands';

.#{$module} {
	@include grid-column-row();

	&__box {
		background: $white;
		margin: rem-calc(30 0 30);
		padding: rem-calc(15 20);

		@include breakpoint(xmedium) {
			margin-top: 0;
		}

		@include breakpoint(large) {
			margin: rem-calc(0 0 60);
			padding: rem-calc(20 50);
		}
	}

	&__title {
		font-size: rem-calc(42);
		text-align: center;
		margin-bottom: rem-calc(10);

		@include breakpoint(xmedium) {
			font-size: rem-calc(50);
		}
	}

	&__breadcrumbs {
		text-align: center;
		margin-bottom: rem-calc(40);

		& > .breadcrumbs {
			display: inline-block;
		}
	}

}
