<div class="contacts">
	<div class="contacts__box">
		<div class="contacts__title">
			Контактная информация
		</div>
		<div class="contacts__row">
			<div class="contacts__left">
				<div class="contacts__phones">
					<p>
						<b>Телефоны:</b> <br>
						+38 (093) 820-52-52 <br>
						+38 (093) 820-52-52 <br>
						+38 (093) 820-52-52
					</p>
				</div>
				<div class="contacts__office">
					<p>
						<b>Главный офис и склад:</b> <br>
						Украина, 58000, г. Черновцы, ул. Главная, 59, 3-этаж (самовывоз).
					</p>
				</div>

			</div>
			<div class="contacts__right">
				<div class="contacts__emails">
					<p>
						Эл. почта: info@vje.com.ua <br>
						Для партнеров: partners@vje.com.ua <br>
						Для оптовиков: opt@vje.com.ua <br>
					</p>
				</div>
			</div>
		</div>
		<div class="contacts__row contacts__row--padding">
			<div class="contacts__left">
				<ul id="contactsCarousel" class="contacts__carousel">
					<li class="contacts__carousel-item">
						<img class="contacts__carousel-image" src="http://placehold.it/495x480?text=Image+1" alt="">
					</li>
					<li class="contacts__carousel-item">
						<img class="contacts__carousel-image" src="http://placehold.it/495x480?text=Image+2" alt="">
					</li>
					<li class="contacts__carousel-item">
						<img class="contacts__carousel-image" src="http://placehold.it/495x480?text=Image+3" alt="">
					</li>
					<li class="contacts__carousel-item">
						<img class="contacts__carousel-image" src="http://placehold.it/495x480?text=Image+4" alt="">
					</li>
					<li class="contacts__carousel-item">
						<img class="contacts__carousel-image" src="http://placehold.it/495x480?text=Image+6" alt="">
					</li>
					<li class="contacts__carousel-item">
						<img class="contacts__carousel-image" src="http://placehold.it/495x480?text=Image+7" alt="">
					</li>
					<li class="contacts__carousel-item">
						<img class="contacts__carousel-image" src="http://placehold.it/495x480?text=Image+8" alt="">
					</li>
					<li class="contacts__carousel-item">
						<img class="contacts__carousel-image" src="http://placehold.it/495x480?text=Image+9" alt="">
					</li>
					<li class="contacts__carousel-item">
						<img class="contacts__carousel-image" src="http://placehold.it/495x480?text=Image+9" alt="">
					</li>
					<li class="contacts__carousel-item">
						<img class="contacts__carousel-image" src="http://placehold.it/495x480?text=Image+10" alt="">
					</li>
					</ul>
				</ul>
			</div>
			<div class="contacts__right">
				<div class="contacts__map">
					<div id="contactsMap" class="contacts__map-container"></div>
				</div>
			</div>
		</div>
	</div>
</div>
