{{> offcanvas-content}}
{{> search-offcanvas}}

<div class="off-canvas-content" data-off-canvas-content>
	{{> header}}
	{{> content-nav}}
	<main class="main">
		{{> categories-nav}}
		{{> blog-menu}}
		{{> blog-post}}
	</main>
	{{> decoration-image}}
	{{> footer}}
</div>
