{{> phone-offcanvas}}

<div class="off-canvas-content" data-off-canvas-content>
	{{> header-checkout}}
	<main class="main">
		<div class="checkout-page">
			<div class="checkout-page__box">
				<div class="checkout-page__header">
					<h1 class="checkout-page__title">
						Корзина
					</h1>
				</div>
				<div class="checkout-page__sub-header">
					<div class="checkout-page__sub-title">
						2 товара на сумму 580 грн.
					</div>
					<div class="checkout-page__breadcrumbs">
						{{> breadcrumbs-cart}}
					</div>
				</div>
				<div class="checkout-page__content">
					{{> cart}}
				</div>
				<div class="checkout-page__links">
					<a href="order.html" class="checkout-page__link">
						<span>
							Оформить заказ
						</span>
					</a>
				</div>
			</div>
		</div>
	</main>
	{{> features-small}}
	{{> footer-small}}
</div>
