{{> phone-offcanvas}}

<div class="off-canvas-content" data-off-canvas-content>
	{{> header-checkout}}
	<main class="main">
		<div class="checkout-page">
			<div class="checkout-page__box">
				<div class="checkout-page__header">
					<h1 class="checkout-page__title">
						Оформление заказа
					</h1>
				</div>
				<div class="checkout-page__sub-header">
					<div class="checkout-page__sub-title">
						2 товара на сумму 580 грн.
					</div>
					<div class="checkout-page__breadcrumbs">
						{{> breadcrumbs-order}}
					</div>
				</div>
				<div class="checkout-page__steps">
					{{> checkout-steps-confirmation}}
				</div>
				<div class="checkout-page__content">
					<h2 class="checkout-page__step-title">
						Подтверждение
					</h2>
					{{> checkout-confirmation}}
				</div>
				<div class="checkout-page__links">
					<a href="order-done.html" class="checkout-page__link checkout-page__link--green-large">
						<span>
							Подтвердить заказ
						</span>
					</a>
					<a href="#" class="checkout-page__edit-link">
						<span>
							Редактировать
						</span>
					</a>
				</div>
			</div>
		</div>


	</main>
	{{> features-small}}
	{{> footer-small}}
</div>
