{{> offcanvas-content}}
{{> search-offcanvas}}

<div class="off-canvas-content" data-off-canvas-content>
	{{> header}}
	{{> content-nav}}
	{{> categories-nav}}
	<main class="main">
		{{> discounts-filters}}
		{{> discounts-list}}
	</main>
	{{> decoration-image}}
	{{> footer}}
</div>
