{{> offcanvas-content}}
{{> search-offcanvas}}

<style media="screen">
	a {
		display: block;
		text-align: center;
		font-size: 18px;
	}
</style>
<div class="off-canvas-content" data-off-canvas-content>
	<a href="blog.html">blog.html</a>
	<a href="blog-details.html">blog-details.html</a>
	<a href="brands.html">brands.html</a>
	<a href="cart.html">cart.html</a>
	<a href="catalog.html">catalog.html</a>
	<a href="confirmation.html">confirmation.html</a>
	<a href="contacts.html">contacts.html</a>
	<a href="content-page.html">content-page.html</a>
	<a href="dashboard.html">dashboard.html</a>
	<a href="dashboard-orders.html">dashboard-orders.html</a>
	<a href="discount.html">discount.html</a>
	<a href="discounts.html">discounts.html</a>
	<a href="homepage.html">homepage.html</a>
	<a href="index.html">index.html</a>
	<a href="order.html">order.html</a>
	<a href="order-done.html">order-done.html</a>
	<a href="pay.html">pay.html</a>
	<a href="product.html">product.html</a>
	<a href="product-2.html">product-2.html</a>
	<a href="product-3.html">product-3.html</a>
	<a href="shipping.html">shipping.html</a>
	<a href="waitlist.html">waitlist.html</a>
	<a href="wishlist.html">wishlist.html</a>
</div>
