{{> phone-offcanvas}}

<div class="off-canvas-content" data-off-canvas-content>
	{{> header-checkout}}
	<main class="main">
		<div class="checkout-page">
			<div class="checkout-page__box">
				<div class="checkout-page__sub-header">
					<div class="checkout-page__breadcrumbs checkout-page__breadcrumbs--order-done">
						{{> breadcrumbs-order}}
					</div>
				</div>
				<div class="checkout-page__content">
					{{> checkout-order-done}}
				</div>
			</div>
		</div>
	</main>
	{{> order-done-text}}
	{{> footer-small}}
</div>
