{{> offcanvas-content}}
{{> search-offcanvas}}

<div class="off-canvas-content" data-off-canvas-content>
	{{> header}}
	{{> content-nav}}
	{{> categories-nav}}
	<main class="main">
		{{> product}}
	</main>
	{{> product-related}}
	{{> decoration-image}}
	{{> footer}}
	{{> product-quick-view}}
</div>
