$module: 'featured-products';

.#{$module} {
	background: $brand-spring-wood;

	&__box {
		@include grid-row();
		padding-top: rem-calc(30);
		padding-bottom: rem-calc(30);

		@include breakpoint(xmedium) {
			padding-bottom: rem-calc(45);
		}
	}
}
