$module: 'featured-product';
$discount-color: $brand-yellow;
$sale-color: #cc99ff;
$prizes-color: #74ddff;

.#{$module} {
	@include disable-mouse-outline;
	@include grid-column(12);

	@include breakpoint(xmedium) {
		@include grid-column(4);
	}

	&__box {
		background: $white;
	}

	&__image-box {
		position: relative;
		text-align: center;
	}

	&__label {
		position: absolute;
		top: rem-calc(15);
		left: rem-calc(-5);
		font-size: rem-calc(14);
		color: $white;
		padding: rem-calc(8 15);
		text-transform: uppercase;
		background: $brand-orange;

		@include breakpoint(xmedium) {
			top: rem-calc(35);
			font-size: rem-calc(16);
		}

		&--discount {
			background: $discount-color;
		}

		&--sale {
			background: $sale-color;
		}

		&--prizes {
			background: $prizes-color;
		}
	}

	&__image-link {
		display: block;
		text-align: center;
	}

	&__image {
		display: inline-block !important;
	}

	&__content-box {
		position: relative;
		padding: rem-calc(20);
	}

	&__title {
		font-size: rem-calc(16);
	}

	&__desc {
		font-size: rem-calc(14);
		margin-bottom: rem-calc(20);
	}

	&__economy {
		color: $white;

		@include breakpoint(xmedium) {
			top: rem-calc(35);
			font-size: rem-calc(16);
		}

		&--discount {
			.#{$module}__economy-label {
				color: $discount-color;
			}

			.#{$module}__economy-value {
				background: $discount-color;
			}
		}

		&--sale {
			.#{$module}__economy-label {
				color: $sale-color;
			}

			.#{$module}__economy-value {
				background: $sale-color;
			}
		}

		&--prizes {
			.#{$module}__economy-label {
				color: $prizes-color;
			}

			.#{$module}__economy-value {
				background: $prizes-color;
			}
		}
	}

	&__economy-value {
		font-size: rem-calc(14);
		color: $white;
		margin-right: rem-calc(10);
		padding: rem-calc(4 10);
	}

	&__economy-label {
		font-size: rem-calc(12);
		text-transform: uppercase;
	}

	&__bottom {

	}

	&__price {
		@include clearfix;
		margin-top: rem-calc(10);
		vertical-align: bottom;
		color: $brand-orange;
	}

	&__add-to-cart {
		position: absolute;
		right: rem-calc(20);
		bottom: rem-calc(20);
		display: block;
		width: rem-calc(37);
		height: rem-calc(35);
		font-size: rem-calc(16);
		line-height: rem-calc(18);
		color: $white;
		text-transform: uppercase;
		text-align: center;
		padding-top: rem-calc(5);
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include breakpoint(xmedium) {
			width: rem-calc(120);
			height: rem-calc(35);
		}

		@include link-hfa {
			color: $white;

			&::before {
				color: $anchor-color-hover;
			}

			span {
				color: $white;
			}
		}

		&::after {
			@include absolute-center;
			@include icon($icon-package-2);
			font-size: rem-calc(24);
			color: $white;

			@include breakpoint(xmedium) {
				content: none;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-clip-2);
			font-size: rem-calc(35);
			color: $black;

			@include breakpoint(xmedium) {
				@include icon($icon-solid-small);
			}
		}

		span {
			@include show-for(xmedium);
			position: relative;
			z-index: 1;
			color: $white;
		}

		&.is-added-to-cart {
			&::before {
				color: $brand-green;
			}
		}
	}

	&__new-price {
		display: inline-block;
		color: $brand-orange;
	}

	&__price-value {
		display: inline-block;
		font-size: rem-calc(30);
		line-height: 1;
	}

		&__price-currency {
		display: inline-block;
		font-size: rem-calc(24);
	}

	&__old-price {
		position: relative;
		display: inline-block;
		color: #999999;
		// padding-top: rem-calc(6);
		// padding-left: rem-calc(5);

		&::before {
			@include vertical-center;
			width: 100%;
			height: rem-calc(1);
			background: #999999;
			content: '';
		}

		.#{$module}__price-value {
			font-size: rem-calc(18);
			// line-height: rem-calc(30);
		}
		.#{$module}__price-currency {
			font-size: rem-calc(18);
			// line-height: rem-calc(30);
		}
	}
}
