$module: 'back-button';
$current-color: #bebebe;
$link-color: #999;

.#{$module} {
	position: relative;
	line-height: 1;

	&__link {
		font-size: rem-calc(14);
		color: $link-color;
		padding-left: rem-calc(20);
		line-height: 1;

		@include link-hfa {
			color: $anchor-color-hover;

			&::before {
				color: $anchor-color-hover;
			}
		}

		&::before {
			@include icon($icon-arrow-left);
			@include vertical-center;
			left: 0;
			width: rem-calc(20);
			font-size: rem-calc(8);
			color: $link-color;
		}

		span {
			// @include show-for(xxsmall);
		}
	}
}
