<div id="loginReveal" class="login-reveal" >
	<div class="login-reveal__inner">
		<div class="login-reveal__close" data-close></div>
		<div class="login-reveal__box">
			<div class="login-reveal__title">
				Войти в Личный кабинет
			</div>
			<form id="loginForm" action="" class="login-reveal__form" novalidate>
				<label for="email">
					<input id="email"
						type="email"
						class="login-reveal__input"
						placeholder="Электронная почта"
						aria-describedby="emailHelpText"
						name="email"
						value=""
						required
						pattern="email"
					>
					<span class="form-error">
					 Необходимо указать корректный email
					</span>
				</label>
				<p class="help-text" id="emailHelpText">
					Пример: hochuvzhe@gmail.com
				</p>
				<label id="pass" for="pass" required>
					<input
					type="password"
					name="password"
					class="login-reveal__input"
					required
					aria-describedby="passHelpText"
					placeholder="Пароль"
					value="">
					<span class="form-error">
					 Данное поля обязательное к заполнению
					</span>
				</label>
				<p class="help-text" id="passHelpText">
					<span id="resetPass" data-toggle="resetPassReveal" href="#" class="login-reveal__reset-pass">
						Намопнить пароль
					</span>
				</p>
				<button id="loginSubmit" class="login-reveal__button">
					<span>
						Войти
					</span>
				</button>
			</form>
			<div class="login-reveal__social">
				<div class="login-reveal__social-title">
					Войти как пользователь:
				</div>
				<div class="login-reveal__providers">
					<div class="login-reveal__providers-col">
						<a class="login-reveal__provider" href="">
							<div class="login-reveal__provider-title login-reveal__provider-title--fb">
								Facebook
							</div>
						</a>
					</div>
					<div class="login-reveal__providers-col">
						<a class="login-reveal__provider" href="">
							<div class="login-reveal__provider-title login-reveal__provider-title--vk">
								ВКонтакте
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
