<div id="registerReveal" class="register" >
	<div class="register__inner">
		<div class="register__close" data-close></div>
		<div class="register__box">
			<div class="register__title">
				Регистрация
			</div>
			<form id="registerForm" action="" class="register__form" novalidate>
				<label for="name">
					<input id="name"
						type="text"
						class="register__input"
						placeholder="Ваше имя"
						aria-describedby="emailHelpText"
						name="name"
						value=""
						required
					>
					<span class="form-error">
					 Данное поля обязательное к заполнению
					</span>
				</label>
				<label for="email">
					<input id="email"
						type="email"
						class="register__input"
						placeholder="Электронная почта"
						aria-describedby="emailHelpText"
						name="email"
						value=""
						required
						pattern="email"
					>
					<span class="form-error">
					 Необходимо указать корректный email
					</span>
				</label>
				<p class="help-text" id="emailHelpText">
					Пример: hochuvzhe@gmail.com
				</p>
				<label id="pass" for="pass" required>
					<input
					type="password"
					name="password"
					class="register__input"
					required
					aria-describedby="passHelpText"
					placeholder="Придумайте себе пароль"
					value="">
					<span class="form-error">
					 Данное поля обязательное к заполнению
					</span>
				</label>
				<button id="registerSubmit" class="register__button">
					<span>
						Зарегистрироваться
					</span>
				</button>
			</form>
			<div class="register__social">
				<div class="register__social-title">
					Регистрация через социальные сети:
				</div>
				<div class="register__providers">
					<div class="register__providers-col">
						<a class="register__provider" href="">
							<div class="register__provider-title register__provider-title--fb">
								Facebook
							</div>
						</a>
					</div>
					<div class="register__providers-col">
						<a class="register__provider" href="">
							<div class="register__provider-title register__provider-title--vk">
								ВКонтакте
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
