<div id="resetPassReveal" class="reset-pass" >
	<div class="reset-pass__inner">
		<div class="reset-pass__box">
			<div class="reset-pass__title">
				Восстановить пароль
			</div>
			<div class="reset-pass__subtitle">
				Введите Ваш email и мышлем Вам временный пароль
			</div>
			<form id="resetPassForm" action="" class="reset-pass__form" novalidate>
				<label for="email">
					<input id="email"
						type="email"
						class="reset-pass__input"
						placeholder="Электронная почта"
						aria-describedby="exampleHelpTex"
						name="email"
						value=""
						required
						pattern="email"
					>
					<span class="form-error">
					 Необходимо указать корректный email
					</span>
				</label>
				<p class="help-text" id="exampleHelpTex">
					Пример: hochuvzhe@gmail.com
				</p>
				<button id="resetPassSubmit" class="reset-pass__button">
					<span>
						Войти
					</span>
				</button>
			</form>
		</div>
	</div>
</div>
