<div class="catalog">
	<div class="catalog__box">
		<h1 class="catalog__title">
			Уютный дом
		</h1>
		<div class="catalog__breadcrumbs">
			{{> breadcrumbs-catalog}}
		</div>
		<div class="catalog__filters">
			<div class="catalog__filters-row">
				<div class="catalog__filter-column">
					<span class="catalog__filter-label">
						Бренд:
					</span>
					<span class="catalog__filter-box catalog__filter-box--brands">
						<select id="catalogBrandsFilter" multiple="multiple">
							<option value="1">January</option>
							<option value="2">February</option>
							<option value="3">March</option>
							<option value="4">April</option>
							<option value="5">May</option>
							<option value="6">June</option>
							<option value="7">July</option>
							<option value="8">August</option>
							<option value="9">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</span>
				</div>
				<div class="catalog__filter-column catalog__filter-column--slider">
					<span class="catalog__filter-label catalog__filter-label--slider">
						Цена:
					</span>
					<span class="catalog__filter-box catalog__filter-box--slider">
						<span class="catalog__filter-slider" id="slider"></span>
					</span>
				</div>
				<div class="catalog__filter-column catalog__filter-column--sort">
					<span class="catalog__filter-label">
						Сортировать по:
					</span>
					<span class="catalog__filter-box catalog__filter-box--sort">
						<select class="catalog__filter-sort-input">
							<option select value="husker">По рейтингу</option>
							<option value="starbuck">Starbuck</option>
							<option value="hotdog">Hot Dog</option>
							<option value="apollo">Apollo</option>
						</select>
					</span>
				</div>
			</div>
			<div class="catalog__filters-row">
				<div class="catalog__filters-reset-box">
					<span id="resetCatalogFilters" class="catalog__filters-reset">
						Очистить фильтр
					</span>
				</div>
				<div class="catalog__filters-total-box">
					<div class="catalog__filters-total">
						Всего 46 товаров
					</div>
				</div>

			</div>
		</div>
		<div class="catalog__list">
			{{#repeat 4}}
				{{> product-intro}}
				{{> product-intro-2}}
			{{/repeat}}
			{{#repeat 4}}
				{{> product-intro-3}}
				{{> product-intro}}
				{{> product-intro-2}}
			{{/repeat}}
		</div>
		<div class="catalog__navigation">
			<div class="catalog__pagination">
				{{> catalog-pagination}}
			</div>
			<div class="catalog__show-more">
				<button class="catalog__show-more-button">
					<span>
						Показать еще
					</span>
				</button>
			</div>
		</div>
	</div>
</div>
