$module: 'product-related';
$bg-color: $brand-spring-wood;

.#{$module} {
	background: $bg-color;
	padding: rem-calc(30 0 60);

	&__box {
		@include grid-column-row(10);
	}

	&__title {
		font-size: rem-calc(36);
		text-align: center;
		margin: rem-calc(0 0 20);
	}

	&__slider {
		.slick-list {
			position: relative;
			padding: rem-calc(10 0);

			&::after {
				position: absolute;
				top: rem-calc(10);
				right: rem-calc(10);
				bottom: rem-calc(10);
				left: rem-calc(10);
				z-index: -1;
				background: $white;
				content: '';
			}
		}

		.product-intro {
			background: $white;
		}

		.no-js & {
			@include grid-row();
		}
	}

	&__item {
		margin: rem-calc(0 10);

		.no-js & {
			@include grid-column(3);
			@include grid-column-end;
			margin: 0;
		}
	}
}
