$module: 'logo';

.#{$module} {
	text-align: center;

	&__image {
		height: rem-calc(60);

		@include breakpoint(xmedium) {
			height: auto;
			max-width: rem-calc(160);
		}

		@include breakpoint(xxmedium) {
			height: auto;
			max-width: none;
		}
	}
}
