$module: 'logo-small';

.#{$module} {
	text-align: center;

	&__link {
		display: block;
	}

	&__image {
		height: rem-calc(60);

		@include breakpoint(medium) {
			height: rem-calc(100);
		}

		@include breakpoint(xmedium) {
			height: auto;
			max-width: rem-calc(148);
		}

		@include breakpoint(large) {
			max-width: rem-calc(158);
		}
	}
}
