$module: 'categories-nav';

.#{$module} {
	@include show-for(xmedium);
	position: relative;
	background: $brand-spring-wood;

	&__box {
		@include grid-column-row();
		float: none !important; // https://github.com/zurb/foundation-sites/issues/8108
		padding-top: rem-calc(5);
	}

	&__list {
		position: relative;
		display: table;
		height: 100%;
		margin: 0;
		list-style-type: none;
	}

	&__item {
		@include auto-width(10, li);
		display: table-cell;
		text-align: center;
		vertical-align: middle;

		@include breakpoint(xxmedium) {
			text-align: left;
		}

		& + & {
			padding-left: rem-calc(10);
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		height: rem-calc(95);
		font-size: rem-calc(16);
		line-height: rem-calc(18);
		text-align: center;
		border-bottom: 2px solid transparent;
		padding-top: rem-calc(55);
		vertical-align: middle;
		transition: all 300ms ease-in-out;

		@include breakpoint(xxmedium) {
			display: table-cell;
			text-align: left;
			padding-top: 0;
		}

		&:hover, &:focus {
			border-bottom-color: $brand-orange;
		}

		&::before {
			@include vertical-center;
			left: 0;
			height: rem-calc(38);
			font-size: rem-calc(38);

			@include breakpoint(xlarge) {
				font-size: rem-calc(42);
			}
		}

		&--search {
			@include vertical-center;
			position: absolute;
			right: 0;
			padding-left: rem-calc(48);
			cursor: pointer;

			@include breakpoint(xlarge) {
				padding-left: rem-calc(54);
			}

			@include link-hfa {
				border-bottom-color: transparent;

				&::before {
					color: $anchor-color-hover;
				}
			}

			&::before {
				@include icon($icon-search);
				right: 0;
			}
		}

		&--active, &.hover {
			color: $brand-yellow;
			border-bottom-color: $brand-yellow;
		}
	}

	&__icon {
		position: relative;
		display: inline-block;

		&::before {
			@include breakpoint(xmedium only) {
				@include horizontal-center;
				top: rem-calc(-45);
				height: rem-calc(35);
				font-size: rem-calc(35);
			}

			@include breakpoint(xxmedium) {
				@include vertical-center;
				left: 0;
				height: rem-calc(38);
				font-size: rem-calc(38);
			}

			@include breakpoint(xlarge) {
				font-size: rem-calc(42);
			}
		}

		&--techno {
			@include breakpoint(xxmedium) {
				padding-left: rem-calc(48);
			}

			@include breakpoint(xlarge) {
				padding-left: rem-calc(54);
			}

			&::before {
				@include icon($icon-techno);
			}
		}

		&--gifts {
			@include breakpoint(xxmedium) {
				padding-left: rem-calc(48);
			}

			@include breakpoint(xlarge) {
				padding-left: rem-calc(52);
			}

			&::before {
				@include icon($icon-gifts);
			}
		}

		&--home {
			@include breakpoint(xxmedium) {
				padding-left: rem-calc(52);
			}

			@include breakpoint(xlarge) {
				padding-left: rem-calc(60);
			}

			&::before {
				@include icon($icon-home);
			}
		}

		&--kitchen {
			@include breakpoint(xxmedium) {
				padding-left: rem-calc(62);
			}

			@include breakpoint(xlarge) {
				padding-left: rem-calc(72);
			}

			&::before {
				@include icon($icon-kitchen);
			}
		}

		&--office {
			@include breakpoint(xxmedium) {
				padding-left: rem-calc(36);
			}

			@include breakpoint(xlarge) {
				padding-left: rem-calc(36);
			}

			&::before {
				@include icon($icon-office);
			}
		}

		&--fashion {
			@include breakpoint(xxmedium) {
				padding-left: rem-calc(56);
			}

			@include breakpoint(xlarge) {
				padding-left: rem-calc(64);
			}

			&::before {
				@include icon($icon-fashion);
			}
		}

		&--artisan {
			@include breakpoint(xxmedium) {
				padding-left: rem-calc(46);
			}

			@include breakpoint(xlarge) {
				padding-left: rem-calc(50);
			}

			&::before {
				@include icon($icon-artisan);
			}
		}
	}

	&__dropdown {
		@include dropdown-container;
		display: none;
		text-align: left;
		box-shadow: $modal-shadow;

		&.is-open {
			display: block;
			visibility: visible;
		}

		&.is-opening {
			display: block;
		}

		&--wide {
			@include grid-row-size(rem-calc(1170));
			right: 0% !important;
			left: 0% !important;
			width: 100%;
			margin: 0 auto !important;
		}
	}

	&__submenu-box {
		@include grid-row();
		@include grid-row-nest;
	}

	&__submenu-column {
		@include grid-column(12);
		@include grid-column-end;

		&--2 {
			@include grid-column(6);
			@include grid-column-end;
		}

		&--3 {
			@include grid-column(4);
			@include grid-column-end;
		}

		&--4 {
			@include grid-column(3);
			@include grid-column-end;
		}

		&--5 {
			@include grid-column(2.4);
			@include grid-column-end;
		}

		&--6 {
			@include grid-column(2);
			@include grid-column-end;
		}
	}

	&__submenu-header {
		color: $brand-dusty-gray;
		text-transform: uppercase;
		margin-bottom: rem-calc(10);
	}

	&__submenu {
		@include menu-simple(left);
		@include menu-direction(vertical);
		margin: 0;
	}

	&__submenu-item {
		padding: rem-calc(5 0);
	}
}
