$module: 'content-thin';

.#{$module} {
	// @include grid-row();
	@include grid-row;
	// @include grid-column-end

	@include breakpoint(xmedium) {
		@include grid-row-size(rem-calc(740));
	}

	@include breakpoint(xxmedium) {
		@include grid-row-size(rem-calc(954));
	}

	&__box {
		background: $white;
		padding: rem-calc(20);

		@include breakpoint(xxmedium) {
			padding: rem-calc(45 40 60);
		}
	}
}
