$module: 'main-slider';

.#{$module} {
	background: $brand-spring-wood;

	@include breakpoint(medium) {
		padding-top: rem-calc(10);
	}

	&__box {
		@include grid-column-row(0);
		float: none !important; // https://github.com/zurb/foundation-sites/issues/8108

		@include breakpoint(xmedium) {
			@include grid-column-gutter(20);
		}
	}

	&__slider {
		position: relative;

		@include breakpoint(xmedium) {
			padding: rem-calc(25 21);
		}

		@include breakpoint(xxmedium) {
			padding: rem-calc(30 25);
		}

		&::before {
			@include breakpoint(medium) {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: url('../../assets/img/slider-border.png');
				background-size: contain;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				content: '';
			}
		}

		&.slick-dotted.slick-slider {
			margin-bottom: rem-calc(0);

			@include breakpoint(medium) {
				margin-bottom: rem-calc(40);
			}
		}
	}

	&__slide {
		@include disable-mouse-outline;
		position: relative;

	}

	&__slide-inner {
		@include breakpoint(xxsmall down) {
			height: rem-calc(350);
			background-position: 50% 50%;
			background-size: cover;
		}

		@include breakpoint(medium) {
			background: transparent !important;
		}
	}

	&__slide-image {
		@include show-for(medium);
	}

	&__slide-link {
		text-align: center;

		@include breakpoint(xxsmall down) {
			@include horizontal-center;
			width: rem-calc(118);
			bottom: rem-calc(50);
		}


		@include breakpoint(medium) {
			@include vertical-center;
			right: rem-calc(40);
			width: rem-calc(197);
		}

		@include breakpoint(xmedium) {
			right: rem-calc(65);
			width: rem-calc(197);
		}

		@include link-hfa {
			&::before {
				color: $anchor-color-hover;
			}

			span {
				color: $white;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-solid-medium);
			font-size: rem-calc(34);
			color: $white;

			@include breakpoint(medium) {
				font-size: rem-calc(57);
			}
		}

		span {
			position: relative;
			z-index: 1;
			font-size: rem-calc(14);
			color: $body-font-color;
			text-transform: uppercase;

			@include breakpoint(medium) {
				font-size: rem-calc(18);
			}
		}
	}
}
