$module: 'features';

.#{$module} {
	position: relative;
	background-color: $black;
	background-image: url('../../assets/img/features/features-background.png');
	background-position: center center;
	background-repeat: repeat;

	&__box {
		@include grid-row();
		padding-top: rem-calc(56);
		padding-bottom: rem-calc(56);

		@include breakpoint(xxmedium) {
			background-image: url('../../assets/img/features/present.png');
			background-position: 95% 50%;
			background-repeat: no-repeat;
		}

		@include breakpoint(large) {
			background-position: 90% 50%;
		}
	}

	&__list {
		@include grid-column(12);

		@include breakpoint(xxmedium) {
			@include grid-column(6.5);
		}
	}

	&__image-box {
		@include show-for(xxmedium);
		@include grid-column(12);

		@include breakpoint(xxmedium) {
			@include grid-column(5.5);
		}
	}

	&__image {
		@include vertical-center;
	}
}
