$module: 'features-small';
$title-color: $body-font-color;
$desc-color: $brand-dusty-gray;

.#{$module} {
	&__list {
		@include grid-row();
		padding-top: rem-calc(30);
		padding-bottom: rem-calc(60);

		@include breakpoint(xmedium) {
			@include grid-row-size(rem-calc(740));
			padding-top: rem-calc(40);
		}

		@include breakpoint(xxmedium) {
			@include grid-row-size(rem-calc(954));
			padding-top: rem-calc(70);
		}
	}

	&__icon {
		position: relative;
		text-align: center;
		margin-bottom: rem-calc(10);
		padding-top: rem-calc(70);

		@include breakpoint(xmedium) {
			margin-bottom: rem-calc(30);
		}

		&::before {
			@include horizontal-center;
			top: 0;
		}

		&--delivery {
			&::before {
				@include icon($icon-delivery);
				font-size: rem-calc(58);
			}
		}

		&--warranty {
			&::before {
				@include icon($icon-protection);
				font-size: rem-calc(54);
			}
		}

		&--bonus {
			&::before {
				@include icon($icon-pig);
				font-size: rem-calc(60);
			}
		}

		&--discount {
			top: rem-calc(20);
			&::before {
				@include icon($icon-bank);
				font-size: rem-calc(36);
			}
		}
	}

	&__item {
		@include grid-column(12);

		@include breakpoint(xxsmall) {
			@include grid-column(6);
			margin-bottom: rem-calc(30);
		}

		@include breakpoint(xmedium) {
			@include grid-column(3);
		}

		& + .#{$module}__item {
			margin-top: rem-calc(30);

			@include breakpoint(xxsmall) {
				margin-top: 0;
			}
		}
	}

	&__title {
		font-size: rem-calc(18);
		color: $title-color;
		text-align: center;
	}

	&__desc {
		font-size: rem-calc(14);
		color: $desc-color;
		text-align: center;
	}
}
