$module: 'feature-item';
$text-color: #bfbfbf;

.#{$module} {
	@include grid-row();

	& + .#{$module} {
		margin-top: rem-calc(30);

		@include breakpoint(medium) {
				margin-top: rem-calc(52);
		}
	}

	&__icon-box {
		@include grid-column(12);
		text-align: center;
		margin-top: rem-calc(3);
		margin-bottom: rem-calc(15);

		@include breakpoint(medium) {
			@include grid-column(1.4, 0);
		}
	}

	&__text-box {
		@include grid-column(12);

		@include breakpoint(medium) {
			@include grid-column(10.6);
		}
	}

	&__title {
		font-size: rem-calc(24);
		color: $light-gray;
		text-align: center;
		margin-bottom: rem-calc(5);

		@include breakpoint(medium) {
			text-align: left;
		}
	}

	&__desc {
		font-size: rem-calc(16);
		color: $text-color;
	}
}
