$module: 'lang-switcher';

.#{$module} {

	&__link {
		font-size: rem-calc(16);
		border-bottom: 1px solid $brand-satin-linen;
		transition: all 300ms ease-in-out;

		&:hover,
		&:focus {
			border-bottom: 1px solid $anchor-color-hover;
		}
	}
}
