<ul class="pagination">
	<li class="pagination__item">
		<a href="" class="pagination__link pagination__link--prev">

		</a>
	</li>
	<li class="pagination__item">
		<a href="" class="pagination__link">
			<span>
				1
			</span>
		</a>
	</li>
	<li class="pagination__item">
		<a href="" class="pagination__link">
			<span>
				...
			</span>
		</a>
	</li>
	<li class="pagination__item">
		<a href="" class="pagination__link pagination__link--current">
			<span>
				2
			</span>
		</a>
	</li>
	<li class="pagination__item">
		<a href="" class="pagination__link">
			<span>
				3
			</span>
		</a>
	</li>
	<li class="pagination__item">
		<a href="" class="pagination__link pagination__link--next">

		</a>
	</li>
</ul>
