<div class="product-actions">
	<div class="product-actions__box">
		<div class="product-actions__availability">
			<div class="product-actions__availability-label">
				Товара нет в наличии
			</div>
			<button id="product-actions__availability-button" class="product-actions__availability-button">
				<span>
					Сообщить о наличии
				</span>
			</button>
		</div>
		<div class="product-actions__wishlist">
			<button class="product-actions__wishlist-button">
				<div class="product-actions__wishlist-button-title">
					В желания
				</div>
			</button>
		</div>
	</div>
</div>
