<div class="product-conditions">
	<div class="product-conditions__item" data-toggle="productConditionsDeliveryQv">
		<div class="product-conditions__title product-conditions__title--delivery">
			Доставка
		</div>
	</div>
	<div id="productConditionsDeliveryQv" class="product-conditions__dropdown product-conditions__dropdown--delivery">
		{{> product-delivery-info}}
	</div>
	<div class="product-conditions__item" data-toggle="productConditionsPaymentQv">
		<div class="product-conditions__title product-conditions__title--payment">
			Оплата
		</div>
	</div>
	<div id="productConditionsPaymentQv" class="product-conditions__dropdown product-conditions__dropdown--payment">
		{{> product-payment-info}}
	</div>
	<div class="product-conditions__item" data-toggle="productConditionsWarrantyQv">
		<div class="product-conditions__title product-conditions__title--warranty">
			Гарантия
		</div>
	</div>
	<div id="productConditionsWarrantyQv" class="product-conditions__dropdown product-conditions__dropdown--warranty">
		{{> product-delivery-info}}
	</div>

</div>
