<div class="product-quick-view-media">
	<div class="product-quick-view-media__image-box">
		<ul class="product-quick-view-media__images js-product-quick-view-images js-quick-view-videos">
			<li class="product-quick-view-media__image-link">
				<img class="product-quick-view-media__image" src="http://placehold.it/600x560?text=Image+1" alt="">
			</li>
			<li class="product-quick-view-media__image-link">
				<img class="product-quick-view-media__image" src="http://placehold.it/600x560?text=Image+2" alt="">
			</li>
			<li class="product-quick-view-media__image-link">
				<img class="product-quick-view-media__image" src="http://placehold.it/600x560?text=Image+3" alt="">
			</li>
			<li class="product-quick-view-media__image-link">
				<img class="product-quick-view-media__image" src="http://placehold.it/600x560?text=Image+4" alt="">
			</li>
			<li class="product-quick-view-media__image-link">
				<div data-type="youtube" data-video-id="S3fTw_D3l10"></div>
			</li>
			<li class="product-quick-view-media__image-link">
				<img class="product-quick-view-media__image" src="http://placehold.it/600x560?text=Image+6" alt="">
			</li>
			<li class="product-quick-view-media__image-link">
				<img class="product-quick-view-media__image" src="http://placehold.it/600x560?text=Image+7" alt="">
			</li>
			<li class="product-quick-view-media__image-link">
				<img class="product-quick-view-media__image" src="http://placehold.it/600x560?text=Image+8" alt="">
			</li>
			<li class="product-quick-view-media__image-link">
				<img class="product-quick-view-media__image" src="http://placehold.it/600x560?text=Image+9" alt="">
			</li>
			<li class="product-quick-view-media__image-link">
				<img class="product-quick-view-media__image" src="http://placehold.it/600x560?text=Image+9" alt="">
			</li>
			<li class="product-quick-view-media__image-link">
				<img class="product-quick-view-media__image" src="http://placehold.it/600x560?text=Image+10" alt="">
			</li>
		</ul>
	</div>
	<div class="product-quick-view-media__thumbnails-box">
		<ul class="product-quick-view-media__thumbnails js-product-quick-view-thumbnails">
			<li class="product-quick-view-media__thumbnail-link">
				<img class="product-quick-view-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+1" alt="">
			</li>
			<li class="product-quick-view-media__thumbnail-link">
				<img class="product-quick-view-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+2" alt="">
			</li>
			<li class="product-quick-view-media__thumbnail-link">
				<img class="product-quick-view-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+3" alt="">
			</li>
			<li class="product-quick-view-media__thumbnail-link">
				<img class="product-quick-view-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+4" alt="">
			</li>
			<li class="product-quick-view-media__thumbnail-link">
				<img class="product-quick-view-media__thumbnail-image" src="http://placehold.it/54x54?text=Video" alt="">
			</li>
			<li class="product-quick-view-media__thumbnail-link">
				<img class="product-quick-view-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+6" alt="">
			</li>
			<li class="product-quick-view-media__thumbnail-link">
				<img class="product-quick-view-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+7" alt="">
			</li>
			<li class="product-quick-view-media__thumbnail-link">
				<img class="product-quick-view-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+8" alt="">
			</li>
			<li class="product-quick-view-media__thumbnail-link">
				<img class="product-quick-view-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+9" alt="">
			</li>
			<li class="product-quick-view-media__thumbnail-link">
				<img class="product-quick-view-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+10" alt="">
			</li>
		</ul>
	</div>
</div>
