<div class="product-intro">
	<div class="product-intro__box" data-equalizer-watch>
		<a href="#" class="product-intro__image-box">
			<img src="http://placehold.it/400x400?text=Image+1" alt="" class="product-intro__image">
			<div class="product-intro__quick-view">
				<button class="product-intro__quick-view-button" data-open="product-quick-view">
					Быстрый просмотр
				</button>
			</div>
		</a>
		<h3 class="product-intro__title">
			<a href="#" class="product-intro__title-link">
				Мультяшная сумка 2D «Play Hooky» Мультяшная сумка
			</a>
		</h3>
		<div class="product-intro__desc">
			Модная копилка
		</div>
		<div class="product-intro__bottom">
			<div class="product-intro__price">
				<span class="product-intro__price-value">
					4660
				</span>
				<span class="product-intro__price-currency">
					грн.
				</span>
			</div>
		</div>
		<div class="product-intro__add-to-cart js-add-to-cart"></div>
		<div class="product-intro__add-to-wishlist js-add-to-wishlist"></div>
	</div>
</div>
