<div class="product-actions">
	<div class="product-actions__box">
		<div class="product-actions__buy-box">
			<button class="product-actions__buy-button js-add-to-cart">
				<span>
					Хочу вже!
				</span>
			</button>
		</div>
		<div class="product-actions__wishlist">
			<button class="product-actions__wishlist-button">
				<div class="product-actions__wishlist-button-title">
					В желания
				</div>
			</button>
		</div>
	</div>
</div>
