<div class="product-media-reveal" id="product-media-reveal">
    <div class="product-media-reveal__inner">
        <div class="product-media-reveal__box">
        	<div class="product-media-reveal__image-box">
        		<ul class="product-media-reveal__images js-product-images-in-reveal js-product-videos-in-reveal">
                    <li class="product-media-reveal__image-link">
                    	<img class="product-media-reveal__image" src="http://placehold.it/600x560?text=Image+1" alt="">
                    </li>
                    <li class="product-media-reveal__image-link">
                    	<img class="product-media-reveal__image" src="http://placehold.it/600x560?text=Image+2" alt="">
                    </li>
                    <li class="product-media-reveal__image-link">
                    	<img class="product-media-reveal__image" src="http://placehold.it/600x560?text=Image+3" alt="">
                    </li>
                    <li class="product-media-reveal__image-link">
                    	<div data-type="youtube" data-video-id="S3fTw_D3l10"></div>
                    </li>
                    <li class="product-media-reveal__image-link">
                    	<img class="product-media-reveal__image" src="http://placehold.it/600x560?text=Video" alt="">
                    </li>
                    <li class="product-media-reveal__image-link">
                    	<img class="product-media-reveal__image" src="http://placehold.it/600x560?text=Image+6" alt="">
                    </li>
                    <li class="product-media-reveal__image-link">
                    	<img class="product-media-reveal__image" src="http://placehold.it/600x560?text=Image+7" alt="">
                    </li>
                    <li class="product-media-reveal__image-link">
                    	<img class="product-media-reveal__image" src="http://placehold.it/600x560?text=Image+8" alt="">
                    </li>
                    <li class="product-media-reveal__image-link">
                    	<img class="product-media-reveal__image" src="http://placehold.it/600x560?text=Image+9" alt="">
                    </li>
                    <li class="product-media-reveal__image-link">
                    	<img class="product-media-reveal__image" src="http://placehold.it/600x560?text=Image+9" alt="">
                    </li>
                    <li class="product-media-reveal__image-link">
                    	<img class="product-media-reveal__image" src="http://placehold.it/600x560?text=Image+10" alt="">
                    </li>
        		</ul>
        	</div>
        	<div class="product-media-reveal__thumbnails-box">
        		<ul class="product-media-reveal__thumbnails js-product-thumbnails-in-reveal">
        			<li class="product-media-reveal__thumbnail-link">
        				<img class="product-media-reveal__thumbnail-image" src="http://placehold.it/54x54?text=Image+1" alt="">
        			</li>
        			<li class="product-media-reveal__thumbnail-link">
        				<img class="product-media-reveal__thumbnail-image" src="http://placehold.it/54x54?text=Image+2" alt="">
        			</li>
        			<li class="product-media-reveal__thumbnail-link">
        				<img class="product-media-reveal__thumbnail-image" src="http://placehold.it/54x54?text=Image+3" alt="">
        			</li>
        			<li class="product-media-reveal__thumbnail-link">
        				<img class="product-media-reveal__thumbnail-image" src="http://placehold.it/54x54?text=Video" alt="">
        			</li>
        			<li class="product-media-reveal__thumbnail-link">
        				<img class="product-media-reveal__thumbnail-image" src="http://placehold.it/54x54?text=Image+5" alt="">
        			</li>
        			<li class="product-media-reveal__thumbnail-link">
        				<img class="product-media-reveal__thumbnail-image" src="http://placehold.it/54x54?text=Image+6" alt="">
        			</li>
        			<li class="product-media-reveal__thumbnail-link">
        				<img class="product-media-reveal__thumbnail-image" src="http://placehold.it/54x54?text=Image+7" alt="">
        			</li>
        			<li class="product-media-reveal__thumbnail-link">
        				<img class="product-media-reveal__thumbnail-image" src="http://placehold.it/54x54?text=Image+8" alt="">
        			</li>
        			<li class="product-media-reveal__thumbnail-link">
        				<img class="product-media-reveal__thumbnail-image" src="http://placehold.it/54x54?text=Image+9" alt="">
        			</li>
        			<li class="product-media-reveal__thumbnail-link">
        				<img class="product-media-reveal__thumbnail-image" src="http://placehold.it/54x54?text=Image+10" alt="">
        			</li>
        		</ul>
        	</div>
        </div>
        <div class="product-media-reveal__buy">
            <button class="product-media-reveal__buy-button">
                <span>
                    Хочу вже!
                </span>
            </button>
        </div>
      <button class="product-media-reveal__close" data-close aria-label="Закрыть" type="button">
      </button>
    </div>
</div>
