<div class="product">
	<div class="product__navigation">
		<div class="product__back">
			{{> back-button}}
		</div>
		<div class="product__breadcrumbs">
			{{> breadcrumbs-product}}
		</div>
	</div>
	<div class="product__box">
		<div class="product__media-box">
			{{> product-media}}
		</div>
		<div class="product__data-box">
			<div class="product__sku">
				Артикул: 392003
			</div>
			<h1 class="product__title">
				Чашка «Smilecup»
			</h1>
			<div class="prodcut__price-stock">
				{{#ifpage 'product'}}
					{{> product-price-stock}}
				{{/ifpage}}

				{{#ifpage 'product-2'}}
					{{> product-price-stock-2}}
				{{/ifpage}}

				{{#ifpage 'product-3'}}
					{{> product-price-stock-3}}
				{{/ifpage}}
			</div>

			<div class="product__actions-box">
				{{#ifpage 'product'}}
					{{> product-actions}}
				{{/ifpage}}

				{{#ifpage 'product-3' 'product-2'}}
					{{> product-actions-2}}
				{{/ifpage}}
			</div>
			{{#ifpage 'product-3'}}
				{{> product-options}}
			{{/ifpage}}
			<div class="product__conditions">
				{{> product-conditions}}
			</div>
			<div class="product__tabs-box">
				<ul class="product-tabs" id="product-tabs">
					<li class="product-tabs__title product-tabs__title--active">
						<a class="product-tabs__link" href="#description" aria-selected="true">
							Описание
						</a>
					</li>
					<li class="product-tabs__title">
						<a class="product-tabs__link" href="#characteristics">
							Характеристика
						</a>
					</li>
				</ul>

				<div class="product-tabs__content" data-tabs-content="product-tabs">
					<div class="product-tabs__panel product-tabs__panel--active" id="description">
						<p>Удивительный и веселый комплект!  Этот оригинальный концепт украинской дизайн-студии "PSYHO" вошел в международный рейтинг!</p>
					</div>
					<div class="product-tabs__panel" id="characteristics">
						{{> product-characteristics}}
					</div>
				</div>
			</div>
		</div>
		<div class="product__desc-box">
			<h2 class="product__desc-title">
				Пробковый глобус для путешественников
			</h2>
			<div class="product__desc">
				На самом деле все просто и со вкусом. Купите пробковый глобус и помечайте цветными канцелярскими кнопками (которые идут в комплекте) места на минималистичной карте мира, где вы провели свой незабываемый отпуск или только наметили в планах на будущее поездку.
				Также на глобус можно прикреплять открытки и фотографии, которые были привезены из разных стран. А если еще остались места, в которых вы не были, но очень хотите побывать, их можно отметить кнопками другого цвета.
			</div>
		</div>
	</div>
</div>
