<section class="product-related">
	<div class="product-related__box">
		<h4 class="product-related__title">
			Вам тоже может понравиться
		</h4>
		<div class="product-related__slider js-product-related-slider">
			<div class="product-related__item">
				{{> product-intro}}
			</div>
			<div class="product-related__item">
				{{> product-intro}}
			</div>
			<div class="product-related__item">
				{{> product-intro}}
			</div>
			<div class="product-related__item">
				{{> product-intro}}
			</div>
			<div class="product-related__item">
				{{> product-intro}}
			</div>
			<div class="product-related__item">
				{{> product-intro}}
			</div>
		</div>
	</div>

</section>
