<div class="product-characteristics">
	<div class="product-characteristics__row">
		<div class="product-characteristics__title">
			Дизайн:
		</div>
		<div class="product-characteristics__value">
			<a href="brand.html" class="product-characteristics__link">
				Psyho
			</a>
		</div>
	</div>
	<div class="product-characteristics__row">
		<div class="product-characteristics__title">
			Комплектация:
		</div>
		<div class="product-characteristics__value">
			чашка + блюдце
		</div>
	</div>
	<div class="product-characteristics__row">
		<div class="product-characteristics__title">
			Материал:
		</div>
		<div class="product-characteristics__value">
			фарфор
		</div>
	</div>
	<div class="product-characteristics__row">
		<div class="product-characteristics__title">
			Объем чашки:
		</div>
		<div class="product-characteristics__value">
			180 мл
		</div>
	</div>
	<div class="product-characteristics__row">
		<div class="product-characteristics__title">
			Упаковка:
		</div>
		<div class="product-characteristics__value">
			картонная коробка 15х15х8 см.
		</div>
	</div>
	<div class="product-characteristics__row">
		<div class="product-characteristics__title">
			Вес в упаковке:
		</div>
		<div class="product-characteristics__value">
			450 г
		</div>
	</div>
</div>
