<div class="product-options">
	<div class="product-options__row">
		<div class="product-options__title">
			Цвет:
		</div>
		<div class="product-options__values">
			<div class="product-options__option-item">
				<input id="product-options-color1" class="product-options__option-input" type="radio" name="product-color" value="">
				<label class="product-options__option-label" for="product-options-color1">
					<span class="product-options__option"></span>
				</label>
			</div>
			<div class="product-options__option-item">
				<input id="product-options-color2" class="product-options__option-input" type="radio" name="product-color" value="">
				<label class="product-options__option-label" for="product-options-color2">
					<span class="product-options__option"></span>
				</label>
			</div>
		</div>
	</div>
	<div class="product-options__row">
		<div class="product-options__title">
			Размер:
		</div>
		<div class="product-options__values">
			<div class="product-options__option-item product-options__option-item">
				<input id="product-options-size1" class="product-options__option-input" type="radio" name="product-size" value="">
				<label class="product-options__option-label" for="product-options-size1">
					<span class="product-options__option product-options__option--size">S</span>
				</label>
			</div>
			<div class="product-options__option-item">
				<input id="product-options-size2" class="product-options__option-input" type="radio" name="product-size" value="">
				<label class="product-options__option-label" for="product-options-size2">
					<span class="product-options__option product-options__option--size">M</span>
				</label>
			</div>
			<div class="product-options__option-item">
				<input id="product-options-size3" class="product-options__option-input" type="radio" name="product-size" value="">
				<label class="product-options__option-label" for="product-options-size3">
					<span class="product-options__option product-options__option--size">L</span>
				</label>
			</div>
		</div>
	</div>
	<div class="product-options__row">
		<div class="product-options__title">
			Вариант:
		</div>
		<div class="product-options__values">
			<select class="product-options__values-select">
				<option value="husker">Husker</option>
				<option value="starbuck">Starbuck</option>
				<option value="hotdog">Hot Dog</option>
				<option value="apollo">Apollo</option>
			</select>
		</div>
	</div>
	<div class="product-options__row">
		<div class="product-options__title">
			Размер:
		</div>
		<div class="product-options__values">
			<div class="product-options__option-item product-options__option-item">
				<input id="product-options-size1" class="product-options__option-input" type="radio" name="product-size" value="">
				<label class="product-options__option-label" for="product-options-size1">
					<span class="product-options__option product-options__option--size">S</span>
				</label>
			</div>
			<div class="product-options__option-item">
				<input id="product-options-size2" class="product-options__option-input" type="radio" name="product-size" value="">
				<label class="product-options__option-label" for="product-options-size2">
					<span class="product-options__option product-options__option--size">M</span>
				</label>
			</div>
			<div class="product-options__option-item">
				<input id="product-options-size3" class="product-options__option-input" type="radio" name="product-size" value="">
				<label class="product-options__option-label" for="product-options-size3">
					<span class="product-options__option product-options__option--size">L</span>
				</label>
			</div>
		</div>
	</div>
</div>
