<div class="product-media">
	<div class="product-media__image-box">
		<ul class="product-media__images js-product-images js-product-videos">
			<li class="product-media__image-link">
				<img class="product-media__image" src="http://placehold.it/600x560?text=Image+1" alt="">
			</li>
			<li class="product-media__image-link">
				<img class="product-media__image" src="http://placehold.it/600x560?text=Image+2" alt="">
			</li>
			<li class="product-media__image-link">
				<img class="product-media__image" src="http://placehold.it/600x560?text=Image+3" alt="">
			</li>
			<li class="product-media__image-link">
				<img class="product-media__image" src="http://placehold.it/600x560?text=Image+4" alt="">
			</li>
			<li class="product-media__image-link">
				<div data-type="youtube" data-video-id="S3fTw_D3l10"></div>
			</li>
			<li class="product-media__image-link">
				<img class="product-media__image" src="http://placehold.it/600x560?text=Image+6" alt="">
			</li>
			<li class="product-media__image-link">
				<img class="product-media__image" src="http://placehold.it/600x560?text=Image+7" alt="">
			</li>
			<li class="product-media__image-link">
				<img class="product-media__image" src="http://placehold.it/600x560?text=Image+8" alt="">
			</li>
			<li class="product-media__image-link">
				<img class="product-media__image" src="http://placehold.it/600x560?text=Image+9" alt="">
			</li>
			<li class="product-media__image-link">
				<img class="product-media__image" src="http://placehold.it/600x560?text=Image+9" alt="">
			</li>
			<li class="product-media__image-link">
				<img class="product-media__image" src="http://placehold.it/600x560?text=Image+10" alt="">
			</li>
		</ul>
		<div class="product-media__image-zoom">
			<span class="product-media__iamge-zoom-toggle" data-open="product-media-reveal">
				Увеличить фото
			</span>
		</div>
	</div>
	<div class="product-media__thumbnails-box">
		<ul class="product-media__thumbnails js-product-thumbnails">
			<li class="product-media__thumbnail-link">
				<img class="product-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+1" alt="">
			</li>
			<li class="product-media__thumbnail-link">
				<img class="product-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+2" alt="">
			</li>
			<li class="product-media__thumbnail-link">
				<img class="product-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+3" alt="">
			</li>
			<li class="product-media__thumbnail-link">
				<img class="product-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+4" alt="">
			</li>
			<li class="product-media__thumbnail-link">
				<img class="product-media__thumbnail-image" src="http://placehold.it/54x54?text=Video" alt="">
			</li>
			<li class="product-media__thumbnail-link">
				<img class="product-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+6" alt="">
			</li>
			<li class="product-media__thumbnail-link">
				<img class="product-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+7" alt="">
			</li>
			<li class="product-media__thumbnail-link">
				<img class="product-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+8" alt="">
			</li>
			<li class="product-media__thumbnail-link">
				<img class="product-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+9" alt="">
			</li>
			<li class="product-media__thumbnail-link">
				<img class="product-media__thumbnail-image" src="http://placehold.it/54x54?text=Image+10" alt="">
			</li>
		</ul>
	</div>
</div>
{{> product-media-reveal}}
