<div class="product-intro">
	<div class="product-intro__box" data-equalizer-watch>
		<a href="#" class="product-intro__image-box">
			<img src="http://placehold.it/400x400?text=Image+1" alt="" class="product-intro__image">
		</a>
		<h3 class="product-intro__title">
			<a href="#" class="product-intro__title-link">
				Мультяшная сумка 2D «Play Hooky» Мультяшная сумка
				Мультяшная сумка 2D «Play Hooky» Мультяшная сумка
			</a>
		</h3>
		<div class="product-intro__desc">
			Модная копилка
		</div>
		<div class="product-intro__price">
			<span class="product-intro__price-value">
				4660
			</span>
			<span class="product-intro__price-sign">
				грн.
			</span>
		</div>
	</div>
</div>
