<div class="product-conditions">
	<div class="product-conditions__item" data-toggle="productConditionsDelivey">
		<div class="product-conditions__title product-conditions__title--delivery">
			Доставка
		</div>
	</div>
	<div id="productConditionsDelivey" class="product-conditions__dropdown product-conditions__dropdown--delivery">
		{{> product-delivery-info}}
	</div>
	<div class="product-conditions__item" data-toggle="productConditionsPayment">
		<div class="product-conditions__title product-conditions__title--payment">
			Оплата
		</div>
	</div>
	<div id="productConditionsPayment" class="product-conditions__dropdown product-conditions__dropdown--payment">
		{{> product-payment-info}}
	</div>
	<div class="product-conditions__item" data-toggle="productConditionsWarranty">
		<div class="product-conditions__title product-conditions__title--warranty">
			Гарантия
		</div>
	</div>
	<div id="productConditionsWarranty" class="product-conditions__dropdown product-conditions__dropdown--warranty">
		{{> product-delivery-info}}
	</div>

</div>
