<div class="product-intro product-intro--waitlist">
	<div class="product-intro__box">
		<a href="#" class="product-intro__image-box">
			<img src="http://placehold.it/400x400?text=Image+1" alt="" class="product-intro__image">
		</a>
		<h3 class="product-intro__title">
			<a href="#" class="product-intro__title-link" data-equalizer-watch>
				Мультяшная сумка 2D «Play Hooky» Мультяшная сумка
			</a>
		</h3>
		<div class="product-intro__desc">
			Модная копилка
		</div>
		<div class="product-intro__bottom">
			<div class="product-intro__stock-status product-intro__stock-status--green">
				Ожидается поставка
			</div>
			<div class="product-intro__price product-intro__price--gray">
				<span class="product-intro__price-value">
					4660
				</span>
				<span class="product-intro__price-currency">
					грн.
				</span>
			</div>
		</div>
		<div class="product-intro__in-waitlist"></div>
		<div class="product-intro__in-whishlist"></div>
		<div class="product-intro__remove js-product-intro-remove"></div>
	</div>
</div>
