<div class="product-price-stock">
	<div class="product-price-stock__box">
		<div class="product-price-stock__price">
			<span class="product-price-stock__price-value">
				345
			</span>
			<span class="product-price-stock__price-currency">
				грн.
			</span>
		</div>
		<div class="product-price-stock__stock-status">
			<span>
				в наличии
			</span>
		</div>
	</div>
</div>
