<div class="product-intro product-intro--wishlist product-intro--out-of-stock">
	<div class="product-intro__box">
		<a href="#" class="product-intro__image-box">
			<img src="http://placehold.it/400x400?text=Image+1" alt="" class="product-intro__image">
			<div class="product-intro__notification js-product-intro__notification">
				<div class="product-intro__notification-out-of-stock">
					Товара нет в наличии
				</div>
				<a href="#" class="product-intro__notification-link js-product-intro__notification-link">
					<span>
						Сообщить о наличии
					</span>
				</a>
			</div>
			<div class="product-intro__notification-message js-product-intro__notification-message">
				<div class="product-intro__notification-text">
					<span>
						Товара добавлен в
					</span>
					<span>
						<a href="waitlist.html">
							лист ожидания
						</a>
					</span>
				</div>
			</div>
		</a>
		<h3 class="product-intro__title">
			<a href="#" class="product-intro__title-link" data-equalizer-watch>
				Мультяшная сумка 2D «Play Hooky» Мультяшная сумка
			</a>
		</h3>
		<div class="product-intro__desc">
			Модная копилка
		</div>
		<div class="product-intro__bottom">
			<div class="product-intro__stock-status product-intro__stock-status--gray">
				Закончился
			</div>
			<div class="product-intro__price product-intro__price--gray">
				<span class="product-intro__price-value">
					4660
				</span>
				<span class="product-intro__price-currency">
					грн.
				</span>
			</div>
		</div>
		<div class="product-intro__in-wishlist"></div>
		<div class="product-intro__remove js-product-intro-remove"></div>
	</div>
</div>
