<div id="product-quick-view" class="product-quick-view">
	<div class="product-quick-view__inner">
		<div class="product-quick-view__close" data-close aria-label="Закрыть">
		</div>
		<div class="product-quick-view__box">
			<div class="product-quick-view__left">
				{{> product-quick-view-media}}
			</div>
			<div class="product-quick-view__right">
				<div class="product-quick-view__sku">
					Артикул: 392003
				</div>
				<h1 class="product-quick-view__title">
					Чашка «Smilecup»
				</h1>
				<div class="product-quick-view__price-stock">
					{{> product-price-stock-3}}
				</div>
				<div class="product-quick-view__actions">
					{{> product-actions-2}}
				</div>
				<div class="product-quick-view__conditions">
					{{> product-conditions-quick-view}}
				</div>
				<div class="product-quick-view__tabs-box">
					<ul class="product-tabs" id="product-quick-view-tabs">
						<li class="product-tabs__title product-tabs__title--active">
							<a class="product-tabs__link" href="#quickViewDescription" aria-selected="true">
								Описание
							</a>
						</li>
						<li class="product-tabs__title">
							<a class="product-tabs__link" href="#quickViewCcharacteristics">
								Характеристика
							</a>
						</li>
					</ul>

					<div class="product-tabs__content" data-tabs-content="product-quick-view-tabs">
						<div class="product-tabs__panel product-tabs__panel--active" id="quickViewDescription">
							<p>Удивительный и веселый комплект!  Этот оригинальный концепт украинской дизайн-студии "PSYHO" вошел в международный рейтинг!</p>
						</div>
						<div class="product-tabs__panel" id="quickViewCcharacteristics">
							{{> product-characteristics}}
						</div>
					</div>
				</div>
			</div>
			<div class="product-quick-view__bottom">
					<a href="product.html" class="product-quick-view__readmore">
						Больше информации о товаре
					</a>
			</div>
		</div>
	</div>
</div>
