<div class="brand-intro">
	<div class="brand-intro__box">
		<div class="brand-intro__logo-box">
			<img src="http://placehold.it/200x200?text=200x200" alt="" class="brand-intro__logo-image">
		</div>
		<div class="brand-intro__content">
			<h2 class="brand-intro__title">
				<a href="" class="brand-intro__link">
					Balvi
				</a>
			</h2>
			<div class="brand-intro__desc">
				Испанский бренд. Слоган компании BALVI: «Подарки на все случаи жизни». Бренд BALVI проверенный украинским потребителем – отлично продается благодаря качественным товарам за вполне демократичную цену.
			</div>
		</div>
		<div class="brand-intro__nav-box">
			<div class="brand-intro__counter-box">
				<div class="brand-intro__counter-value">
					73
				</div>
				<div class="brand-intro__counter-label">
					Товара
				</div>
				<a href="" class="brand-intro__products-link">
					<span>
						Смотреть товары
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
