<div class="brands">
	<div class="brands__box">
		<h1 class="brands__title">
			Бренды
		</h1>
		<div class="brands__breadcrumbs">
			{{> breadcrumbs-brands}}
		</div>
		<div class="brands__list">
			{{> brand-intro}}
			{{> brand-intro}}
			{{> brand-intro}}
			{{> brand-intro}}
		</div>
	</div>
</div>
