$module: 'wishlist';

.#{$module} {
	background: $brand-spring-wood;

	&__box {
		@include grid-column-row();
		float: none !important; // https://github.com/zurb/foundation-sites/issues/8108
		padding-top: rem-calc(30);
		padding-bottom: rem-calc(65);
	}

	&__title {
		font-size: rem-calc(26);
		text-align: center;
		margin-bottom: rem-calc(25);

		@include breakpoint(xmedium) {
			font-size: rem-calc(36);
		}
	}

	&__product-list {
		@include clearfix;
		@include grid-layout(1, '.product-intro');
		background: $white;
		margin-bottom: rem-calc(-15);

		@include breakpoint(medium) {
			@include grid-layout(2, '.product-intro', 0);
		}

		@include breakpoint(xmedium) {
			@include grid-layout(3, '.product-intro', 0);
		}

		@include breakpoint(xxmedium) {
			@include grid-layout(4, '.product-intro', 0);
		}

		& > .product-intro {
			// margin-bottom: rem-calc(15);
			background: $white;
		}
	}
}
