$module: 'wishlist-toolbar';

.#{$module} {
	background: $white;
	border-bottom: 1px solid #eae7dd;

	&__box {
		@include clearfix;
		@include grid-column-row(30);
		float: none !important; // https://github.com/zurb/foundation-sites/issues/8108
		padding-top: rem-calc(30);
		padding-bottom: rem-calc(30);

		@include breakpoint(xmedium) {
			@include grid-column-gutter(60);
		}
	}

	&__left {
		@include clearfix;
		padding-bottom: rem-calc(15);

		@include breakpoint(xxmedium) {
			float: left;
			padding-top: rem-calc(10);
			padding-bottom: 0;
		}
	}

	&__title {
		font-size: rem-calc(20);
		line-height: 1;
		text-align: center;
		padding-bottom: rem-calc(20);

		@include breakpoint(medium) {
			float: left;
			padding-right: rem-calc(10);
			padding-bottom: 0;
		}

		@include breakpoint(xmedium) {
			font-size: rem-calc(24);
		}
	}

	&__links {
		text-align: center;

		@include breakpoint(medium) {
			float: left;
		}
	}

	&__edit-link {
		position: relative;
		display: inline-block;
		width: rem-calc(60);
		height: rem-calc(24);

		@include breakpoint(medium) {
			display: block;
			float: left;
		}

		&::before {
			@include absolute-center;
			@include icon($icon-pencil2);
			font-size: rem-calc(25);
		}
	}

	&__remove-link {
		position: relative;
		display: inline-block;
		width: rem-calc(60);
		height: rem-calc(24);

		@include breakpoint(medium) {
			display: block;
			float: left;
		}

		&::before {
			@include absolute-center;
			@include icon($icon-close);
			font-size: rem-calc(25);
		}

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: rem-calc(1);
			height: 100%;
			background: $brand-satin-linen;
			content: '';
		}
	}

	&__set-default-link {
		position: relative;
		display: block;
		padding-top: rem-calc(10);

		@include breakpoint(medium) {
			display: block;
			float: left;
			padding-top: 0;
			padding-left: rem-calc(20);
		}

		&::after {
			@include breakpoint(medium) {
				position: absolute;
				top: 0;
				left: 0;
				width: rem-calc(1);
				height: 100%;
				background: $brand-satin-linen;
				content: '';
			}
		}

		span {
			position: relative;
			height: rem-calc(24);
			color: #1fb94e;
			padding-left: rem-calc(30);

			&::before {
				@include vertical-center;
				@include icon($icon-check);
				left: 0;
				font-size: rem-calc(25);
				color: #1fb94e;
			}
		}
	}

	&__right {

		@include clearfix;
		display: block;
		text-align: center;
		border-top: 1px solid $brand-satin-linen;
		padding-top: rem-calc(15);

		@include breakpoint(xxmedium) {
			border-top: 0;
			padding-top: 0;
			float: right;
		}
	}

	&__social {
		display: inline-block;

		@include breakpoint(medium) {
			vertical-align: middle;
		}
	}

	&__social-link {
		position: relative;
		float: left;
		width: rem-calc(40);
		height: rem-calc(19);
		margin-right: rem-calc(20);
		// padding-right: rem-calc(23);

		@include breakpoint(xmedium) {
			width: rem-calc(60);
		}

		@include breakpoint(xxmedium) {
			width: rem-calc(40);
		}

		@include link-hfa {
			color: $anchor-color-hover;
		}

		&::before {
			@include absolute-center;
			font-size: rem-calc(19);
		}

		&--fb {
			&::before {
				@include icon($icon-facebook);
				font-size: rem-calc(22);
			}
		}

		&--vk {
			&::before {
				@include icon($icon-vk);
				font-size: rem-calc(19);
			}
		}

		&--inst {
			&::before {
				@include icon($icon-instagram);
				font-size: rem-calc(20);
			}
		}
	}

	&__share {
		text-align: center;
		padding-top: rem-calc(15);

		@include breakpoint(medium) {
			display: inline-block;
			padding-top: 0;
		}
	}

	&__share-link {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: rem-calc(134);
		height: rem-calc(45);

		&::before {
			@include absolute-center;
			@include icon($icon-blank-small);
			font-size: rem-calc(45);
		}

		span {
			@include absolute-center;
			z-index: 1;
			width: rem-calc(100);
			line-height: 1;
		}
	}
}
