<div class="header-user-links">
	<div class="header-user-links__list">
		<div class="header-user-links__item">
			<div class="header-user-links__user-score">
				<span>
					200 Балов
				</span>
			</div>
		</div>
		<div class="header-user-links__item">
			<div href="" class="header-user-links__link header-user-links__link--user float-right" data-toggle="user-account-dropdown">
				<span class="header-user-links__link-title">
					Владимир Иванкович
				</span>
			</div>
			<div id="user-account-dropdown" class="header-user-links__dropdown bottom">
				<div class="header-user-links__dropdown-box">
					<ul class="header-user-links__dropdown-menu">
						<li class="header-user-links__dropdown-menu-item">
							<a href="" class="header-user-links__dropdown-menu-link">
								Мой кабинет
							</a>
						</li>
						<li class="header-user-links__dropdown-menu-item">
							<a href="" class="header-user-links__dropdown-menu-link">
								Заказы
							</a>
						</li>
						<li class="header-user-links__dropdown-menu-item">
							<a href="" class="header-user-links__dropdown-menu-link">
								Баллы
							</a>
						</li>
						<li class="header-user-links__dropdown-menu-item">
							<a href="" class="header-user-links__dropdown-menu-link">
								Желания
							</a>
						</li>
						<li class="header-user-links__dropdown-menu-item">
							<a href="" class="header-user-links__dropdown-menu-link">
								Лист ожидания
							</a>
						</li>
						<li class="header-user-links__dropdown-menu-item">
							<a href="" class="header-user-links__dropdown-menu-link">
								Акции
							</a>
						</li>
						<li class="header-user-links__dropdown-menu-item">
							<a href="" class="header-user-links__dropdown-menu-link">
								Настройки
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="header-user-links__item">
			<a href="" class="header-user-links__link header-user-links__link--logout">
				<span class="header-user-links__link-title">
					Выйти
				</span>
			</a>
		</div>
	</div>
</div>
