<div class="header-user-links">
	<div class="header-user-links__list">
		<div class="header-user-links__item">
			<div href="#" data-toggle="loginReveal" class="header-user-links__link header-user-links__link--login">
				<span class="header-user-links__link-title">
					Вход с паролем
				</span>
			</div>
		</div>
		<div class="header-user-links__item">
			<div href="" data-toggle="registerReveal" class="header-user-links__link header-user-links__link--register">
				<span class="header-user-links__link-title">
					Регистрация
				</span>
			</div>
		</div>
	</div>
</div>
