$module: 'decoration-image';

.#{$module} {
	@include grid-column-row();
	padding-top: rem-calc(40);
	padding-bottom: 0;

	&__image {
		height: rem-calc(136);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-image: url('../../assets/img/deco/decoimage-xsmall.png');
		background-size: contain;

		@include breakpoint(xxsmall) {
			background-image: url('../../assets/img/deco/decoimage-small.png');
		}

		@include breakpoint(xmedium) {
			background-image: url('../../assets/img/deco/decoimage-medium.png');
		}

		@include breakpoint(xxmedium) {
			background-image: url('../../assets/img/deco/decoimage-large.png');
		}
	}
}
