$module: 'press-item';
$border-color: $brand-satin-linen;

.#{$module} {
	margin-bottom: rem-calc(30);

	@include breakpoint(xsmall) {
		@include grid-column(8);
		@include grid-column-offset(2);
		@include grid-column-end;
	}

	@include breakpoint(xxsmall) {
		@include grid-column(6, 40);
		@include grid-column-offset(0);
		@include grid-column-end;
	}

	@include breakpoint(xmedium) {
		@include grid-column(3);
		@include grid-column-offset(0);
	}

	@include breakpoint(xxmedium) {
		@include grid-column(21%);
		@include grid-column-offset(0);

		& + .#{$module} {
			@include grid-column-offset(5.3333%);
		}
	}

	&__title {
		font-size: rem-calc(26);
		text-align: center;
		margin-bottom: rem-calc(27);

		@include breakpoint(xxmedium) {
			font-size: rem-calc(30);
			text-align: left;
		}
	}

	&__title-link {
		border-bottom: 1px solid $body-font-color;

		@include link-hfa {
			border-bottom-color: $anchor-color-hover;
		}
	}

	&__image-link {
		display: block;
		border-radius: 100%;
		overflow: hidden;
	}

	&__image {
		border-radius: 100%;
	}

	&__subtitle {
		font-size: rem-calc(18);
		line-height: rem-calc(22);
		text-align: center;
		padding-top: rem-calc(20);
	}

	&__subtitle-link {
		border-bottom: 1px solid $border-color;

		@include link-hfa {
			border-bottom-color: $anchor-color-hover;
		}
	}
}
