$module: 'homepage-tabs';

.#{$module} {
	&__box {
		@include grid-row();
		padding-top: rem-calc(40);
		padding-bottom: rem-calc(60);
	}

	&__header {
		text-align: center;
		margin: 0;
		list-style-type: none;
	}

	&__header-title {
		display: inline-block;
		font-size: rem-calc(20);
		padding: rem-calc(0 10 0 0);
		vertical-align: top;

		@include breakpoint(medium) {
			font-size: rem-calc(24);
		}

		&--active {

			a {
				border-bottom: 3px solid $brand-yellow;
			}

		}

		& + .#{$module}__header-title {
			position: relative;
			padding-left: rem-calc(20);

			&::before {
				content: '/';
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	&__header-link {
		color: $body-font-color;
		border-bottom: 1px dashed $brand-light;

		&:hover,
		&:focus {
			color: $body-font-color;
			border-bottom: 3px solid $brand-yellow;
		}
	}

	&__panel {
		@include tabs-panel;
		padding-top: rem-calc(20);
	}

	&__panel-content {
		@include grid-row();
	}

	&__product-list {
		@include clearfix;
		@include grid-layout(1, '.product-intro');

		@include breakpoint(medium) {
			@include grid-layout(2, '.product-intro', 0);
		}

		@include breakpoint(xmedium) {
			@include grid-layout(3, '.product-intro', 0);
		}

		@include breakpoint(xxmedium) {
			@include grid-layout(4, '.product-intro', 0);
		}

		& > .product-intro {
			margin-bottom: rem-calc(15);
		}
	}

	&__show-more {
		@include grid-column-row;
		float: none !important;
		padding-top: rem-calc(20);
	}

	&__show-more-button {
		position: relative;
		display: block;
		width: rem-calc(196);
		height: rem-calc(57);
		font-size: rem-calc(16);
		line-height: rem-calc(57);
		color: $white;
		text-transform: uppercase;
		text-align: center;
		margin: 0 auto;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		@include link-hfa {
			color: $white;

			&::before {
				color: $anchor-color-hover;
			}

			span {
				color: $white;
			}
		}

		&::before {
			@include absolute-center;
			@include icon($icon-solid-medium);
			font-size: rem-calc(57);
			color: $black;
		}

		span {
			position: relative;
			z-index: 1;
			color: $white;
		}
	}
}
