{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vje</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body data-resize>
	{{> body}}
    <script src="{{root}}assets/js/loadjs.min.js"></script>
	<script type="text/javascript">
        loadjs(['assets/js/lib.js', 'assets/js/app.js'], {
            success: function() {
                app.initFoundation();
                app.init();
            },
        	async: false
        });
	</script>

  </body>
</html>
