$module: 'copyright';

.#{$module} {
	@include grid-column(12);
	font-size: rem-calc(14);
	text-align: center;

	@include breakpoint(xmedium) {
		@include grid-column(4.5);
		@include grid-column-position(-7.5);
		text-align: left;
	}
}
