$module: 'footer-email';

.#{$module} {
    @include grid-column(12);
	text-align: center;

	@include breakpoint(xmedium) {
		@include grid-column(4.5);
		@include grid-column-position(7.5);
        @include grid-column-end;
		text-align: right;
	}

    &__link {
        display: block;
    }
}
