$module: 'footer';
$border-color: $brand-satin-linen;

.#{$module} {
	padding: rem-calc(41 0 20);

    &__row {
        @include grid-row();
		@include grid-row-size(rem-calc(1160));

        &--padding-top {
            padding-top: rem-calc(35);

			@include breakpoint(xmedium) {
				padding-top: rem-calc(55);
			}
        }
    }

    &__column {
        @include grid-column(12);

		@include breakpoint(xmedium) {
			@include grid-column(2.5);
		}

		&--logo {
			@include grid-column(12);

			@include breakpoint(xmedium) {
				@include grid-column(4.5);
			}
		}

		& + & {
			// border-top: 1px solid red;
			// margin-top: rem-calc(20);
			// padding-top: rem-calc(20);
		}
    }

	&__column-header {
		position: relative;
		font-size: rem-calc(24);
		border-bottom: 1px solid $border-color;
		margin: 0;
		padding: rem-calc(20 25);
		cursor: pointer;

		@include breakpoint(xmedium) {
			border-top: 0;
			border-bottom: 0;
			padding: 0;
		}

		&::after {
			@include breakpoint(medium down) {
				@include vertical-center;
				@include icon($icon-arrow-2);
				right: rem-calc(30);
				width: rem-calc(30);
				height: rem-calc(28);
				font-size: rem-calc(28);
				transform: rotate(90deg) translateX(-50%);
				transition: all 100ms ease-in-out;
			}
		}

		&--collapsed {
			// border-bottom-color: transparent;
			&::after {
				@include breakpoint(xmedium down) {
					@include vertical-center;
					@include icon($icon-arrow-2);
				}
			}
		}
	}
}
