$module: 'footer-small';
$border-color: $brand-satin-linen;

.#{$module} {
	padding: rem-calc(0 0 20);

    &__row {
		@include grid-column-row();
		float: none !important; // https://github.com/zurb/foundation-sites/issues/8108
		font-size: rem-calc(14);
		text-align: center;

		@include breakpoint(xmedium) {
			@include grid-row-size(rem-calc(740));
		}

		@include breakpoint(xxmedium) {
			@include grid-row-size(rem-calc(954));
		}
    }
}
