$module: 'footer-social';

.#{$module} {
	@include grid-column(12);
	text-align: center;
	padding-top: rem-calc(20);
	padding-bottom: rem-calc(20);

	@include breakpoint(xmedium) {
		@include grid-column(3);
		position: relative;
		padding-top: 0;
		padding-bottom: 0;
		// text-align: right;
	}

    &__link {
		position: relative;
        display: inline-block;
		font-size: rem-calc(30);
		color: $body-font-color;

		@include breakpoint(xmedium) {
			font-size: rem-calc(20);
			transform: translateY(rem-calc(-5));
		}

		// @include breakpoint(xxmedium) {
		// 	transform: translateY(rem-calc(-10));
		// }

		&--fb {
			&::before {
				@include icon($icon-vk);

			}
		}

		&--inst {
			&::before {
				@include icon($icon-instagram);
			}
		}

		&--vk {
			&::before {
				@include icon($icon-facebook);
			}
		}

		& + & {
			margin-left: rem-calc(20);
		}
    }
}
