$module: 'footer-phone';

.#{$module} {
	text-align: center;

	@include breakpoint(xmedium) {
		text-align: right;
	}

	&__link {
		font-size: rem-calc(34);

		@include breakpoint(xmedium) {
			font-size: rem-calc(36);
			line-height: 1;
		}
	}
}
