$module: 'footer-menu';
$border-color: $brand-satin-linen;

.#{$module} {
	max-height: none;
	border-bottom: 1px solid $border-color;
	margin: 0;
	padding: rem-calc(15 25);
	list-style-type: none;

	@include breakpoint(xmedium) {
		border-bottom: 0;
		padding: rem-calc(15 0 0);
	}

	&--collapsed {
		max-height: 0;
		border-bottom-color: transparent;
		padding: 0;
		overflow: hidden;
	}

	&__item {
		display: block;
		margin-bottom: rem-calc(5);
	}

	&__link {
		font-size: rem-calc(16);
		text-transform: capitalize;
		border-bottom: 1px solid $brand-light;
	}
}
