<div class="main-slider">
	<div class="main-slider__box">
		<div id="mainSlider" class="main-slider__slider">
			<div class="main-slider__slide">
				<div class="main-slider__slide-inner js-main-slider__slide-inner" style="background-image: url('http://placehold.it/1120x428?text=1120x428')">
					<img src="http://placehold.it/1120x428?text=1120x428" alt="" class="main-slider__slide-image">
					<a href="#" class="main-slider__slide-link">
						<span>
							Посмотреть
						</span>
					</a>
				</div>
			</div>
			<div class="main-slider__slide">
				<div class="main-slider__slide-inner js-main-slider__slide-inner" style="background-image: url('http://placehold.it/1120x428?text=1120x428')">
					<img src="http://placehold.it/1120x428?text=1120x428-2" alt="" class="main-slider__slide-image">
					<a href="#" class="main-slider__slide-link">
						<span>
							Посмотреть
						</span>
					</a>
				</div>
			</div>
			<div class="main-slider__slide">
				<div class="main-slider__slide-inner js-main-slider__slide-inner" style="background-image: url('http://placehold.it/1120x428?text=1120x428')">
					<img src="http://placehold.it/1120x428?text=1120x428-3" alt="" class="main-slider__slide-image">
					<a href="#" class="main-slider__slide-link">
						<span>
							Посмотреть
						</span>
					</a>
				</div>
			</div>
			<div class="main-slider__slide">
				<div class="main-slider__slide-inner js-main-slider__slide-inner" style="background-image: url('http://placehold.it/1120x428?text=1120x428')">
					<img src="http://placehold.it/1120x428?text=1120x428-4" alt="" class="main-slider__slide-image">
					<a href="#" class="main-slider__slide-link">
						<span>
							Посмотреть
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
