@import "variables";

@font-face {
  font-family: 'icomoon';
  src:
    url('#{$icomoon-font-path}/icomoon.ttf?z6ym2m') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?z6ym2m') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?z6ym2m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-card .path1 {
  &:before {
    content: $icon-add-card-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-add-card .path2 {
  &:before {
    content: $icon-add-card-path2;  
    margin-left: -1.3203125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-add-card .path3 {
  &:before {
    content: $icon-add-card-path3;  
    margin-left: -1.3203125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-add-card .path4 {
  &:before {
    content: $icon-add-card-path4;  
    margin-left: -1.3203125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-add-card .path5 {
  &:before {
    content: $icon-add-card-path5;  
    margin-left: -1.3203125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-add-card .path6 {
  &:before {
    content: $icon-add-card-path6;  
    margin-left: -1.3203125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-add-card .path7 {
  &:before {
    content: $icon-add-card-path7;  
    margin-left: -1.3203125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-add-card .path8 {
  &:before {
    content: $icon-add-card-path8;  
    margin-left: -1.3203125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-add-card .path9 {
  &:before {
    content: $icon-add-card-path9;  
    margin-left: -1.3203125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-add-gift .path1 {
  &:before {
    content: $icon-add-gift-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-add-gift .path2 {
  &:before {
    content: $icon-add-gift-path2;  
    margin-left: -1.142578125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-add-gift .path3 {
  &:before {
    content: $icon-add-gift-path3;  
    margin-left: -1.142578125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-add-gift .path4 {
  &:before {
    content: $icon-add-gift-path4;  
    margin-left: -1.142578125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-arrow {
  &:before {
    content: $icon-arrow;
  }
}
.icon-artisan {
  &:before {
    content: $icon-artisan;
  }
}
.icon-bank {
  &:before {
    content: $icon-bank;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-check-2 {
  &:before {
    content: $icon-check-2;
  }
}
.icon-clip-2 {
  &:before {
    content: $icon-clip-2;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-combined-shape {
  &:before {
    content: $icon-combined-shape;
  }
}
.icon-comments {
  &:before {
    content: $icon-comments;
  }
}
.icon-delivery {
  &:before {
    content: $icon-delivery;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-fashion {
  &:before {
    content: $icon-fashion;
  }
}

