$icomoon-font-path: "../fonts/icomoon" !default;

$icon-add-card-path1: "\e900";
$icon-add-card-path2: "\e901";
$icon-add-card-path3: "\e902";
$icon-add-card-path4: "\e903";
$icon-add-card-path5: "\e904";
$icon-add-card-path6: "\e905";
$icon-add-card-path7: "\e906";
$icon-add-card-path8: "\e907";
$icon-add-card-path9: "\e908";
$icon-add-gift-path1: "\e909";
$icon-add-gift-path2: "\e90a";
$icon-add-gift-path3: "\e90b";
$icon-add-gift-path4: "\e90c";
$icon-arrow: "\e90d";
$icon-artisan: "\e90e";
$icon-bank: "\e90f";
$icon-check: "\e910";
$icon-check-2: "\e911";
$icon-clip-2: "\e912";
$icon-clock: "\e913";
$icon-close: "\e914";
$icon-combined-shape: "\e915";
$icon-comments: "\e916";
$icon-delivery: "\e917";
$icon-facebook: "\e918";
$icon-fashion: "\e919";
