<div class="wishlist">
	<div class="wishlist__box">
		<h1 class="wishlist__title">
			Мои списки желаний
		</h1>
		{{> wishlist-toolbar}}
		<div class="wishlist__product-list">
			{{#repeat 2}}
				{{> product-intro-wishlist}}
				{{> product-intro-wishlist-2}}
				{{> product-intro-wishlist}}
			{{/repeat}}
		</div>
	</div>
</div>
