<div class="wishlist-toolbar">
	<div class="wishlist-toolbar__box">
		<div class="wishlist-toolbar__left">
			<div class="wishlist-toolbar__title">
				Мой список желаний
			</div>
			<div class="wishlist-toolbar__links">
				<a id="wishlistToolbarEditLink" href="#" class="wishlist-toolbar__edit-link">

				</a>
				<a id="wishlistToolbarRemoveLink" href="" class="wishlist-toolbar__remove-link">

				</a>
				<a id="wishlistToolbarSetDefaultLink" href="" class="wishlist-toolbar__set-default-link">
					<span>
							Список по умолчанию
					</span>
				</a>
			</div>
		</div>
		<div class="wishlist-toolbar__right">
			<div class="wishlist-toolbar__social">
				<a href="" class="wishlist-toolbar__social-link wishlist-toolbar__social-link--fb"></a>
				<a href="" class="wishlist-toolbar__social-link wishlist-toolbar__social-link--inst"></a>
				<a href="" class="wishlist-toolbar__social-link wishlist-toolbar__social-link--vk"></a>
			</div>
			<div class="wishlist-toolbar__share">
				<a href="" class="wishlist-toolbar__share-link">
					<span>
						Подилиться ссылкой
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
